extends tpl

block page
  .product-page
    .container
      .product-page__header
        // PRODUCT HEADER
        .product-header
          .product-header__image
            img(src="/images/catalog/products/ant-16p.png" alt="")
          .product-header__text
            h1.product-header__title
              | АНТ - 16 / П система контроля корреспонденции
            p.product-header__desc
              | Предназначена для предотвращения диверсионно-террористических актов с использованием почтовых отправлений за счет выявления запрещенных веществ.
            .product-header__buttons
              a.btn(href="#contacts") Запросить стоимость
              a.btn-download(href='/uploads/catalog/downloads/leaflets/ant-p.pdf' target="_blank")
                .btn-download__label Скачать листовку
                .btn-download__ext (pdf, 1.3 Мб)
            h5 Температурный диапазон эксплуатации
            .product-header__temperature
              .temperature-zone
                .temperature-zone__min 0 °C
                .temperature-zone__max +40 °C

            h5 Аналитические характеристики
            .product-header__spec
              .spec-card
                .spec-card__title
                  | от 10
                  sup -5
                  |  мг/м
                  sup 3
                .spec-card__prase пороговая чувствительность
              .spec-card
                .spec-card__title не менее 95%
                .spec-card__prase селективность обнаружения
              .spec-card
                .spec-card__title до 2 минут
                .spec-card__prase быстродействие
        // END: PRODUCT HEADER


    .product-page__details
      //  TABS
      .tabs.tabs_theme-product
        .tabs__header
          .container
            ul.tabs__nav
              li.tabs__nav-item.tabs__nav-item_active
                a.tabs__nav-link(href='#tab1') Описание
              li.tabs__nav-item
                a.tabs__nav-link.tabs__nav-link_red(href='#tab2') Характеристики
        .tabs__body
          .tabs__item.tabs__item_active#tab1
            .container.service-page__article
              .row
                .col
                  h5 Определяет широкий класс веществ
                  ul.list-parallelogram
                    li Токсичные
                    li Сильнодействующие ядовитые
                    li Наркотические
                    li Стойкие органические загрязнители
                    li Горючие
                    li Аварийные химически опасные
                    li Взрывчатые
                    li Атмосферные загрязнители

                .col
                  h5 Применение
                  ul.list-parallelogram
                    li Пункты предварительного досмотра
                    li Спецпочта
                    li Пункты таможенного досмотра
                    li Обеспечение безопасности вип персон
                    li Почтовые отделения
                    li Логистические центры
                    li Корреспонденция организаций
                    li Пункты курьерских доставок
                  h5 Основные отличия от существующих систем
                  ul.list-parallelogram
                    li Отсутствие расходных материалов
                    li Низкий дрейф характеристик приборов
                    li Отсутствие перекрестной чувствительности
                    li Короткое постоянное время последействия

          .tabs__item#tab2
            .container
              .row
                .col
                  h5.h-separator Аналитические характеристики
                  table.table-params
                    tr
                      th Чувствительность
                    tr
                      td Токсичные вещества
                      td
                        | от 10
                        sup -5
                        |  мг/м
                        sup 3
                    tr
                      td Сильнодействующие ядовитые вещества (СДЯВ)
                      td от 0.01 ПДК
                    tr
                      td Наркотические вещества
                      td
                        | от 10
                        sup -6
                        |  мг/м
                        sup 3
                    tr
                      td Стойкие органические загрязнители
                      td
                        | от 10
                        sup -5
                        |  мг/м
                        sup 3
                    tr
                      td Горючие вещества
                      td от 0.1% НКПР
                    tr
                      td Взрывчатые вещества
                      td
                        | от 10
                        sup -5
                        |  мг/м
                        sup 3
                    tr
                      td Аварийные химически опасные вещества (АХОВ)
                      td
                        | от 10
                        sup -3
                        |  мг/м
                        sup 3
                    tr
                      td Взрывчатые вещества
                      td
                        | от 10
                        sup -5
                        |  мг/м
                        sup 3
                    tr
                      td Атмосферные загрязнители
                      td
                        | от 10
                        sup -3
                        |  мг/м
                        sup 3
                    tr
                      td Компоненты ракетных топлив (КРТ)
                      td
                        | от 10
                        sup -3
                        |  мг/м
                        sup 3
                .col
                  h5.h-separator Технические характеристики
                  table.table-params
                    tr
                      td Масса
                      td 36 кг
                    tr
                      td Габариты внешние
                      td 720 х 550 х 490 мм
                    tr
                      td Габариты рабочей камеры
                      td 410 х 275 х 360 мм
                    tr
                      td Напряжение питания / Частота
                      td 220 ± 10% В/50 ± 5% Гц
                    tr
                      td Разъем для подключения монитора
                      td HDMI
                    tr
                      td Внешний интерфейс
                      td USB 2.0


                  h5.h-separator Климатические условия эксплуатации
                  table.table-params
                    tr
                      td Температура окружающей среды
                      td от 0 °С до + 40 °С
                    tr
                      td Атмосферное давление
                      td от 60 - 140 кПа
                    tr
                      td Влажность
                      td до 98% (при 35 °С)
