extends tpl

block page
  .product-page
    .container
      .product-page__header
        // PRODUCT HEADER
        .product-header
          .product-header__image
            img(src="/images/catalog/products/ant-voda.png" alt="")
          .product-header__text
            h1.product-header__title
              | АНТ - ВОДА аналитический комплекс контроля качества воды
            p.product-header__desc
              | Предназначен для анализа качества природных, грунтовых и промышленных вод.
            .product-header__buttons
              a.btn(href="#contacts") Запросить стоимость
              a.btn-download(href='/uploads/catalog/downloads/leaflets/ant-voda.pdf' target="_blank")
                .btn-download__label Скачать листовку
                .btn-download__ext (pdf, 1.3 Мб)
            h5 Температурный диапазон эксплуатации
            .product-header__temperature
              .temperature-zone
                .temperature-zone__min +5 °C
                .temperature-zone__max +50 °C
        // END: PRODUCT HEADER


    .product-page__details
      //  TABS
      .tabs.tabs_theme-product
        .tabs__header
          .container
            ul.tabs__nav
              li.tabs__nav-item.tabs__nav-item_active
                a.tabs__nav-link(href='#tab1') Описание
              li.tabs__nav-item
                a.tabs__nav-link.tabs__nav-link_red(href='#tab2') Характеристики
        .tabs__body
          .tabs__item.tabs__item_active#tab1
            .container.service-page__article
              .row
                .col
                  h5 Основные возможности аналитического комплекса
                  ul.list-parallelogram
                    li Автоматизированный отбор проб воды для проведения экспресс-анализа зараженности воды
                    li Обнаружение токсичных, органических и других вредных веществ
                    li Хранение информации в энергонезависимой памяти
                    li Обнаружение активных окислителей, таких как хлор, фтор, аммиак, нитратов и других ионов
                    li Определение ряда физических параметров водных растворов: цветность и мутность
                    li Определение электрохимических параметров - pH, общая минерализация, общая окисляемость, а также общая биохимическая
                    li Измерение радиологических показателей качества воды
                    li Питание от сети переменного тока, от бортовой сети, от АКБ

                .col
                  h5 Применение
                  ul.list-parallelogram
                    li Контроль показателей водных растворов в полевых условиях
                    li Комплектация станций очистки бытовых, промышленных, сточных и природных вод
                    li Контроль источников водоснабжения
                    li Контроль технологических режимов систем водоподготовки

                  h5 Основные отличия от существующих систем
                  ul.list-parallelogram
                    li Опредение различных показателей (физических, электрохимических, обобщенных, токсичных и радиологических) воды по одной отобранной пробе
                    li Обнаружение токсичных и других вредных загрязнителей воды и водных растворов
                    li В ходе работы комплекса не требуется использование дополнительных расходных материалов

          .tabs__item#tab2
            .container
              .row
                .col
                  h5.h-separator Технические характеристики
                  table.table-params
                    tr
                      td Масса
                      td не более 20 кг
                    tr
                      td Габариты ДхШхВ
                      td не более 525х316х324
                    tr
                      td Отбор проб
                      td принудительный
                    tr
                      td Питание сетевое/бортовое/ от АКБ, В
                      td 220 / 12 – 48 /12-24
                    tr
                      td Потребляемая мощность, Вт
                      td не более 150
                .col
                  h5.h-separator Климатические условия эксплуатации
                  table.table-params
                    tr
                      td Температура окружающей среды, °C
                      td от +5 °C до +50 °C
                    tr
                      td Атмосферное давление, мм.рт.ст.
                      td от 600 до 800
                    tr
                      td Относительная влажность
                      td до 98%
              h5.h-separator Определяемые показатели водных растворов
              .row
                .col
                  table.table-params
                    tr
                      th Физические
                    tr
                      td Цветность по Pt-Ni шкале, град
                      td 0 – 2000/0 - 2500
                    tr
                      td Рассеивающая/Поглощающая способность, %
                      td 0 - 100/0 - 100
                    tr
                      td Мутность по каолиновой шкале, мг/дм
                        sup 3
                      td 0 - 500
                    tr
                      td Мутность по формазиновой шкале, NTU
                      td 0 - 4000
                    tr
                      td Температура водных сред/окружающей среды, °C
                      td - 5 - + 50/- 40 - +50

                  table.table-params
                    tr
                      th Обобщенные
                    tr
                      td Водородный показатель, рН
                      td 0 - 14
                    tr
                      td
                        | Окисляемость перманганатная, мг/дм
                        sup 3
                      td 1 - 30
                    tr
                      td Окисляемость минерализация, мг/дм
                        sup 3
                      td 10 - 2000
                    tr
                      td Общая соленость
                      td 1 - 20000
                    tr
                      td Общая и перманганатная окисляемость, мг/дм
                        sup 3
                      td 0 - 1000
                    tr
                      td ОВП, мВ
                      td -1000 - 1000
                  table.table-params
                    tr
                      th Контроль атмосферы
                    tr
                      td Токсичные, ядовитые, вредные<br> и органические полютанты, ПДК
                      td 0,1 – 100
                .col
                  table.table-params
                    tr
                      th Токсикологические
                    tr
                      td Азот аммонийный, мг/дм
                        sup 3
                      td 1 - 50
                    tr
                      td Хлор связанный/остаточный, мг/дм
                        sup 3
                      td 1 - 50 / 1 - 50
                    tr
                      td Нитриты (NO2), мг/дм
                        sup 3
                      td 1 - 500
                    tr
                      td Тяжелые металлы (Ti – U)*, мг/дм
                        sup 3
                      td 0,1 - 100
                  table.table-params
                    tr
                      th Токсичные вещества
                    tr
                      td Фосфорорганические
                      td 0,1 - 100
                    tr
                      td Ароматические
                      td 0,1 - 100
                    tr
                      td Амины
                      td 0,1 - 100
                    tr
                      td Ракетные топлива
                      td 0,1 - 100
                    tr
                      td Азотные и фосфатные удобрения
                      td 0,1 - 100
                    tr
                      td Органические растворенные
                      td 0,1 - 100

                  table.table-params
                    tr
                      th Радиологические
                    tr
                      td Продукты ядерного взрыва (удельная активность), Бк/дм
                        sup 3
                      td 1,2 - 5х10
                        sup 2
                    tr
                      td Амбиентная и экспозиционная доза γ-излучения, мкР
                      td 5 - 1000
