extends tpl

block page
  .product-page
    .container
      .product-page__header
        // PRODUCT HEADER
        .product-header
          .product-header__image
            img(src="/images/catalog/products/eco-monitoring-system.png" alt="")
          .product-header__text
            h1.product-header__title
              | Система непрерывного экологического мониторинга
            p.product-header__desc
              | Система непрерывного контроля состояния воздушной среды объектов и территорий с возможностью определения состава загрязнителей, уровня запыленности и ряда метеорологических показателей.
            .product-header__buttons
              a.btn(href="#contacts") Запросить стоимость
              a.btn-download(href='/uploads/catalog/downloads/leaflets/sistema-ehkomonitoringa.pdf' target="_blank")
                .btn-download__label Скачать листовку
                .btn-download__ext (pdf, 1.3 Мб)
            h5 Температурный диапазон эксплуатации
            .product-header__temperature
              .temperature-zone
                .temperature-zone__min -40 °C
                .temperature-zone__max +50 °C
        // END: PRODUCT HEADER


    .product-page__details
      //  TABS
      .tabs.tabs_theme-product
        .tabs__header
          .container
            ul.tabs__nav
              li.tabs__nav-item.tabs__nav-item_active
                a.tabs__nav-link(href='#tab1') Описание
              li.tabs__nav-item
                a.tabs__nav-link.tabs__nav-link_red(href='#tab2') Характеристики
        .tabs__body
          .tabs__item.tabs__item_active#tab1
            .container.service-page__article
              .row
                .col
                  h5 Применение
                  ul.list-parallelogram
                    li Непрерывный контроль атмосферного воздуха
                    li Контроль метеопараметров и уровня запыленности
                    li Определение состава атмосферных загрязнений
                    li Определение направления на источник загрязнения
                    li Передача измерений во внешние базы данных
                    li Прогнозирование развития экологической обстановки

                .col
                  h5 Основные отличия от существующих систем
                  ul.list-parallelogram
                    li Точность измерений не зависит от внешних факторов (°C, %, ММ РТ.СТ)
                    li Низкий дрейф характеристик приборов
                    li Автоматическая очистка и калибровка
                    li Отсутствие перекрестной чувствительности
                    li Принудительный отбор пробы
                    li Широкий диапазон измеряемых концентраций
                    li Не требует расходных материалов

          .tabs__item#tab2
            .container
              h5.h-separator Характеристики газоанализатора
              .row
                .col
                  table.table-params.mb-0
                    tr
                      td Ацетон
                      td от 0,05 до 100 мг/м
                        sup 3
                    tr
                      td Бензол
                      td от 0,05 до 200 мг/м
                        sup 3
                    tr
                      td Толуол
                      td от 0,05 до 200 мг/м
                        sup 3
                    tr
                      td Хлороформ
                      td от 1 до 200 мг/м
                        sup 3
                    tr
                      td Ксилол
                      td от 0,05 до 200 мг/м
                        sup 3
                    tr
                      td Фенол
                      td от 0,05 до 200 мг/м
                        sup 3
                    tr
                      td Метилмеркаптан
                      td от 0,02 до 100 мг/м
                        sup 3
                    tr
                      td Дихлорэтан
                      td от 0,02 до 100 мг/м
                        sup 3
                    tr
                      td Несимметричный диметилгидразин
                      td от 0,01 до 200 мг/м
                        sup 3
                    tr
                      td Моноэтаноламин
                      td от 0,05 до 100 мг/м
                        sup 3
                    tr
                      td Формальдегид
                      td от 0,01 до 200 мг/м
                        sup 3
                    tr
                      td Бутаналь
                      td от 0,01 до 50 мг/м
                        sup 3
                    tr
                      td Пентаналь
                      td от 0,01 до 50 мг/м
                        sup 3
                    tr
                      td Гексаналь
                      td от 0,01 до 50 мг/м
                        sup 3
                    tr
                      td Гептаналь
                      td от 0,01 до 50 мг/м
                        sup 3
                    tr
                      td Бензальдегид
                      td от 0,01 до 50 мг/м
                        sup 3
                    tr
                      td Октаналь
                      td от 0,01 до 50 мг/м
                        sup 3
                    tr
                      td Нонаналь
                      td от 0,01 до 50 мг/м
                        sup 3
                .col
                  table.table-params
                    tr
                      td Дихлорэтан
                      td от 0,05 до 50 мг/м
                        sup 3
                    tr
                      td Гексан
                      td от 0,01 до 500 мг/м
                        sup 3
                    tr
                      td Додекан
                      td от 0,01 до 500 мг/м
                        sup 3
                    tr
                      td Этанол
                      td от 0,1 до 500 мг/м
                        sup 3
                    tr
                      td Метанол
                      td от 0,01 до 200 мг/м
                        sup 3
                    tr
                      td Пропанол
                      td от 0,01 до 200 мг/м
                        sup 3
                    tr
                      td Метан
                      td от 1 до 10000 мг/м
                        sup 3
                    tr
                      td Аммиак
                      td от 0,02 до 300 мг/м
                        sup 3
                    tr
                      td Сероводород
                      td от 0,01 до 200 мг/м
                        sup 3
                    tr
                      td Хлор
                      td от 0,01 до 100 мг/м
                        sup 3
                    tr
                      td Диоксид азота
                      td от 0,01 до 200 мг/м
                        sup 3
                    tr
                      td Оксид азота
                      td от 0,1 до 500 мг/м
                        sup 3
                    tr
                      td Диоксид углерода
                      td от 1 до 300 мг/м
                        sup 3
                    tr
                      td Оксид углерода
                      td от 0,1 до 500 мг/м
                        sup 3
                    tr
                      td Сернистый ангидрид
                      td от 0,01 до 200 мг/м
                        sup 3
                    tr
                      td Фтор
                      td от 0,01 до 100 мг/м
                        sup 3
                    tr
                      td Синильная кислота
                      td от 0,01 до 100 мг/м
                        sup 3
                    tr
                      td Хлорводород
                      td от 0,01 до 100 мг/м
                        sup 3
                    //- tr*10>td+td>{}+sup{3}

              .row
                .col
                  h5.h-separator Характеристики анализатора пыли
                  table.table-params
                    tr
                      td Диапазон измерения массовой концентрации пыли
                      td 0 – 1000

                  h5.h-separator Характеристики метеостанции
                  table.table-params
                    tr
                      td Диапазон измерения скорости воздушного потока
                      td от 1 до 30 м/с
                    tr
                      td Диапазон измерений направления воздушного потока
                      td от 0° до 360°
                    tr
                      td Диапазон измерения температуры воздуха
                      td от - 40 до +80  °C
                .col
                  h5.h-separator Характеристики модуля передачи данных
                  table.table-params
                    tr
                      td Диапазоны
                      td UMTS 900/2100 МГц GSM 900/1800 МГц
                    tr
                      td Протокол обмена данными
                      td HTTP, HTTPS

                  h5.h-separator Технические характеристики
                  table.table-params
                    tr
                      td Масса
                      td до 10 кг
                    tr
                      td Габариты ДхШхВ
                      td 500х500х300 мм
                    tr
                      td Потребляемая мощность
                      td < 25 Вт
                    tr
                      td Напряжение питания
                      td 190-240 В
                    tr
                      td Время работы от аккумулятора
                      td до 12 часов
