extends tpl

block page
  .product-page
    .container
      .product-page__header
        // PRODUCT HEADER
        .product-header
          .product-header__image
            img(src="/images/catalog/products/oem-module.png" alt="")
          .product-header__text
            h1.product-header__title
              | TL - 0030 <br> детектор (ОЕМ-модуль)
            p.product-header__desc
              | Изготовлен на базе 8-и полупроводниковых сенсоров. Идентифицирует и определяет концентрацию до 16-и веществ (до 4-х одновременно). Список веществ, которые можно обнаруживать с помощью TL-0030 зависит от модификации изделия. Возможно формирование индивидуальных конфигураций.
            .product-header__buttons
              a.btn(href="#contacts") Запросить стоимость
              a.btn-download(href='/uploads/catalog/downloads/leaflets/tl-oem.pdf' target="_blank")
                .btn-download__label Скачать листовку
                .btn-download__ext (pdf, 1.3 Мб)
            h5 Температурный диапазон эксплуатации
            .product-header__temperature
              .temperature-zone
                .temperature-zone__min 0 °C
                .temperature-zone__max +55 °C

            h5 Аналитические характеристики
            .product-header__spec
              .spec-card
                .spec-card__title
                  | от 10
                  sup -5
                  |  мг/м
                  sup 3
                .spec-card__prase пороговая чувствительность
              .spec-card
                .spec-card__title не менее 95%
                .spec-card__prase селективность обнаружения
              .spec-card
                .spec-card__title не более 60 секунд
                .spec-card__prase последействие

            h5 Быстродействие
            .product-header__spec
              .spec-card
                .spec-card__title 5 секунд
                .spec-card__prase по высоким концентрациям
              .spec-card
                .spec-card__title 30 секунд
                .spec-card__prase по низким концентрациям
        // END: PRODUCT HEADER


    .product-page__details
      //  TABS
      .tabs.tabs_theme-product
        .tabs__header
          .container
            ul.tabs__nav
              li.tabs__nav-item.tabs__nav-item_active
                a.tabs__nav-link(href='#tab1') Описание
              li.tabs__nav-item
                a.tabs__nav-link.tabs__nav-link_red(href='#tab2') Характеристики
        .tabs__body
          .tabs__item.tabs__item_active#tab1
            .container.service-page__article
              .row
                .col
                  h5 Определяет широкий класс веществ
                  ul.list-parallelogram
                    li Токсичные
                    li Сильнодействующие ядовитые
                    li Наркотические
                    li Стойкие органические загрязнители
                    li Горючие
                    li Аварийные химически опасные
                    li Взрывчатые
                    li Атмосферные загрязнители

                .col
                  h5 Применение
                  ul.list-parallelogram
                    li Экологический мониторинг
                    li Промышленный мониторинг
                    li Контроль технологических процессов
                    li Антитеррор
                  h5 Основные отличия от существующих систем
                  ul.list-parallelogram
                    li Отсутствие расходных материалов
                    li Низкий дрейф характеристик приборов
                    li Отсутствие перекрестной чувствительности
                    li Принудительный отбор проб

          .tabs__item#tab2
            .container
              .row
                .col
                  h5.h-separator Аналитические характеристики
                  table.table-params
                    tr
                      th Чувствительность
                    tr
                      td Токсичные вещества
                      td
                        | от 10
                        sup -5
                        |  мг/м
                        sup 3
                    tr
                      td Сильнодействующие ядовитые вещества (СДЯВ)
                      td от 0.01 ПДК
                    tr
                      td Наркотические вещества
                      td
                        | от 10
                        sup -6
                        |  мг/м
                        sup 3
                    tr
                      td Стойкие органические загрязнители
                      td
                        | от 10
                        sup -5
                        |  мг/м
                        sup 3
                    tr
                      td Горючие вещества
                      td от 0.1% НКПР
                    tr
                      td Аварийные химически опасные вещества (АХОВ)
                      td
                        | от 10
                        sup -3
                        |  мг/м
                        sup 3
                    tr
                      td Взрывчатые вещества
                      td
                        | от 10
                        sup -5
                        | мг/м
                        sup 3
                    tr
                      td Атмосферные загрязнители
                      td
                        | от 10
                        sup -3
                        |  мг/м
                        sup 3
                    tr
                      td Компоненты ракетных топлив (КРТ)
                      td
                        | от 10
                        sup -3
                        |  мг/м
                        sup 3
                .col
                  h5.h-separator Технические характеристики
                  table.table-params
                    tr
                      td Внешний интерфейс
                      td USB6, UART
                    tr
                      td Масса
                      td 130 гр +/-10 гр
                    tr
                      td Габариты ДхШхВ
                      td 42,4 х 46,8 х 32,7 мм
                    tr
                      td Напряжение питания
                      td 6 - 8,5 В
                    tr
                      td Подключение проботборного устройства - насоса
                      td отверстие 3,8 мм
                    tr
                      td Ресурс фильтрующих элементов
                      td 10 000 циклов измерений

                  h5.h-separator Климатические условия эксплуатации
                  table.table-params
                    tr
                      td Температура окружающей среды
                      td от -40 °C до +55 °C
                    tr
                      td Атмосферное давление
                      td от 60 - 140 кПа
                    tr
                      td Влажность
                      td до 98 % (при 35°С)
