extends tpl

block page
  .category-page
    .container
      .category
        h3.category__title Системы экологического мониторинга
        p.category__desc
          | Комплекс средств, предназначенный для ведения непрерывного экологического мониторинга на объектах и территориях по широкому перечню показателей.
        .text-center
          button.category__btn
            .category__btn-icon
              img.icon(src="/images/arrow-down.svg")
            .category__btn-label Посмотреть продукцию
          .category__image
            img(src="/images/catalog/categories/eco-monitoring-stations.png")

    .category-products
      .container
        .category-products__wrp
          a.product-card(href='/gas-analysis/catalog/products/eco-monitoring-system.html')
            .product-card__image
              img(src="/images/catalog/products/eco-monitoring-system_preview.png")
            .product-card__data
              .product-card__title
                .product-card__name Система непрерывного экологического мониторинга
              .product-card__tegs
                .product-card__tegs-title Свойства:
                .product-card__tegs-wrp
                  .product-card__teg система самоочистки
                  .product-card__teg непрерывность измерений
                  .product-card__teg принудительный отбор пробы

          a.product-card(href='/gas-analysis/catalog/products/ozon.html')
            .product-card__image
              img(src="/images/catalog/products/ozon_preview.png")
            .product-card__data
              .product-card__title
                .product-card__model ОЗон
                .product-card__name Станция непрерывного экологического мониторинга
              .product-card__tegs
                .product-card__tegs-title Свойства:
                .product-card__tegs-wrp
                  .product-card__teg высокая селективность
                  .product-card__teg модульная архитектура
                  .product-card__teg большое количество параметров
