extends tpl

block page
  .category-page
    .container
      .category
        h3.category__title Электронный нос
        p.category__desc
          | Инновационный прибор, позволяющий одновременно идентифицировать и разделять до нескольких сотен веществ.
        .text-center
          button.category__btn
            .category__btn-icon
              img.icon(src="/images/arrow-down.svg")
            .category__btn-label Посмотреть продукцию
          .category__image
            img(src="/images/catalog/categories/electronic-nose.png")

    .category-products
      .container
        .category-products__wrp

          a.product-card(href='/gas-analysis/catalog/products/AHT-8-16-32-N-noc.html')
            .product-card__image
              img(src="/images/catalog/products/AHT-8-16-32-N-noc_preview.png")
            .product-card__data
              .product-card__title
                .product-card__model АНТ - 8 / 16 / 32 / N
                .product-card__name Электронный нос
              .product-card__tegs
                .product-card__tegs-title Свойства:
                .product-card__tegs-wrp
                  .product-card__teg одновременное обнаружение до 16 веществ
                  .product-card__teg гибконастраиваемый функционал ПО

          a.product-card(href='/gas-analysis/catalog/products/AHT-8-16-32-N.html')
            .product-card__image
              img(src="/images/catalog/products/AHT-8-16-32-N_preview.png")
            .product-card__data
              .product-card__title
                .product-card__model АНТ - 8 / 16 / 32 / N
                .product-card__name Переносной аналитический комплекс
              .product-card__tegs
                .product-card__tegs-title Свойства:
                .product-card__tegs-wrp
                  .product-card__teg библиотека веществ > 300
                  .product-card__teg нет перекрестной чувствительности
