extends tpl

block page
  .category-page
    .container
      .category
        h3.category__title Газосигнализаторы
        p.category__desc
          | Анализируют состояние воздуха и подают предупреждающий сигнал в случае обнаружения опасных веществ. Имеют компактные габариты, малый вес,
          br.laptop
          | длительное время непрерывной работы.
        .text-center
          button.category__btn
            .category__btn-icon
              img.icon(src="/images/arrow-down.svg")
            .category__btn-label Посмотреть продукцию
          .category__image
            img(src="/images/catalog/categories/gas-detectors.png")

    .category-products
      .container
        .category-products__wrp

          .a.product-card(href='/gas-analysis/catalog/products/molekula.html')
            .product-card__image
              img(src="/images/catalog/products/molekula_preview.png")
            .product-card__data
              .product-card__title
                .product-card__model Молекула
                .product-card__name Портативный газосигнализатор
              .product-card__tegs
                .product-card__tegs-title Свойства:
                .product-card__tegs-wrp
                  .product-card__teg высокая селективность
                  .product-card__teg простота применения
                  .product-card__teg компактность
                  .product-card__teg точность измерений
