extends tpl

block page
  .category-page
    .container
      .category
        h3.category__title Детектор (ОЕМ-модуль)
        p.category__desc Полнофункциональный ОЕМ-модуль, предназначен для использования в качестве детектора газов в различных газоаналитических приборах. Содержит 8 сенсоров SS-Gas, клапанную систему, фильтры и электронику управления и обработки результатов.
        .text-center
          button.category__btn
            .category__btn-icon
              img.icon(src="/images/arrow-down.svg")
            .category__btn-label Посмотреть продукцию
          .category__image
            img(src="/images/catalog/products/oem-module.png")

    .category-products
      .container
        .category-products__wrp
          a.product-card(href='/gas-analysis/catalog/products/TL-0030.html')
            .product-card__image
              img(src="/images/catalog/products/oem-module_preview.png")
            .product-card__data
              .product-card__title
                .product-card__model TL - 0030
                .product-card__name Детектор (OEM-модуль)
              .product-card__tegs
                .product-card__tegs-title Свойства:
                .product-card__tegs-wrp
                  .product-card__teg высокая чувствительность
                  .product-card__teg быстродействие
                  .product-card__teg высокая селективность
                  .product-card__teg простота интеграции
