extends ../../../../layouts/base
include ../../../../mixins/nav-bar

block append vars
  include ../../../../data/nav-items-gas


block body
  +nav-bar({ isWhite: true, navItems })
  include ../../../../blocks/menu
  include ../../../../blocks/category-carousel-gas

  block page
    .category-page
      .container
        .category
          h3.category__title Газоанализаторы
          p.category__desc  Портативные и стационарные газоанализаторы для определения широкого спектра опасных веществ, эффективные на объектах различной отраслевой специфики. <br> Надежная технология, уникальные сенсоры SS-GAS собственной разработки и простота применения обеспечивают максимальную безопасность и простоту обращения.
          .text-center
            button.category__btn
              .category__btn-icon
                img.icon(src="/images/arrow-down.svg")
              .category__btn-label Посмотреть продукцию
            .category__image
              img(src="/images/catalog/categories/electronic-nose.png")

      .category-products
        .container
          .category-products__wrp
            a.product-card(href='/gas-analysis/catalog/products/moment.html')
              .product-card__image
                img(src="/images/catalog/products/moment_preview.png")
              .product-card__data
                .product-card__title
                  .product-card__model Момент
                  .product-card__name Портативный газоанализатор
                .product-card__tegs
                  .product-card__tegs-title Свойства:
                  .product-card__tegs-wrp
                    .product-card__teg высокая селективность
                    .product-card__teg простота применения
                    .product-card__teg компактность
                    .product-card__teg точность измерений
            a.product-card(href='/gas-analysis/catalog/products/ant-u.html')
              .product-card__image
                img(src="/images/catalog/products/ant-u_preview.png")
              .product-card__data
                .product-card__title
                  .product-card__model АНТ - У
                  .product-card__name Стационарный газоанализатор
                .product-card__tegs
                  .product-card__tegs-title Свойства:
                  .product-card__tegs-wrp
                    .product-card__teg высокая селективность
                    .product-card__teg простота применения
                    .product-card__teg расширяемые библиотеки веществ
            a.product-card(href='/gas-analysis/catalog/products/ant-16p.html')
              .product-card__image
                img(src="/images/catalog/products/ant-16p_preview.png")
              .product-card__data
                .product-card__title
                  .product-card__model АНТ - 16/П
                  .product-card__name Система контроля корреспонденции
                .product-card__tegs
                  .product-card__tegs-title Свойства:
                  .product-card__tegs-wrp
                    .product-card__teg исключение человеческого фактора
                    .product-card__teg широкий диапазон измеряемых концентраций
            a.product-card(href='/gas-analysis/catalog/products/ant-bpla.html')
              .product-card__image
                img(src="/images/catalog/products/ant-bpla_preview.png")
              .product-card__data
                .product-card__title
                  .product-card__model АНТ - БПЛА
                  .product-card__name Газоанализатор для БПЛА
                .product-card__tegs
                  .product-card__tegs-title Свойства:
                  .product-card__tegs-wrp
                    .product-card__teg обнаружение веществ с высоты до 40 м
                    .product-card__teg передача данных в режиме реального времени
  include ../../../../blocks/contacts
  include ../../../../blocks/footer
