extends tpl

block page
  .category-page
    .container
      .category
        h3.category__title Лаборатория контроля качества воды
        p.category__desc
          | АНТ-ВОДА – аналитический комплекс контроля качества воды, предназначен для анализа природных, грунтовых и промышленных вод.
        .text-center
          button.category__btn
            .category__btn-icon
              img.icon(src="/images/arrow-down.svg")
            .category__btn-label Посмотреть продукцию
          .category__image
            img(src="/images/catalog/categories/Water-Quality-Control-Laboratory.png")

    .category-products
      .container
        .category-products__wrp

          a.product-card(href='/gas-analysis/catalog/products/ant-voda.html')
            .product-card__image
              img(src="/images/catalog/products/ant-voda_preview.png")
            .product-card__data
              .product-card__title
                .product-card__model АНТ - ВОДА
                .product-card__name Аналитический комплекс контроля качества воды
              .product-card__tegs
                .product-card__tegs-title Свойства:
                .product-card__tegs-wrp
                  .product-card__teg автоматизированный отбор проб
                  .product-card__teg ударопрочность
                  .product-card__teg расширяемые библиотеки веществ
