extends tpl

block page
  .product-page
    .container
      .product-page__header
        // PRODUCT HEADER
        .product-header
          .product-header__image
            img(src="/images/catalog/categories/rotary-devices.png" alt="")
          .product-header__text
            h1.product-header__title
              | ИРБИС | ОПУ
            p.product-header__desc
              | Маневренная поворотная платформа предназначена для перемещения установленного на нее оборудования в заданных пределах по углу места и азимуту с заданными скоростями. Обеспечивает широкий диапазон углов наклона и высокую поворотную скорость, что значительно увеличивает ракурсы наблюдения.
            .product-header__buttons
              a.btn(href='#contacts') Запросить стоимость
              a.btn-download(href='/uploads/catalog/downloads/leaflets/irbis-opu.pdf' target="_blank")
                .btn-download__label Скачать листовку
                .btn-download__ext (pdf, 9.7 Мб)
            h5 Характеристики тепловизионного канала
            .product-header__spec
              .spec-card
                .spec-card__title На 360 ° поворот
                .spec-card__prase С охватом «запрещенной зоны»
              .spec-card
                .spec-card__title 70 °/ C
                .spec-card__prase Высокая скорость поворота
        // END: PRODUCT HEADER


    .product-page__details
      //  TABS
      .tabs.tabs_theme-product
        .tabs__header
          .container
            ul.tabs__nav
              li.tabs__nav-item.tabs__nav-item_active
                a.tabs__nav-link(href='#tab1') Описание
              li.tabs__nav-item
                a.tabs__nav-link.tabs__nav-link_red(href='#tab2') Характеристики
        .tabs__body
          .tabs__item.tabs__item_active#tab1
            .container.service-page__article
              .row
                .col
                  h5 Основные преимущества:
                  ul.list-parallelogram
                    li Высоконагрузочное 50 поворотное устройство
                    li Поворот на 360°, с добавлением ”запрещенной зоны”
                    li Высокая скорость поворота по горизонтали (70° / C)
                    li Устойчивость к вибрации и колебаниям
                    li Всепогодный, высокопрочный корпус
                    li Высокая точность позиционирования

                  h5 Разработана и спроектирована для:
                  ul.list-parallelogram
                    li Систем наблюдения и мониторинга средней и большой дальности
                    li Антенно-фидерных устройств (АФУ)
                    li Прожекторов и прочих полезных нагрузок

                .col
                  h5 Основные отличия от существующих систем:
                  ul.list-parallelogram
                    li Устройство изготовлено с использованием высокопрочных сплавов и адаптировано работе в самых суровых климатических условиях
                    li Удобное расположение выводов кабелей для подключения нагрузки в различных положениях: на кронштейне или по бокам на вал оси наклона ОПУ
                    li Простое подключение: выходы питания (24 V DC) и выходы ETHERNET (100 Мбит/с)

          .tabs__item#tab2
            .container
              .row
                .col
                  h5.h-separator Технические характеристики
                  table.table-params
                    tr
                      td Угол поворота, <br> град. по вертикали / по горизонтали
                      td +45° ... -90° / 0° ... 360°
                    tr
                      td Скорость поворота, <br> град./сек по вертикали / по горизонтали
                      td 0 ... 40 / 0 ... 70
                    tr
                      td Программируемые положения
                      td 64
                    tr
                      td Точность позиционирования, град.
                      td ±0,30°
                    tr
                      td Возможность добавления запрещенной зоны
                      td присутствует
                    tr
                      td Полезная нагрузка, кг
                      td 20
                    tr
                      td Интерфейс (определяется при заказе)
                      td RS-485/ RS-422/ Ethernet
                    tr
                      td Протокол управления
                      td Pelco - D
                    tr
                      td Интерфейса для настройки
                      td WEB
                    tr
                      td Максимальная скорость обмена по RS, б/сек
                      td 115200
                    tr
                      td Количество адресуемых приемников на одной линии передачи RS, шт.
                      td до 255
                    tr
                      td Максимальная дистанция управления по линии передачи RS, м
                      td не менее 1500
                    tr
                      td Скорость обмена по Ethernet, Мбит/с
                      td 10 / 100

                .col
                  h5.h-separator Общие характеристики
                  table.table-params
                    tr
                      td Масса, кг
                      td не более 7
                    tr
                      td Габариты, мм
                      td 134×134×207
                    tr
                      td Класс защиты
                      td Ip66
                    tr
                      td Потребляемая мощность, вт
                      td не более 85
                    tr
                      td Напряжение питания постоянного тока, в
                      td 24

                  h5.h-separator Климатические условия эксплуатации
                  table.table-params
                    tr
                      th Рабочая температура эксплуатации, °С
                    tr
                      td в стандартном исполнении
                      td - 40 ... + 50
                    tr
                      td в «северном» исполнении
                      td - 60 ... + 50
