extends tpl

block page
  .product-page
    .container
      .product-page__header
        // PRODUCT HEADER
        .product-header
          .product-header__image
            img(src="/images/catalog/enclosures/stationary-camcorders.png" alt="")
          .product-header__text
            h1.product-header__title
              | ИРБИС ТСI <br> VC1300F4,7-103, 4.IR100.11N
            p.product-header__desc
              | Предназначена для наружного наблюдения за периметром в экстремальных условиях: как погодных (от -40 до +50°C), так и эксплуатационных (ударные нагрузки, вибрация). Гарантийный срок эксплуатации: 1 года

            .product-header__buttons
              a.btn(href='#contacts') Запросить стоимость

            h5 Характеристики оптического канала
            .product-header__spec
              .spec-card
                .spec-card__title 1.3 Мпикс
                .spec-card__prase Разрешение
              .spec-card
                .spec-card__title 4,7 -103,4 мм
                .spec-card__prase Фокус
        // END: PRODUCT HEADER


    .product-page__details
      //  TABS
      .tabs.tabs_theme-product
        .tabs__header
          .container
            ul.tabs__nav
              li.tabs__nav-item.tabs__nav-item_active
                a.tabs__nav-link(href='#tab1') Описание
              li.tabs__nav-item
                a.tabs__nav-link.tabs__nav-link_red(href='#tab2') Характеристики
        .tabs__body
          .tabs__item.tabs__item_active#tab1
            .container.service-page__article
              .row
                .col
                  h5 ИРБИС ТСI VC1300F4,7-103, 4.IR100.11N
                  p
                    | Стационарные высокочувствительные видеокамеры с ИК подсветкой дальностью действия до 100 м. Варифокальный объектив и 1,3 Мп матрица с плавной регулировкой фокусного расстояния 4,7-103,4 мм обеспечивают превосходную четкость и формируют детализированное изображение высокого качества.
                    br
                    | IP- камера выполнена в герметичном, всепогодном корпусе с функцией стабилизации изображения. Видеокамера оснащена детектором движения, что обеспечивает быстрое реагирование


                .col
                  h5 Применения
                  ul.icons-list
                    li
                      img.icon(src="/images/icon/nuclear.svg" alt="")
                      span Топливо-энергетический комплекс
                    li
                      img.icon(src="/images/icon/nuclear2.svg" alt="")
                      span Атомные электростанции
                    li
                      img.icon(src="/images/icon/kremlin.svg" alt="")
                      span Правительственные и особо важные объекты
                    li
                      img.icon(src="/images/icon/cruise.svg" alt="")
                      span Морские и речные акватории
                    li
                      img.icon(src="/images/icon/tower.svg" alt="")
                      span Электростанции
                    li
                      img.icon(src="/images/icon/barrier.svg" alt="")
                      span Охрана границ
                    li
                      img.icon(src="/images/icon/oil-well.svg" alt="")
                      span Нефтеперерабатывающие заводы
                    li
                      img.icon(src="/images/icon/storage.svg" alt="")
                      span Логистические центры
          .tabs__item#tab2
            .container
              .row
                .col
                  h5.h-separator Общие характеристики
                  table.table-params
                    tr
                      td Тип сенсора
                      td 1,3 Мп/2 Мп
                    tr
                      td Спектральная чувствительность
                      td 7.00 - 14.00
                    tr
                      td Управление
                      td Ethernet 10/100, RS-485
                    tr
                      td Напряжение питания
                      td AC24/DC24/ 220 ± 10% <br>(согласовывается при заказе)
                    tr
                      td Потребляемая мощность
                      td &lt; 80 Вт
                    tr
                      td Класс защиты
                      td IP67
                    tr
                      td Рабочая температура
                      td -40°C - 60°C / &lt;90%
                    tr
                      td Протоколы
                      td TCP/IP, HTTP, DHCP, DNS,<br> RTP/RTCP, PPPoE, DDNS, ONVIF 2.2
                    tr
                      td Апертура
                      td F1.6-F3.2
                    tr
                      td Мин. освещенность
                      td Цвет: 0.3 лк F1.6, Ч/Б: 0.01 лк F1.6
                    tr
                      td Кодирование видео
                      td H.264 720P(1280*720)/1 D1(704*576/704*480)/ 1 CIF(352*288/352*240)
                    tr
                      td Скорость передачи данных
                      td 1 мбит/с ~6 мбит/с
                    tr
                      td Слоты для карт памяти
                      td Micro SD, не более 32GB
                    tr
                      td Тип подсветки
                      td Зависит от модели
                    tr
                      td Вес
                      td 7 кг
                    tr
                      td Размер
                      td 205(Д) x 2115 (Ш) x 348.5 (В) мм
                .col
                  h5.h-separator Характеристики оптического канала
                  table.table-params
                    tr
                     td Разрешение
                     td 1.3 Мпикс
                    tr
                     td Фокус
                     td 4,7 -103,4 мм
                    tr
                     td Минимальная освещенность
                     td Цвет: 0,3 лк / Ч/б: 0,01 лк
                    tr
                     td Видеосигнал
                     td H.264, MJPEG
                    tr
                     td Баланс белого
                     td Авто, вручную
                    tr
                     td Кодирование видео
                     td H.264 720P(1280*720)/1 D1(704*576/704*480)/ 1 CIF(352*288/352*240)
                    tr
                     td Тип подсветки
                     td ИК
                    tr
                     td Усиление
                     td Авто, вручную
                    tr
                     td Шум
                     td Не более 50дб
                    tr
                     td Шумоподавление
                     td Присутствует (3DDNR)
