extends ../../../../layouts/base
include ../../../../mixins/nav-bar

block append vars
  include ../../../../data/nav-items-teplo

block body
  +nav-bar({ isWhite: true, navItems })

  include ../../../../blocks/menu
  include ../../../../blocks/category-carousel-teplo

  block page
    .product-page
      .container
        .product-page__header
          // PRODUCT HEADER
          .product-header
            .product-header__image
              img(src="/images/catalog/products/VC550F3.png" alt="")
            .product-header__text
              h1.product-header__title
                | Поворотный взрывозащищенный <br> ОТК е TCII VC550F3, 4-122, 4.TL640F50.12U
              p.product-header__desc
                | Поворотный оптико-тепловизионный комплекс во взрывозащищенном герметичном корпусе из нержавеющей стали оснащен тепловизионной камерой, видеокамерой и высокоскоростным поворотным устройством.
              .product-header__buttons
                a.btn(href='#contacts') Запросить стоимость
              h5 Расстояние обнаружения цели
              // DISTANCE LINE
              .distance-line
                .distance-line__line
                  .distance-line__label
                    img.icon(src="/images/icon/camera.svg")
                .distance-line__line.distance-line__line_car(style="width: 60%")
                  .distance-line__label
                    img.icon(src="/images/icon/car.svg")
                    span 1120 м
                .distance-line__line.distance-line__line_human(style="width: 30%")
                  .distance-line__label
                    img.icon(src="/images/icon/human.svg")
                    span 360 м
              // END: DISTANCE LINE

              // DISTANCE LINE
              .distance-line
                .distance-line__line
                  .distance-line__label
                    img.icon(src="/images/icon/camera.svg")
                .distance-line__line.distance-line__line_car(style="width: 80%")
                  .distance-line__label
                    img.icon(src="/images/icon/car2.svg")
                    span 1120 м
                .distance-line__line.distance-line__line_human(style="width: 60%")
                  .distance-line__label
                    img.icon(src="/images/icon/person.svg")
                    span 360 м
              // END: DISTANCE LINE


              h5 Характеристики тепловизионного канала
              .product-header__spec
                .spec-card
                  .spec-card__title 12°
                  .spec-card__prase Угол обзора по горизонтали
                .spec-card
                  .spec-card__title 5-50 мм
                  .spec-card__prase Фокус
          // END: PRODUCT HEADER


      .product-page__details
        //  TABS
        .tabs.tabs_theme-product
          .tabs__header
            .container
              ul.tabs__nav
                li.tabs__nav-item.tabs__nav-item_active
                  a.tabs__nav-link(href='#tab1') Описание
                li.tabs__nav-item
                  a.tabs__nav-link.tabs__nav-link_red(href='#tab2') Характеристики
          .tabs__body
            .tabs__item.tabs__item_active#tab1
              .container.service-page__article
                .row
                  .col
                    h5 Назначение
                    p Электронный нос предназначен для проведения исследований и измерений паровНазначение
                    h5 Комплекс оснащен:
                    ul.list-parallelogram
                      li Тепловизионной камерой со светосильным атермальным объективом 50 мм из монокристаллического германия и неохлаждаемой матрицей разрешением 640х480 пикселей;
                      li Видеокамерой с разрешением 600 ТВЛ и 10-кратным оптическим зумом;
                      li Маневренным высокоскоростным поворотным устройством с широким диапазоном угла наклона: 360° - по горизонтали, от -45° до +45° - по вертикали;
                    p Высоконадежный корпус со степенью защиты IP67, а также защитное германиевое окно делает оборудование независимым от неблагоприятных воздействий окружающей среды и обеспечивает контроль безопасности в условиях взрыво и пожароопасных зон внутри и вне помещений.


                  .col
                    h5 Назначение
                    ul.icons-list
                      li
                        img.icon(src="/images/icon/nuclear.svg" alt="")
                        span Топливо-энергетический комплекс
                      li
                        img.icon(src="/images/icon/nuclear2.svg" alt="")
                        span Атомные электростанции
                      li
                        img.icon(src="/images/icon/kremlin.svg" alt="")
                        span Правительственные и особо важные объекты
                      li
                        img.icon(src="/images/icon/cruise.svg" alt="")
                        span Морские и речные акватории
                      li
                        img.icon(src="/images/icon/tower.svg" alt="")
                        span Электростанции
                      li
                        img.icon(src="/images/icon/barrier.svg" alt="")
                        span Охрана границ
                      li
                        img.icon(src="/images/icon/oil-well.svg" alt="")
                        span Нефтеперерабатывающие заводы
                      li
                        img.icon(src="/images/icon/storage.svg" alt="")
                        span Логистические центры
            .tabs__item#tab2
              .container
                .row
                  .col
                    h5.h-separator Аналитические характеристики
                    table.table-params
                      tr
                        th Чувствительность
                      tr
                        td Токсичные вещества
                        td
                          | от 10
                          sup 5
                          |  мг/м
                          sup 3
                      tr
                        td Сильнодействующие ядовитые вещества (СДЯВ)
                        td от 0.01 ПДК
                      tr
                        td Наркотические вещества
                        td
                          | от 10
                          sup -6
                          |  мг/м
                          sup 3
                      tr
                        td Стойкие органические загрязнители
                        td
                          | от 10
                          sup -5
                          |  мг/м
                          sup 3
                      tr
                        td Горючие вещества
                        td от 0.1% НКПР
                      tr
                        td Взрывчатые вещества
                        td
                          | от 10
                          sup -5
                          |  мг/м
                          sup 3
                      tr
                        td Атмосферные загрязнители
                        td
                          | от 10
                          sup -3
                          |  мг/м
                          sup 3
                      tr
                        td Аварийные химически опасные вещества (АХОВ)
                        td
                          | от 10
                          sup -5
                          |  мг/м
                          sup 3
                      tr
                        td Компоненты ракетных топлив (КРТ)
                        td
                          | от 10
                          sup -3
                          |  мг/м
                          sup 3
                  .col
                    h5.h-separator Технические характеристики
                    table.table-params
                      tr
                        td Масса
                        td 8 кг
                      tr
                        td Габариты ДхШхВ
                        td 410х340х205 мм
                      tr
                        td Отбор проб
                        td принудительный
                      tr
                        td Питание сетевое/ бортовое/ от АКБ
                        td 220/110В / 12–48В / 6–12В
                      tr
                        td Потребляемая мощность <br> (зависит от количества аналитических каналов)
                        td от 15 до 75 Вт

                    h5.h-separator Климатические условия эксплуатации
                    table.table-params
                      tr
                        td Температура окружающей среды
                        td от -20 °С до + 50 °С
                      tr
                        td Атмосферное давление
                        td от 60 - 140 кПа
                      tr
                        td Влажность
                        td до 98% (при 35 °С)



  #contacts
    include ../../../../blocks/contacts
  include ../../../../blocks/footer
