extends tpl

block page
  .product-page
    .container
      .product-page__header
        // PRODUCT HEADER
        .product-header
          .product-header__image
            img(src="/images/catalog/products/TV0201.12U.png" alt="")
          .product-header__text
            h1.product-header__title
              | ИРБИС | МЕД T0201.12U
            p.product-header__desc
              | Обнаружение людей с повышенной температурой тела, автоматический вывод информации с указанием времени, места, фотографией, термограммой и температурными данными обнаруженного лица, возможность сохраненения в базе данных и вывод на печать.
            .product-header__buttons
              a.btn(href="#contacts") Запросить стоимость
              a.btn-download(href='/uploads/catalog/downloads/leaflets/TV0201.12U.pdf' target="_blank")
                .btn-download__label Скачать листовку
                .btn-download__ext (pdf, 2.2 Мб)
            h5 Диапазон измерения температуры
            .product-header__temperature
              .temperature-zone.temperature-zone_teplo
                .temperature-zone__min +20 °C
                .temperature-zone__max +50 °C
            h5 Параметры измерения
            .product-header__spec
              .spec-card
                .spec-card__title 50 мК (0,05°С) при +30°С
                .spec-card__prase Температурная чувствительность
              .spec-card
                .spec-card__title ±0,2 °C
                .spec-card__prase Точность измерения
        // END: PRODUCT HEADER


    .product-page__details
      //  TABS
      .tabs.tabs_theme-product
        .tabs__header
          .container
            ul.tabs__nav
              li.tabs__nav-item.tabs__nav-item_active
                a.tabs__nav-link(href='#tab1') Описание
              li.tabs__nav-item
                a.tabs__nav-link.tabs__nav-link_red(href='#tab2') Характеристики
        .tabs__body
          .tabs__item.tabs__item_active#tab1
            .container.service-page__article
              .row
                .col
                  p
                    | <b class="color-blue">«ИРБИС | МЕД T0201.12U»</b> - предназначен для бесконтактного обнаружения людей с повышенной температурой тела в реальном времени.
                    h5 Служит для:
                    ul.list-parallelogram
                      li Обнаружения лиц с повышенной температурой
                      li Определения времени, места, фото и температуры человека
                      li Генерации сигналов тревоги на рабочем месте ответственного лица
                  h5 Применение:
                  ul.list-parallelogram
                    li Объекты транспортной инфраструктуры
                    li Объекты городской инфраструктуры
                    li Стратегически важные промышленные объекты
                    li Объекты спортивно-массовых мероприятий

                .col
                  h5 Основные преимущества:
                  ul.list-parallelogram
                    li Высокая точность измерений (±0,2 °C)
                    li Опеределение температуры людей в движении без необходимости остановки на рубеже контроля
                    li Одновременное опеределение температуры всех людей, попавших в поле зрения тепловизора
                    li Визуализация изображения на экране монитора: температура и термограмма

                  h5 Комплект поставки:
                  ul.list-parallelogram
                    li Модуль измерительный
                    li АРМ*
                    li штатив*
                    li комплект кабелей и принадлежностей
                    li прибор (АЧТ)
                    li программное обеспечение
                  p.small * Опция - уточняется при заказе

          .tabs__item#tab2
            .container
              .row
                .col
                  h5.h-separator Параметры тепловизионного канала
                  table.table-params
                    tr
                      td Тип сенсора детектора
                      td Неохлаждаемый VOx
                    tr
                      td Спектральный диапазон
                      td 8 ÷ 14 мкм
                    tr
                      td Разрешение матрицы
                      td 384 х 288 пкс
                    tr
                      td Температурная чувствительность
                      td ≤50 мК (0,05°С) при +25°С
                    tr
                      td Фокусное расстояние ИК- объектива
                      td 12 мм, F=1
                    tr
                      td Объектив
                      td Атермальный, фиксированный
                    tr
                      td Поле зрения
                      td 30° x 23°

                  h5.h-separator Основные параметры
                  table.table-params
                    tr
                      td Диапазон измерения температуры
                      td 20°– 50°
                    tr
                      td Точность измерения
                      td ±0,2 °C
                    tr
                      td Калибровка
                      td По АЧТ
                .col
                  h5.h-separator Общие характеристики
                  table.table-params
                    tr
                      td Масса, кг
                      td не более 5 кг
                    tr
                      td Габариты, мм
                      td 318x206x124 мм
                    tr
                      td Класс защиты
                      td IP 66
                    tr
                      td Напряжение питания, В
                      td DC/AC 24V
                    tr
                      td Внешние интерфейсы
                      td Ethernet (RJ45), CVBS (BNC), RS485, RS422, RS232
                    tr
                      td Способ крепления
                      td На кронштейн, на штатив

                  h5.h-separator Климатические условия эксплуатации
                  table.table-params
                    tr
                      td Рабочая температура окружающей среды, °С
                      td - 40 ... + 65
