extends tpl

block page
  .product-page
    .container
      .product-page__header
        // PRODUCT HEADER
        .product-header
          .product-header__image
            img(src="/images/catalog/enclosures/rotary-cooled-otk-2.png" alt="")
          .product-header__text
            h1.product-header__title
              | ИРБИС TCII <br> VC1920F12-360.ТМ640F600/250/50.12U
            p.product-header__desc
              | Эффективное решение для круглосуточного мониторинга, обнаружения, распознавания наземных, надводных объектов.
            .product-header__buttons
              a.btn(href='#contacts') Запросить стоимость
            h5 Обнаружение человека и автомобиля
            // DISTANCE LINE
            .distance-line
              .distance-line__line
                .distance-line__label
                  img.icon(src="/images/icon/camera.svg" style="width: 1.4em;")
              .distance-line__line.distance-line__line_car(style="width: 94%")
                .distance-line__label
                  img.icon(src="/images/icon/car.svg" style="width: 2em;")
                  span до 61300 м
              .distance-line__line.distance-line__line_human(style="width: 50%")
                .distance-line__label
                  img.icon(src="/images/icon/human.svg" style="width: 1.2em;")
                  span до 20000 м
            // END: DISTANCE LINE

            h5 Идентификация человека и автомобиля
            // DISTANCE LINE
            .distance-line
              .distance-line__line
                .distance-line__label
                  img.icon(src="/images/icon/camera.svg" style="width: 1.4em;")
              .distance-line__line.distance-line__line_car(style="width: 45%")
                .distance-line__label
                  img.icon(src="/images/icon/car.svg" style="width: 2em;")
                  span до 15300 м
              .distance-line__line.distance-line__line_human(style="width: 20%")
                .distance-line__label
                  img.icon(src="/images/icon/human.svg" style="width: 1.2em;")
                  span до 5000 м
            // END: DISTANCE LINE


            h5 Характеристики тепловизионного канала
            .product-header__spec
              .spec-card
                .spec-card__title 1°/2°/11°
                .spec-card__prase Угол обзора по горизонтали
              .spec-card
                .spec-card__title 600/250/50 мм
                .spec-card__prase Фокус
        // END: PRODUCT HEADER


    .product-page__details
      //  TABS
      .tabs.tabs_theme-product
        .tabs__header
          .container
            ul.tabs__nav
              li.tabs__nav-item.tabs__nav-item_active
                a.tabs__nav-link(href='#tab1') Описание
              li.tabs__nav-item
                a.tabs__nav-link.tabs__nav-link_red(href='#tab2') Характеристики
        .tabs__body
          .tabs__item.tabs__item_active#tab1
            .container.service-page__article
              .row
                .col
                  h5 Назначение
                  p Контроль протяженных охраняемых зон и наблюдение на дальних расстояниях, распознание объектов на максимально удаленных дистанциях благодаря переключаемым полям зрения. Охрана акваторий, особо важных объектов на дальних подступах к ним, крупных транспортных узлов. Беспрецедентное разрешение видеоканала, возможность детального рассмотрения объекта без потери широкого поля обзора, увеличенное изображение выводится на отдельный экран. Высокопрофессиональное и надежное решение комплексных задач безопасности.
                  h5 Поворотный оптико-тепловизионный комплекс включает в себя:
                  ul.list-parallelogram
                    li Тепловизор на базе охлаждаемой матрицы с разрешением 640х512 пикслелей и трансфокатором с тремя переключаемыми полями зрения (фокус 600, 250 и 50 мм);

                    li Full HD видеокамера с разрешением 1920х1080 пикселей и 30-кратным оптическим зумом объектива  (F12-360 мм)

                    li Интеллектуальное поворотное устройство с регулируемой горизонтальной скоростью вращения камер 1º/сек до 60°/сек и диапазоном вращения по азимуту 0°-360°
                  p Высокое разрешение матрицы позволяет получить четкое изображение.

                .col
                  h5 Применения
                  ul.icons-list
                    li
                      img.icon(src="/images/icon/nuclear.svg" alt="")
                      span Топливо-энергетический комплекс
                    li
                      img.icon(src="/images/icon/nuclear2.svg" alt="")
                      span Атомные электростанции
                    li
                      img.icon(src="/images/icon/kremlin.svg" alt="")
                      span Правительственные и особо важные объекты
                    li
                      img.icon(src="/images/icon/cruise.svg" alt="")
                      span Морские и речные акватории
                    li
                      img.icon(src="/images/icon/tower.svg" alt="")
                      span Электростанции
                    li
                      img.icon(src="/images/icon/barrier.svg" alt="")
                      span Охрана границ
                    li
                      img.icon(src="/images/icon/oil-well.svg" alt="")
                      span Нефтеперерабатывающие заводы
                    li
                      img.icon(src="/images/icon/storage.svg" alt="")
                      span Логистические центры
          .tabs__item#tab2
            .container
              .row
                .col
                  h5.h-separator Характеристики тепловизионного канала
                  table.table-params
                    tr
                      td Разрешение матрицы
                      td 640х512
                    tr
                      td Тип матрицы
                      td 15 мк
                    tr
                      td Тип&nbsp;объектива
                      td Переключаемый
                    tr
                      td Фокус, мм
                      td 600/250/50
                    tr
                      td Угол обзора по горизонтали
                      td 1°/2°/11°
                    tr
                      td Температурная чувствительность (NETD)
                      td ≤35 мК
                    tr
                      td Управление объективом
                      td Моторизированное
                    tr
                      td Анализ автомобиля
                      td 15300.00 м
                    tr
                      td Анализ человека
                      td 5000.00 м
                    tr
                      td Детекция автомобиля
                      td 61300.00 м
                    tr
                      td Детекция человека
                      td 20000.00 м
                    tr
                      td Идентификация автомобиля
                      td 7600.00 м
                    tr
                      td Идентификация человека
                      td 2500.00 м
                    tr
                      td Скорость отображения
                      td 25 кадров/сек
                .col
                  h5.h-separator Характеристики оптического канала
                  table.table-params
                    tr
                      td Разрешение
                      td 1920 х 1080 пикс
                    tr
                      td Фокус
                      td 12-360 мм
                    tr
                      td Минимальная освещенность
                      td Цвет: 0,04 лк / Ч/б: 0,03 лк
                    tr
                      td Видеосигнал
                      td H.264, MJPEG
                    tr
                      td Объектив камеры видимого диапазона
                      td с плавной регулировкой

                  h5.h-separator Характеристики поворотного устройства
                  table.table-params
                    tr
                      td Диапазон вращения по азимуту
                      td 0°/с ～ 360 °/с
                    tr
                      td Диапазон вращения по углу места
                      td -45°/с ～ +45 °/с
                    tr
                      td Контроль положения поворотного устройства
                      td Поддерживается
                    tr
                      td Скорость вертикального вращения
                      td Регулируемая 1°/с до 60°/с
                    tr
                      td Скорость горизонтального вращения
                      td Регулируемая 1°/с до 30°/с
                    tr
                      td Точность позиционирования
                      td ±0,5 град
