block vars
doctype html
html(lang='ru')
  head
    block head
      meta(charset='UTF-8')
      title АМБ
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width,initial-scale=1')
      meta(name="format-detection" content="telephone=no")
      link(rel='shortcut icon' href='/favicon/favicon.ico')
      link(href='//unpkg.com/minireset.css@0.0.5/minireset.css' rel='stylesheet')
      link(href='//fonts.googleapyais.com/css?family=Istok+Web:400,700&display=swap&subset=cyrillic' rel='stylesheet')
      link(href='//unpkg.com/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css' rel='stylesheet')
      link(href='//cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css' rel='stylesheet')
      link(href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css' rel='stylesheet')
      link(href=`/styles/main.css?v=${Date.now()}` rel='stylesheet')
      style.
        body { animation: fadeIn 0.3s 0.3s; animation-fill-mode: both; }
        .preloader { position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 999; width: 100%; height: 100%; background: #0e2e69; transition: opacity 0.5s; }
        .preloader--loaded { opacity: 0; }
        .preloader__loader { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

        /* LOADER 6 */
        #loader-6 span { display: inline-block; width: 8px; height: 40px; margin-left: 8px; background-color: #fff; }
        #loader-6 span:nth-child(1) { animation: grow 1s ease-in-out infinite; }
        #loader-6 span:nth-child(2) { animation: grow 1s ease-in-out 0.15s infinite; }
        #loader-6 span:nth-child(3) { animation: grow 1s ease-in-out 0.30s infinite; }
        #loader-6 span:nth-child(4) { animation: grow 1s ease-in-out 0.45s infinite; }
        @keyframes fadeIn {
          from {opacity: 0;}
          to {opacity: 1;}
        }
        @keyframes grow {
          0%, 100% { -webkit-transform: scaleY(1); -ms-transform: scaleY(1); -o-transform: scaleY(1); transform: scaleY(1);}
          50% { -webkit-transform: scaleY(1.8); -ms-transform: scaleY(1.8); -o-transform: scaleY(1.8); transform: scaleY(1.8); }
        }

  body
    #preloader
      .preloader
        .preloader__loader
          #loader-6.loader
            span
            span
            span
            span
    block body

    block scripts
      script(type='text/javascript' src='//code.jquery.com/jquery-3.4.1.min.js')
      script(type='text/javascript' src='//unpkg.com/owl.carousel@2.3.4/dist/owl.carousel.min.js')
      script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
      script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/inputmask.min.js')
      script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
      script(type='text/javascript' src=`/scripts/bundle.js?v=${Date.now()}`)
