extends base

block append vars
  include ../data/news
  include ../mixins/news-card
  - var index = 0;

block body
    include ../blocks/nav-bar
    include ../blocks/menu

    - let { preview, date, title, description, href, logo, gallery } = newsList[index];
    //  NEWS PAGE
    .news-page
      .container
        .news-page__go-to-all-news
          //  GO TO ALL NEWS
          a.go-to-all-news(href='/news/')
            span.go-to-all-news__icon
              img(src='/images/go-to-all-news__icon.svg')
          span.go-to-all-news__text Вернуться к новостям
          //  END: GO TO ALL NEWS
        .news-page__header
          //  NEWS HEADER
          .news-header
            .news-header__content
              .news-header__publication-date=date
              h1.news-header__h=title
              p.news-header__desc=description
            .news-header__logo
              img(src=logo)
          //  END: NEWS HEADER
      .container
        //  ARTICLE
        article.article.news-page__article
          block article
        //  END: ARTICLE

      - if (gallery && gallery instanceof Array)
        //  NEWS GALLERY
        .news-gallery
          //  SLIDER
          .slider
            .container
              .slider__inner
                div(class=gallery.length>1?'owl-carousel':'')
                  - for (let img of gallery)
                    .slider__slide
                      img(src=img alt)
            - if (gallery.length>1)
              .container.container--relative
                .owl-theme
                  .owl-controls
                    .owl-nav.owl-nav--gray
                .slider__after
                  .carousel-hint
                    img.carousel-hint__icon(src='/images/swipe-right.svg')
                    span.carousel-hint__label Прокрутите
                  .carousel-pagination
                    span.carousel-pagination__index
                    span.carousel-pagination__progress-wrp
                      span.carousel-pagination__progress
                    span.carousel-pagination__count
          //  END: SLIDER
        //  END: NEWS GALLERY
      .container
        .news-page__next
          h3
            a(href='/news/') Другие новости

          //  NEWS GRID CARDS
          .news-grid-cards
            - let next = index-1;
            - for (let i = 0; i < 3; i++)
              - next = next > 0 ? next : newsList.length - 1;
              - let item = newsList[next]
              - if (item.published)
                +news-card(newsList[next])
              - else i--;
              - next--
        //  END: NEWS GRID CARDS
    //  END: NEWS PAGE
    #contacts
      include ../blocks/contacts
    #bottom
      include ../blocks/footer
