extends tpl

block image
  img(src="/images/services/gas/commissioning-works.png")

block article
  h2 Пусконаладочные работы
  p
    | Реализуем настройку и пусконаладку оборудования, что является завершающим этапом создания на предприятии работоспособной, функционально законченной системы газового анализа.
  p
    | Задача наших специалистов не только успешно провести пусконаладочные работы, но и передать информацию по правильной эксплуатации оборудования сотрудникам заказчика.
