extends tpl

block image
  img(src="/images/services/gas/design.png")

block article
  h2 Разработка изделий под индивидуальный заказ
  p
    | Предлагаем типовые решения и разрабатываем газоаналитическое оборудование
    | в различных конфигурациях под индивидуальные задачи.
  p
    | В зависимости от технического задания, характеристик анализируемой среды,
    | отрасли и специфических требований заказчика, увеличиваем и меняем в оборудовании перечень определяемых веществ.
