extends ../../../layouts/base
include ../../../mixins/nav-bar

block append vars
  include ../../../data/nav-items-gas

block body
  +nav-bar({ isWhite: true, navItems })

  include ../../../blocks/menu
  include ../../../blocks/category-carousel-gas


  br
  br

  // SERVICES PAGE
  .services-page
    .container
      .services-page__header
        h3.services-page__h Услуги
        p.services-page__desc
          | Выполняем разработку под индивидуальный заказ, проектирование, пусконаладочные работы и сервисное обслуживание газоаналитических систем
        br

      // SERVICES CARDS
      .services-cards
        // SERVICE CARD
        a.service-card(href="/gas-analysis/services/design.html")
          img.service-card__img(src="/images/services/gas/design.png")
          .service-card__header
            .service-card__title Разработка изделий под индивидуальный заказ
            .service-card__more Подробнее
        // END: SERVICE CARD

        // SERVICE CARD
        a.service-card(href="/gas-analysis/services/mounting.html")
          img.service-card__img(src="/images/services/gas/mounting.png")
          .service-card__header
            .service-card__title Проектирование газоаналитических комплексов
            .service-card__more Подробнее
        // END: SERVICE CARD

        // SERVICE CARD
        a.service-card(href="/gas-analysis/services/commissioning-works.html")
          img.service-card__img(src="/images/services/gas/commissioning-works.png")
          .service-card__header
            .service-card__title Пусконаладочные работы
            .service-card__more Подробнее
        // END: SERVICE CARD

        // SERVICE CARD
        a.service-card(href="/gas-analysis/services/service.html")
          img.service-card__img(src="/images/services/gas/service.png")
          .service-card__header
            .service-card__title Сервис
            .service-card__more Подробнее
        // END: SERVICE CARD



      // END: SERVICES CARDS
  // END: SERVICES PAGE


  br
  br


  include ../../../blocks/contacts
  include ../../../blocks/footer
