extends tpl

block image
  img(src="/images/services/gas/mounting.png")

block article
  h2 Проектирование газоаналитических комплексов
  p
    | Проектируем полнофункциональные газоаналитические комплексы, объединяющие несколько изделий в логически выстроенную законченную аналитическую систему.
  p
    | Формируем инфраструктуру данных комплексов, в зависимости от поставленных задач и с учетом возможности легкой интеграции в существующие системы
    | контроля.
