extends tpl

block image
  img(src="/images/services/gas/service.png")

block article
  h2 Сервис
  p
    | Предоставляем гарантийное и постгарантийное сервисное обслуживание оборудования на собственной производственной базе, что обеспечивает кратчайшие сроки диагностики неисправности и ремонта.
  p
    | Мы оказываем только качественную техническую поддержку, которая продлевает срок службы и отказоустойчивость газоаналитического оборудования.
