extends ../../../layouts/base
include ../../../mixins/nav-bar

block append vars
  include ../../../data/nav-items-gas

block body
  +nav-bar({ isWhite: true, navItems })

  include ../../../blocks/menu
  include ../../../blocks/category-carousel-gas


  br
  br

  .container
    // SERVICES PAGE
    .service-page
      .service-page__image
        block image
          img(src='/images/services/gas/commissioning-works.png')

      .service-page__article
        block article
          h2 Пусконаладочные работы
          p
            | Реализуем настройку и пусконаладку оборудования, что является завершающим этапом создания на предприятии работоспособной, функционально законченной системы газового анализа.
          p
            | Задача наших специалистов не только успешно провести пусконаладочные работы, но и передать информацию по правильной эксплуатации оборудования сотрудникам заказчика.

        br
        br
        a.btn.service-page__btn(href="#contacts")
          | Заказать услугу
    // END: SERVICES PAGE


  br
  br


  #contacts
    include ../../../blocks/contacts
  include ../../../blocks/footer
