.about-company {
  padding: 100px 0;
  background: #002E6D;
}

.about-company__inner {
  display: flex;
  justify-content: space-between;
}

.about-company__left {
  width: 33.33333%;
  padding-left: 8.33333%;
}

.about-company__left-outer {
  height: 100%;
  position: relative;
}

.about-company__left h2 {
  font-size: 42px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.about-company__information {
  width: 66.66667%;
}

.about-company__information h3 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.035em;
  color: #FFFFFF;
  margin-bottom: 40px;
  font-weight: 700;
}

.about-company__information p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.035em;
  color: #FFFFFF;
  max-width: 80%;
}

.about-company__information a {
  color: inherit;
}

.about-company .owl-nav {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.about-company .owl-nav button.owl-prev span,
.about-company .owl-nav button.owl-next span {
  display: inline-block;

  position: relative;
  bottom: -50px;

  transform: none;
}

.about-company .owl-nav button.owl-prev {
  left: 0;
}

.about-company .owl-nav button.owl-next {
  left: 70px;
}

.about-company-slider__slide {
  opacity: 0.3;
  transition: opacity .75s ease;
}

.about-company-slider__slide_forcibly,
.about-company-slider__slide_active,
.about-company-slider__slide:hover {
  opacity: 1;
}

@media screen and (max-width: 1600px) {
  .about-company {
    padding: 40px 0 30px 0;
  }

  .about-company__left h2 {
    font-size: 36px;
  }

  .about-company__information h3 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .about-company__information p {
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
  }
}

@media screen and (max-width: 1240px) {
  .about-company__inner {
    display: block;
    position: relative;
    padding-bottom: 100px;
  }

  .about-company__left {
    width: 100%;
    padding-left: 0;
    margin-bottom: 20px;
  }

  .about-company__left-outer {
    position: static;
  }

  .about-company__information {
    width: 100%;
  }

  .about-company__information h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .about-company .owl-nav {
    bottom: 70px;
  }

  .about-company .owl-nav button.owl-prev span,
  .about-company .owl-nav button.owl-next span {
    display: block;
  }

  .about-company .owl-nav button.owl-prev {
    left: 0;
  }

  .about-company .owl-nav button.owl-next {
    left: auto;
    right: 0;
  }
}

@media screen and (max-width: 760px) {
  .about-company__left h2 {
    font-size: 22px;
  }

  .about-company__information h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .about-company__information p {
    font-size: 14px;
    line-height: 24px;
  }
}
