.activities-slider {
  position: relative;
  background: #eee;
  height: 488px;
}

.activities-slider__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 0;
  transition: all 0.75s ease;
}

.activities-slider__slide_active {
  opacity: 1;
  z-index: 1;
}

.activities-slider__bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
}

.activities-slider__header {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 285px;

  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

.activities-slider__text {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 40px 20px;

  max-width: 970px;
  overflow: hidden;

  color: #fff;
  background: rgba(255, 255, 255, 0.8);
}

.activities-slider__h {
  color: #232833;
}

.activities-slider__desc {
  color: #777;
}

.activities-slider_dark .activities-slider__text {
  background: rgba(0, 46, 109, 0.7);
}

.activities-slider_dark .activities-slider__text *:not(a) {
  color: #fff;
}

.activities-slider__text a {
  color: #C10230;
}

.activities-slider__controls {
  display: flex;

  position: absolute;
  right: 0;
  bottom: 30px;
  z-index: 2;

  width: 340px;

  padding: 10px 20px;

  align-items: center;
  justify-content: space-between;
}

.activities-slider__arrows {
  display: flex;
  justify-content: space-between;
  width: 130px;
}


.activities-slider__desc {
  line-height: 1.4;
}

.activities-slider:not(.activities-slider_dark) .circle-btn:hover img {
  filter: invert(100%);
}

@media screen and (max-width: 760px) {
  .activities-slider__controls {
    display: none;
    width: 100%;
  }

  .activities-slider__bg {
    height: 240px;
    box-shadow: inset 33px 110px 160px rgba(0, 0, 0, 0.3);
  }

  .activities-slider__text {
    height: 248px;
  }

  .activities-slider:not(.activities-slider_dark) .activities-slider__text {
    background: #E6E4E7;
  }
}

@media screen and (min-width: 760px) {
  .activities-slider {
    height: 100vh;
  }

  .activities-slider__header {
    top: 160px;
    left: 65px;
    width: 350px;
  }

  .activities-slider__text {
    width: 614px;
    height: 365px;

    margin-bottom: 30px;
    padding: 60px;
  }

  .activities-slider__desc {
    font-size: 18px;
  }

  .activities-slider__controls {
    right: 230px;
    bottom: 50px;
  }

}

@media screen and (min-width: 992px) {
  .activities-slider {
    /*height: 720px;*/
  }

  .activities-slider__text {
    width: 651px;
    height: 275px;

    margin-bottom: 30px;
    padding: 30px;
  }

  .activities-slider__controls {
    right: 280px;
    bottom: 40px;
  }
}

@media screen and (min-width: 1600px) {
  .activities-slider {
    /*height: 900px;*/
  }
}

@media screen and (min-width: 1920px) {
  .activities-slider {
    /*height: 1080px;*/
  }

  .activities-slider__header {
    top: 180px;
    left: 100px;
    width: 520px;
    font-size: 30px;
    line-height: 38px;
  }

  .activities-slider__text {
    width: 970px;
    height: 347px;
    padding: 50px;
    padding-right: 180px;
  }

  .activities-slider__controls {
    right: 600px;
    bottom: 50px;
  }

  .activities-slider__h {
    font-size: 30px;
  }

  .activities-slider__desc {
    font-size: 24px;
  }
}
