.advantages {
  background: #6482ad no-repeat center;
  background-size: cover;

  &.visible {
    background-image: url(../images/advantages/bg.jpg);
  }
}

.advantages .columns {
  padding: 180px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages .columns .column {
  width: calc(50% - 10px);
}


@media screen and (max-width: 1600px) {
  .advantages .columns {
    padding: 119px 0 103px 0;
  }
}


@media screen and (max-width: 1240px) {
  .advantages .columns {
    padding: 100px 0;
  }

  .advantages .columns .column {
    width: 75%;
  }

  .advantages .columns .column:last-child {
    width: 25%;
  }
}


@media screen and (max-width: 760px) {
  .advantages {
    background-position: 70% 50%;
  }

  .advantages .columns {
    display: block;
    padding: 20px 0 32px 0;
  }

  .advantages .columns .column {
    width: 100%;
  }

  .advantages .columns .column:last-child {
    width: 100%;
  }
}

/* ADVANTAGES ITEMS */
.advantages-items {
  padding-left: 130px;
}

.advantages-items__item {
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}

.advantages-items__item:last-child {
  margin-bottom: 0;
}

.advantages-items__icon {
  width: 100px;
  height: 100px;
  background: #002E6D;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;

  color: #fff;
  font-size: 40px;
}
.advantages-items__icon .icon {
  fill: #fff;
}

.advantages-items__item:hover .advantages-items__icon {
  background: #c10230;
}

.advantages-items__body {
  width: calc(100% - 130px);
}

.advantages-items__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #FFF;
}

.advantages-items__description {
  max-width: 86%;
  font-size: 16px;
  line-height: 28px;
  color: #C4CFD2;
}

@media screen and (max-width: 1600px) {
  .advantages-items {
    padding-left: 100px;
  }

  .advantages-items__item {
    margin-bottom: 34px;
  }

  .advantages-items__icon {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }

  .advantages-items__icon img {
    max-width: 30px;
  }

  .advantages-items__body {
    width: calc(100% - 100px);
  }

  .advantages-items__name {
    font-size: 18px;
    line-height: 26px;
  }

  .advantages-items__description {
    max-width: 95%;
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (max-width: 1240px) {
  .advantages-items {
    padding-left: 60px;
  }

  .advantages-items__item {
    margin-bottom: 55px;
  }

  .advantages-items__icon {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
}

@media screen and (max-width: 760px) {
  .advantages-items {
    padding-left: 0;
  }

  .advantages-items__item {
    margin-bottom: 24px;
  }

  .advantages-items__item:last-child {
    margin-bottom: 0;
  }

  .advantages-items__icon {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }


  .advantages-items__body {
    width: calc(100% - 60px);
  }

  .advantages-items__name {
    font-size: 16px;
    line-height: 23px;
  }

  .advantages-items__description {
    width: 100%;
    font-size: 13px;
    line-height: 19px;
  }
}


/* ADVANTAGES LINES */
.advantages-lines__line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
}

.advantages-lines__line:nth-child(2n) {
  background: rgba(255, 255, 255, 0.08);
}

.advantages-lines__line:nth-child(2n-1) {
  background: rgba(255, 255, 255, 0.16);
}

.advantages-lines__line:nth-child(1) {
  left: 0;
}

.advantages-lines__line:nth-child(2) {
  left: 25%;
}

.advantages-lines__line:nth-child(3) {
  left: 50%;
}

.advantages-lines__line:nth-child(4) {
  left: 75%;
}

.advantages-lines__line:nth-child(5) {
  left: 100%;
}

@media screen and (max-width: 760px) {

  .advantages-lines__line:nth-child(4),
  .advantages-lines__line:nth-child(5) {
    display: none;
  }

  .advantages-lines__line:nth-child(1) {
    left: 10px;
  }

  .advantages-lines__line:nth-child(2) {
    left: 50%;
  }

  .advantages-lines__line:nth-child(3) {
    left: auto;
    right: 10px;
  }
}

/* ADVANTAGES PLUSES */
.advantages-pluses__plus {
  position: absolute;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background: url("../images/plus.svg") no-repeat center;
}

.advantages-pluses__plus:nth-child(1) {
  top: 90px;
  left: 0;
}

.advantages-pluses__plus:nth-child(2) {
  top: 90px;
  left: 25%;
}

.advantages-pluses__plus:nth-child(3) {
  top: 90px;
  left: 50%;
}

.advantages-pluses__plus:nth-child(4) {
  top: 90px;
  left: 75%;
}

.advantages-pluses__plus:nth-child(5) {
  top: 90px;
  left: 100%;
}

.advantages-pluses__plus:nth-child(6) {
  top: 50%;
  left: 0;
}

.advantages-pluses__plus:nth-child(7) {
  top: 50%;
  left: 50%;
}

.advantages-pluses__plus:nth-child(8) {
  top: 50%;
  left: 100%;
}

.advantages-pluses__plus:nth-child(9) {
  bottom: 90px;
  left: 0;
}

.advantages-pluses__plus:nth-child(10) {
  bottom: 90px;
  left: 25%;
}

.advantages-pluses__plus:nth-child(11) {
  bottom: 90px;
  left: 50%;
}

.advantages-pluses__plus:nth-child(12) {
  bottom: 90px;
  left: 75%;
}

.advantages-pluses__plus:nth-child(13) {
  bottom: 90px;
  left: 100%;
}


@media screen and (max-width: 1600px) {
  .advantages-pluses__plus:nth-child(1) {
    top: 60px;
  }

  .advantages-pluses__plus:nth-child(2) {
    top: 60px;
  }

  .advantages-pluses__plus:nth-child(3) {
    top: 60px;
  }

  .advantages-pluses__plus:nth-child(4) {
    top: 60px;
  }

  .advantages-pluses__plus:nth-child(5) {
    top: 60px;
  }

  .advantages-pluses__plus:nth-child(6) {
    top: 50%;
  }

  .advantages-pluses__plus:nth-child(7) {
    top: 50%;
  }

  .advantages-pluses__plus:nth-child(8) {
    top: 50%;
  }

  .advantages-pluses__plus:nth-child(9) {
    bottom: 60px;
  }

  .advantages-pluses__plus:nth-child(10) {
    bottom: 60px;
  }

  .advantages-pluses__plus:nth-child(11) {
    bottom: 60px;
  }

  .advantages-pluses__plus:nth-child(12) {
    bottom: 60px;
  }

  .advantages-pluses__plus:nth-child(13) {
    bottom: 60px;
  }
}


@media screen and (max-width: 760px) {
  .advantages-pluses {
    display: none;
  }
}

/* ADVANTAGES VIDEO */
.advantages-video a,
.advantages-video a:hover
{
  text-decoration: none;
}

.advantages-video__play-outer {
  width: 200px;
  height: 200px;
  padding: 35px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.advantages-video__play-inner {
  width: 130px;
  height: 130px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.advantages-video__play-wrapper {
  width: 70px;
  height: 70px;
  background: #C10230;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all .2s linear;
  font-size: 12px;

  .icon { fill: #fff }
}

.advantages-video__play-wrapper:hover {
  cursor: pointer;
  background: #002E6D;
}


.advantages-video__play-subtitle {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 10px 0 50px 0;
}

.advantages-video__downloads {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  text-decoration: none;
}

.advantages-video__downloads-item {
  display: block;
  width: 50%;
  text-align: center;
  text-decoration: none;
}

.advantages-video__downloads-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  color: #fff;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;

  cursor: pointer;
  transition: all .2s linear;
  margin-bottom: 10px;

  .icon {
    fill: #fff;
  }
}

.advantages-video__downloads-icon:focus {
  outline: none;
}

.advantages-video__downloads-icon:hover {
  background-color: #C10230;
  border-color: #C10230;
  transform: scale(1.16, 1.16);
}

.advantages-video__downloads-icon>span {
  position: relative;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  transform: translateX(60px);
}

.advantages-video__downloads-name {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.advantages-video__downloads-description {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #8E959D;
}

@media screen and (max-width: 1600px) {
  .advantages-video__play-outer {
    width: 180px;
    height: 180px;
  }

  .advantages-video__play-inner {
    width: 110px;
    height: 110px;
    padding: 25px;
  }

  .advantages-video__play-wrapper {
    width: 60px;
    height: 60px;
  }

  .advantages-video__play-subtitle {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1240px) {
  .advantages-video {
    padding: 0 10px;
  }

  .advantages-video__play-outer {
    width: 90px;
    height: 90px;
    padding: 0;
    background: transparent;
  }

  .advantages-video__play-inner {
    width: 90px;
    height: 90px;
    padding: 20px;
  }

  .advantages-video__play-wrapper {
    width: 50px;
    height: 50px;
  }

  .advantages-video__play-subtitle {
    margin-bottom: 24px;
  }

  .advantages-video__downloads {
    display: block;
    max-width: 100%;
    margin: 0;
    width: 100%;
  }

  .advantages-video__downloads-item {
    width: 100%;
    margin-top: 40px;
  }

  .advantages-video__downloads-icon {
    width: 10px;
    height: 12px;
    border: 0;
    border-radius: 0;
    transition: none;
    margin-bottom: 5px;
  }

  .advantages-video__downloads-icon:hover {
    background-color: transparent;
    transform: scale(1, 1);
  }

  .advantages-video__downloads-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
  }

  .advantages-video__downloads-description {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #8E959D;
  }
}


@media screen and (max-width: 760px) {
  .advantages-video {
    padding: 50px 0 0 0;
  }

  .advantages-video__play {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .advantages-video__play-outer {
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .advantages-video__play-inner {
    width: inherit;
    height: inherit;
    padding: 0;
  }

  .advantages-video__play-wrapper {
    width: inherit;
    height: inherit;
  }

  .advantages-video__play-subtitle {
    width: calc(100% - 60px);
    margin: 0;
    text-align: left;
  }

  .advantages-video__downloads {
    display: flex;
  }

  .advantages-video__downloads-item {
    margin-top: 30px;
    text-align: left;
  }

  .advantages-video__downloads-icon {
    display: none;
  }

  .advantages-video__downloads-name {
    font-size: 14px;
    line-height: 20px;
  }

  .advantages-video__downloads-description {
    font-size: 14px;
    line-height: 20px;
    color: #C4CFD2;
  }
}
