
.applying {
  margin: auto;
}

.applying__item {
  display: flex;
  align-items: center;
}

.applying__item > * {
  max-width: 385px;
}

.applying__img {
  padding: 10px;
}

.applying__text {
  padding: 10px;
}

@media screen and (max-width: 760px) {
  .applying__item {
    flex-direction: column;
  }
}

@media screen and (min-width: 760px) {
  .applying {
    padding: 0 50px;
  }
  .applying__item:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 760px) {
  .applying__item {
    margin-bottom: -45px;
  }

  .applying__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1600px) {
  .applying__item > .applying__img {
    max-width: 480px;
  }
}
