.banner {
  position: relative;
  padding: 180px 0;
  overflow: hidden;
  text-align: center;
}

.banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/parallax/bg.jpg") no-repeat center;
  background-size: cover;
  transition: transform 0.1s ease;
}

.banner__content {
  display: flex;

  position: relative;
  z-index: 1;

  width: 100vw;
  height: 25vw;

  flex-direction: column;
  justify-content: center;

  text-align: left;
}

.banner__logo {
  height: 2.2em;
}

.banner__label {
  max-width: 485px;
  float: right;

  * {
    color: #fff;
  }
}

@media screen and (max-width: 1600px) {
  .banner {
    padding: 120px 0;
  }
}

@media screen and (max-width: 1240px) {
  .banner {
    padding: 70px 0;
  }

  .banner__content
  {
    height: auto;
  }

  .banner__label {
    max-width: 280px;
  }
}

@media screen and (max-width: 760px) {
  .banner {
    padding: 30px 10px;
  }

  .banner__bg {
    background-position: 10% 50%;
  }

  .banner__content
  {
    height: 120px;
  }

  .banner__label {
    max-width: 200px;
  }

  h3 {
    font-size: 14px;
    line-height: 1.2;
    margin-right: 30px;
  }
}


@media screen and (min-width: 1240px) and (max-width: 1600px) {
  .banner_gas .banner__label {
    margin-right: 19%;
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1600px) {
  .banner__label {
    margin-right: 5%;
    transform: scale(1.1);
    transform-origin: right center;

    .banner_gas & {
      margin-right: 12%;
      transform: scale(1.35);
    }
  }

  .banner__logo {
    height: 2.5em;
  }
}

@media screen and (min-width: 760px) {
  .banner__logo {
    margin-bottom: 0.5em;
  }
}
