.benefits-list {
  list-style: none;
  padding: 0;

  color: #8E959D;
}

.benefits-list h4 {
  color: #232833;
}
.benefits-list p {
  color: #8E959D;
}

.benefits-list__item {
  display: block;
  margin: 50px auto;
}

.benefits-list__img {
  margin-bottom: 10px;
  font-size: 64px;

  .icon {
    fill: #C10230;
  }

  &--3s {
    font-size: 100px;
  }
}

@media (max-width: 760px) {
  .benefits-list__item {
    text-align: center;
  }
}
