/* BTN */
.btn {
  display: inline-block;
  padding: 30px 50px;
  background: #C10230;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: -0.03em;

  color: #FFFFFF;

  text-decoration: none;
}

/* BTN DOWNLOAD */
.btn-download {
  display: inline-block;

  position: relative;

  padding: 10px 0 10px 70px;

  font-style: normal;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: -0.03em;

  color: #8E959D;

  &, &:hover {
    text-decoration: none;
  }

  &:before {
    content: '';

    display: inline-block;

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background: url("/images/download-icon-red.svg") no-repeat center;
    border: 1px solid #E0E7E8;
    box-sizing: border-box;
    border-radius: 50%;
  }

  &__label {
    font-weight: bold;
    color: #C10230;
  }
}


/* CIRCLE BTN */
.circle-btn {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  background: transparent;
  border: 1px solid #E0E7E8;
  border-radius: 30px;

  cursor: pointer;

  transition: all 0.3s;
}

.circle-btn:hover {
  background: #9F1329;
  border-color: #9F1329;
}



.scroll-btn {
  text-align: center;
  color: #fff;

  cursor: pointer;

  &__lebel {
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (max-width: 1800px)
    {
      transform: rotate(-90deg) translateX(20px);
    }
  }

  &__icon {
    font-size: 4em;

    .icon {
      fill: white;
    }
  }


}
