.catalog-card {
  $self: &;

  position: relative;
  display: block;

  min-height: 440px;
  height: 100%;
  padding: 40px 40px 20px;
  overflow: hidden;

  text-align: center;
  background: #F5F5F5;
  text-decoration: none;

  transition: all 0.5s ease;

  cursor: pointer;



  &__title {
    position: relative;
    display: block;

    margin-bottom: 0.3rem;

    color: #232833;
    font-size: 24px;
    line-height: 35px;

    letter-spacing: -0.03em;

    transition: all 0.5s ease;
  }

  &__more {
    position: relative;
    display: block;

    margin-bottom: 1rem;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    text-align: center;
    letter-spacing: -0.03em;

    color: #C10230;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;

      width:  0.8em;
      height: 0.8em;

      margin-left: 0.35em;

      background: url("../images/icon/arrow-right_red.svg") no-repeat center / 100%;
    }
  }

  &__img {
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: absolute;

    left: calc(50% - 200px);
    bottom: 20px;

    width: 400px;
    height: 280px;
    max-width: 100%;
    max-height: 100%;

    text-align: center;

    transform-origin: top center;

    transition: all 0.5s ease;

    img {
      max-width: 80%;
      max-height: 100%;
    }
  }

  &:before {
    $size: 458px;

    content: '';

    display: block;

    position: absolute;
    left: calc(50% - #{$size / 2});
    bottom: -50%;

    width:  $size;
    height: $size;

    color: #8E959D;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.2);

    transform: scale(0);
    transform-origin: bottom center;

    transition: all 0.5s ease;
  }

  &:hover {
    background: #0e2e69;
    color: #ffff;

    text-decoration: none;

    #{$self}__title {
      color: #fff;
    }

    #{$self}__img {
      transform: scale(1.2);
    }

    &:before {
      transform: scale(1);
    }
  }

  &_red {
    &:hover {
      background: #C10230;

      #{$self}__more {
        color: #fff;

        &:after {
          background-image: url("../images/icon/arrow-right_white.svg");
        }
      }
    }
  }


  @media (max-width: 1240px) {
    min-height: 380px;

    #{$self}__img
    {
      width: 280px;
      height: 200px;
      left: calc(50% - 140px);
    }
  }
}

.catalog-cards {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -10px;

  min-height: 440px;
  &__item {
    padding: 10px;
    flex: 0 0 100%;

    @media (min-width: 760px)
    {
      flex: 0 0 50%;
    }
  }
}
