.category {
  text-align: center;
  max-width: 1020px;
  margin: 50px auto 0;

  @media (min-width: 1240px) and (max-width: 1600px)
  {
    transform: scale(0.7);
    transform-origin: top center;
    margin-bottom: -30%;
  }

  @media (max-width: 760px)
  {
    text-align: left;
  }

  &__title {
    margin-bottom: 20px;

    font-size: 42px;
    line-height: 1.2;

    letter-spacing: -0.03em;

    color: #002E6D;

    @media (max-width: 1600px)
    {
      font-size: 36px;
    }
    @media (max-width: 760px)
    {
      font-size: 24px;
    }
  }

  &__desc {
    margin: 0 auto 50px;

    font-weight: normal;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #232833;

    @media (max-width: 760px)
    {
      font-size: 16px;
    }
  }

  &__btn {
    margin-bottom: 50px;

    background: none;
    outline: none;
    border: none;

    cursor: pointer;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width:  60px;
      height: 60px;
      background: #C10230;
      border-radius: 50%;
      margin: auto;
      font-size: 0.7em;
    }

    &-label {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;

      text-align: center;
      letter-spacing: -0.03em;

      color: #C10230;

      margin-top: 10px;
    }
  }

  &__image {
    margin: auto;
    text-align: center;
    pointer-events: none;

    img {
      max-width: 80%;
      max-height: 600px;
    }
  }
}

.category-products {
  padding: 100px 0;
  background: #FAFAFA;

  &__wrp {
    margin: 0 -10px;

    > * {
      margin: 10px;
    }
  }

  @media (min-width: 760px) {
    &__wrp {
      display: flex;
      flex-wrap: wrap;

      > * {
        flex: 0 0 calc(50% - 20px);
      }
    }
  }
}
