.category-carousel {
  background: #0e2e69;
  padding: 20px 0;
  max-width: 100%;
  overflow: auto;

  @media (min-width: 1280px)
  {
    padding: 20px calc(50% - 800px);

  }

  &__wrp {
    display: flex;
    justify-content: space-between;

    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    user-select: none;
    cursor: pointer;

    padding: 0 30px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    text-align: center;
    min-width: 160px;
    flex: 0 0 auto;
    color: #fff;
    padding: 0 10px;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
      text-decoration: none;
    }
  }

  &__title {
    display: block;
    margin-top: 5px;
    font-size: 14px;
  }

  &__img {
    width: auto !important;
    height: 50px;
    margin: auto;
  }

  &_red {
    background: #C10230;
  }
}
