.contacts {
  padding: 30px 0;
  background: #365383 no-repeat 50% 100% / cover;
  color: #fff;

  &.visible {
    background-image: url(../images/contacts/bg.jpg);
  }
}

.contacts__header {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;

  letter-spacing: -0.03em;

  color: #FFF;
}

.contacts h5 {
  color: #ccc;
  font-weight: normal;
  margin-bottom: -15px;
  font-size: 16px;
}
.contacts p {
  margin-top: 15px;
  color: #8E959D;
}

.contacts a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.contacts a:hover {
  text-decoration: underline;
}

.contacts h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.03em;
}

.contacts__row {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px -10px;
}

.contacts__col {
  padding: 0 10px;
}

.contacts input,
.contacts button {
  display: block;
  width: 100%;
  height: 60px;
  padding: 25px;
  margin: 10px 0;
  border: none;
}

.contacts button {
  background: #c10230;
  color: #fff;
  font-weight: bold;
}

.contacts .checkbox {
  position: relative;
  color: #fff;
}

.contacts .checkbox input {
  display: none;
  width: 0;
  padding: 0;
  margin: 0;
}

.contacts .checkbox input+span:before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  background: #EEEEEE;
  border: 2px solid #EEEEEE;
  vertical-align: middle;
  margin: 0 8px 2px 0;
}

.contacts .checkbox input:checked+span:before {
  background: #c10230;
}

.contacts .checkbox a {
  color: #c10230;
}

.contacts__download {
  margin-top: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contacts__download-icon {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #E0E7E8;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s linear;
  background: url(../images/download-icon.svg) no-repeat center;
}

.contacts__download-icon:focus {
  outline: none;
}

.contacts__download-icon:hover {
  background-color: #C10230;
  border-color: #C10230;
  transform: scale(1.16, 1.16);
}

.contacts__download-icon>span {
  position: relative;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  transform: translateX(60px);
}

.contacts__download-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.contacts__download-description {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #8E959D;
}


@media screen and (max-width: 1600px) {
  .contacts__download {
    display: flex;
    align-items: center;
  }

  .contacts__download-icon {
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #E0E7E8;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s linear;
    background: url(../images/download-icon.svg) no-repeat center;
  }

  .contacts__download-icon:focus {
    outline: none;
  }

  .contacts__download-icon:hover {
    background-color: #C10230;
    border-color: #C10230;
    transform: scale(1.16, 1.16);
  }

  .contacts__download-icon>span {
    position: relative;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #fff;
    text-align: left;
    transform: translateX(60px);
  }
}

@media screen and (min-width: 1240px) {
  .contacts__row {
    flex-direction: row;
  }

  .contacts__col {
    flex: 0 0 50%;
  }
}

.contacts-form {
  @media screen and (min-width: 1240px) {
    &__items {
      display: flex;
      width: 100%;

      flex-direction: row;
      margin: 0 -5px;
    }

    &__item {
      flex: 0 0 25%;
      padding: 0 5px;
    }
  }
}
