.documents {
  padding: 150px 0;
}


@media screen and (max-width: 1600px) {
  .documents {
    padding: 100px 0;
  }
}


@media screen and (max-width: 760px) {
  .documents {
    padding: 50px 0 40px 0;
  }
}

/* DOCUMENTS-HEADER */
.documents-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 35px;
}

.documents-header__title {
  padding-left: 8.33333%;
  width: 33.33333%;
}

.documents-header__title h2 {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #002E6D;
}

.documents-header__description {
  width: 66.66667%;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #232833;
}

@media screen and (max-width: 1600px) {
  .documents-header {
    margin-bottom: 40px;
  }

  .documents-header__title h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .documents-header__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1240px) {
  .documents-header {
    display: block;
  }

  .documents-header__title {
    padding-left: 8.33333%;
    width: 100%;
    margin-bottom: 20px;
  }

  .documents-header__description {
    padding-left: 8.33333%;
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .documents-header__title {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .documents-header__title h2 {
    font-size: 22px;
    line-height: 32px;
  }

  .documents-header__description {
    padding-left: 0;
    font-size: 14px;
    line-height: 24px;
  }
}

/* DOCUMENTS ACCORDEON */
.documents-accordeon__item {
  border-bottom: 1px solid #E0E7E8;
}

.documents-accordeon__item:first-child {
  border-top: 1px solid #E0E7E8;
}

.documents-accordeon__content {
  position: relative;
}

.documents-accordeon__content .owl-theme .owl-nav {
  position: absolute;
  bottom: 80px;
  width: 100%;
}

.documents-accordeon__content .owl-theme .owl-nav button.owl-prev {
  right: 70px;
}

.documents-accordeon__content .owl-theme .owl-nav button.owl-next {
  right: 0;
}

/* DOCUMENTS ACCORDEON HEADER */
.documents-accordeon-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  cursor: pointer;
}

.documents-accordeon-header__name {
  padding-left: 8.33333%;
  width: 50%;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #232833;
}

.documents-accordeon-header__count {
  padding-right: 8.33333%;
  width: 41.66667%;
  text-align: right;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #8E959D;
}

.documents-accordeon-header__trigger {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
}

.documents-accordeon-header__trigger svg path {
  fill: #C4CFD2;
}

.documents-accordeon-header+.documents-accordeon__content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding-bottom: 0;
}

.documents-accordeon-header--active .documents-accordeon-header__trigger svg {
  transform: rotate(45deg);
}

.documents-accordeon-header--active+.documents-accordeon__content {
  height: auto;
  opacity: 1;
  padding-bottom: 90px;
  overflow: visible;
}

.documents-accordeon-header:hover .documents-accordeon-header__name {
  color: #C10230;
}

.documents-accordeon-header:hover .documents-accordeon-header__trigger svg path {
  fill: #C10230;
}

@media screen and (max-width: 1600px) {
  .documents-accordeon-header__name {
    font-size: 18px;
  }
}

@media screen and (max-width: 1240px) {
  .documents-accordeon-header {
    padding: 30px 0;
  }

  .documents-accordeon-header__count {
    padding-right: 16.66667%;
  }
}

@media screen and (max-width: 760px) {
  .documents-accordeon-header {
    padding: 20px 0;
    display: block;
  }

  .documents-accordeon-header__name {
    padding-left: 0;
    width: 90%;
    font-size: 16px;
    line-height: 23px;
  }

  .documents-accordeon-header__count {
    padding-right: 0;
    width: 90%;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
  }
}

/* DOCUMENTS DOCUMENT */
.documents-document {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: #F7F7F7;
  height: 370px;
  cursor: pointer;
}

.documents-document__type {
  position: relative;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin: 0 0 24px 12px;
  text-align: center;
  background: #002E6D;
  padding: 0 4px;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
}

.documents-document__type:before {
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-bottom: 25px solid #002E6D;
  border-left: 12px solid transparent;
}

.documents-document__type:after {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 0;
  height: 0;
  border-top: 25px solid #002E6D;
  border-right: 12px solid transparent;
}

.documents-document__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #232833;
  margin-bottom: 10px;
}

.documents-document__description {
  font-size: 16px;
  line-height: 26px;
  color: #8E959D;
}

.documents-document__footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* TODO: Открыть документы после утверждения */
  display: none !important;
}

.documents-document__footer .icon {
  width: auto !important;
  display: inline-block !important;
}

.documents-document__footer a {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #8E959D;
  text-decoration: none;
}

.documents-document__footer a svg {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.documents-document__footer a svg path {
  fill: #C10230;
}

.documents-document:hover {
  background: #002E6D;
}

.documents-document:hover .documents-document__type {
  background: #C10230;
}

.documents-document:hover .documents-document__type:before {
  border-bottom-color: #C10230;
}

.documents-document:hover .documents-document__type:after {
  border-top-color: #C10230;
}

.documents-document:hover .documents-document__name,
.documents-document:hover .documents-document__description {
  color: #FFFFFF;
}

.documents-document:hover .documents-document__footer a {
  color: #FFFFFF;
}

.documents-document:hover .documents-document__footer a svg path {
  fill: #FFFFFF;
}

@media screen and (max-width: 1600px) {
  .documents-document {
    height: 380px;
  }

  .documents-document__name {
    font-size: 18px;
    line-height: 26px;
  }

  .documents-document__description {
    font-size: 14px;
  }
}


@media screen and (max-width: 1240px) {
  .documents-document {
    height: 340px;
  }

  .documents-document__footer a {
    display: inline-block;
  }

  .documents-document__footer a svg {
    display: block;
    position: relative;
    top: 0;
    margin-bottom: 5px;
  }
}


@media screen and (max-width: 760px) {
  .documents-document {
    padding: 20px;
  }

  .documents-document__name {
    font-size: 16px;
    line-height: 23px;
  }

  .documents-document__description {
    font-size: 14px;
    line-height: 26px;
  }

  .documents-document__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .documents-document__footer a {
    margin-bottom: 10px;
  }

  .documents-document__footer a svg {
    display: inline;
    top: 6px;
  }
}


/*  DOCUMENTS ACCORDEON SLIDER */
@media screen and (max-width: 1240px) {
  .documents-accordeon-slider {
    margin-bottom: 20px;
  }
}
