.downloads__header {
  @media (min-width: 760px) {
    display: flex;
  }
}

.downloads__tab-header {
  position: relative;
  padding: 17px 30px;
  background: #F7F7F7;
  transition: background  0.3s;
  cursor: pointer;
  border-bottom: 2px solid #fff;

  flex: 1 0 auto;

  @media (min-width: 760px)
  {
    margin-right: 2px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.downloads__tab-header_active {
  background: #002E6D;
  border-bottom-color: transparent;
}

.downloads__tab-header_active.downloads__tab-header_red {
  background: #C10230;
}

.downloads__tab-header_active * {
  color: #fff;
}

.downloads__tab-icon {
  fill: #232834;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -12px;
  font-size: 24px;

  transition: transform 0.3s ease;

  .downloads__tab-header_active & {
    fill: #fff;
    transform: rotate(45deg);
  }

  @media (min-width: 760px)
  {
    display: none;
  }
}


.downloads__item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;

  color: #002E6D;

  flex-basis: 33%;
}

.downloads__item {
  border: 1px solid #E0E7E8;
  border-top: none;
}


.downloads__item {
  padding: 25px;
}

.downloads__item-meta {
  margin: 5px 0;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;

  color: #8E959D;

  flex-basis: 33%;
}

.downloads__item-meta span {
  display: inline-block;
}

.downloads__item-meta span:before {
  display: inline-block;
  content: '';
  width: 2px;
  height: 2px;
  margin: 5px 8px;
  background: #8E959D;
  border-radius: 50%;
}

.downloads__item-meta span:first-child:before {
  display: none;
}

.downloads__item-link {
  display: flex;
  align-items: center;
  text-decoration: none;

  flex-basis: 150px;
}

.downloads__item-link,
.downloads__item-link:hover {
  text-decoration: none;
}

.download-link__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid;
  border-radius: 50%;
  border: 1px solid #E0E7E8;
}

.download-link__label {
  padding-left: 15px;
  color: #C10230;
  font-weight: bold;
}

.downloads__items {
  display: none;
}

.downloads__tab_active .downloads__items {
  display: block;
}


@media (min-width: 760px) {
  .downloads__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1240px) {
  .downloads__item {
    padding: 30px 140px 30px 60px;
  }
  .downloads__item-meta span:before {
    display: none;
  }
  .downloads__item-meta
  {
    display: flex;
    width: 30%;
    justify-content: space-between
  }
}
