.enclosures-page {
  &__header > .container,
  &__products > .container {
    @media (min-width: 1240px) and (max-width: 1600px)
    {
      position: relative;
      transform: scale(0.8);
      transform-origin: top center;
      margin-bottom: -5%;
    }
  }

  &__header {
    max-width: 980px;
    text-align: center;
    margin: 50px auto;

    @media (max-width: 760px) {
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 36px;
    line-height: 50px;

    text-align: center;
    letter-spacing: -0.03em;

    color: #002E6D;

    @media (max-width: 760px)
    {
      font-size: 16px;
    }
  }

  &__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.4;

    text-align: center;
    letter-spacing: -0.03em;

    color: #232833;

    @media (max-width: 760px)
    {
      font-size: 16px;
    }
  }

  &__btn {
    margin-bottom: 50px;

    background: none;
    outline: none;
    border: none;

    cursor: pointer;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width:  60px;
      height: 60px;
      background: #C10230;
      border-radius: 50%;
      margin: auto;
      font-size: 0.7em;
    }

    &-label {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;

      text-align: center;
      letter-spacing: -0.03em;

      color: #C10230;

      margin-top: 10px;
    }
  }

  &__image {
    margin: auto auto 100px;
    text-align: center;
    pointer-events: none;

    img {
      max-width: 80%;
      max-height: 600px;
    }
  }

  &__products {
    padding: 50px 0;
    background: #FAFAFA;

    &-wrp {
      margin: 0 -10px;

      > * {
        margin: 10px;
      }
    }

    @media (min-width: 760px) {
      &-wrp {
        display: flex;
        flex-wrap: wrap;

        > * {
          flex: 0 0 calc(50% - 20px);
        }
      }
    }
  }
}
