.enclosures-card {
  display: flex;
  flex-direction: row-reverse;

  position: relative;
  background: white;
  height: 400px;

  transition: box-shadow 0.75s ease;

  &, &:hover {
    text-decoration: none;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    flex: 0 0 (3 / 6 * 100%);
    overflow: hidden;

    padding: 50px;

    img {
      max-width:  100%;
      max-height: 100%;

      transform-origin: top left;
      transition: transform 0.75s ease;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    flex: 0 0 (3 / 6 * 100%);
    height: 100%;

    padding: 50px 0 50px 50px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.03em;
    color: #232833;
    margin-bottom: 15px;
  }

  &__property {
    display: flex;
    align-items: center;

    margin-bottom: 13px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;

    letter-spacing: -0.03em;

    color: #8E959D;

    &-icon {
      display: inline-block;
      vertical-align: middle;
      width: 2em;
      text-align: center;
      margin-left: -0.5em;
    }
  }

  &__link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;

    letter-spacing: -0.03em;

    color: #C10230;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;

      width:  0.8em;
      height: 0.8em;

      margin-left: 0.35em;

      background: url("../images/icon/arrow-right_red.svg") no-repeat center / 100%;
    }
  }

  &__properties {
    display: flex;
    flex-direction: column;
    margin: 0 -15px;
  }

  &__property {
    padding: 0 20px;
  }

  &:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  }

  &:hover &__image img {
    transform: scale(1.1);
    z-index: 1;
  }

  @media (max-width: 1600px)
  {
    height: 330px;

    &__data {
      padding: 40px 0 40px 40px;
    }

    &__image {
      img {
        max-height: 110%;
        max-width: 110%;
      }
    }

  }
  @media (max-width: 1240px) {
    display: block;

    height: 450px;

    &__data {
      padding: 20px;
    }

    &__image {
      position: absolute;
      top: 130px;
      left: 0;

      width: 100%;
      height: 240px;
      padding: 0;
      text-align: center;

      img {
        max-width:  90%;
        max-height: 100%;
        padding: 0;
      }
    }

    &__properties {
      flex-direction: row;
    }
  }
}
