
.footer {
  background: #232833;
  padding: 40px;
}

.footer__outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copy {
  width: 33.33333%;
  padding-left: 8.33333%;
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #8E959D;
}

.footer__links {
  width: 33.33333%;
}

.footer__links a {
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #8E959D;
  text-decoration: none;
}

.footer__links a:hover {
  color: #FFFFFF;
}

.footer__todo {
  width: 33.33333%;
  text-align: right;
}

.footer__todo a {
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #8E959D;
  text-decoration: none;
}

.footer__todo a img {
  margin-left: 5px;
}

.footer__todo a:hover {
  color: #FFFFFF;
}

@media screen and (max-width: 1600px) {
  .footer {
    padding: 36px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    padding: 20px 0;
  }

  .footer__outer {
    display: block;
    text-align: center;
  }

  .footer__copy {
    width: 100%;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .footer__links {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__todo {
    width: 100%;
    text-align: center;
  }
}

