/**
 * HEADER
 */
.header
{
  position: relative;
  height: 100vh;
  min-height: 840px;
  max-height: 200vw;
  background: #002E6D;

  &_auto-height {
    height: auto !important;
    min-height: auto !important;
  }

  &__video-wrp
  {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__video
  {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;


    video
    {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after
    {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #002E6D;
      opacity: 0.3;
    }
  }

  &__controls
  {
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
  }

  &__controls .nav-bar
  {
    background: transparent;
  }

  .menu--open &__controls .nav-bar
  {
    background: #0e2e69;
  }

  &__promo
  {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 78px;
  }

  &__promo > .container
  {
    height: 100%;
  }

  &__menu
  {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
  }

  .menu--open &__menu {
    padding-top: 70px;
    display: block;
  }

  &__slider {
    position: relative;
  }

  &__scroll {
    position: absolute;
    left: 0;
    top: calc(100vh - 130px);
  }
}

@media screen and (min-width: 1800px) {
  .header {
    &__scroll {
      left: 3.5%;
    }
  }
}

@media screen and (max-width: 1600px) {
  .header {
    min-height: 720px;
  }
}

@media screen and (max-width: 1240px) {
  .header {
    min-height: 768px;
    &__scroll {
      left: -9px;
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    min-height: 1025px;

    &__promo {
      padding-top: 80px;
    }
  }
}

@media screen and (max-width: 760px) {
  .header {
    min-height: 568px;

    &__promo {
      padding-top: 71px;
    }

    &__scroll {
      display: none;
    }
  }
}

/* HEADER PROMO */
.header-promo {
  flex-grow: 1;
}

.header-promo__outer {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.header-promo__inner {
  width: 100%;
}

/* HEADER PROMO LINES */
.header-promo-lines__line {
  position: absolute;
  top: 0;
  width: 1.2px;
  height: 100%;
}

.header-promo-lines__line:nth-child(2n) {
  background: rgba(255, 255, 255, 0.08);
}

.header-promo-lines__line:nth-child(2n-1) {
  background: rgba(255, 255, 255, 0.16);
}

.header-promo-lines__line:nth-child(1) {
  left: 0;
}

.header-promo-lines__line:nth-child(2) {
  left: 25%;
}

.header-promo-lines__line:nth-child(3) {
  left: 50%;
}

.header-promo-lines__line:nth-child(4) {
  left: 75%;
}

.header-promo-lines__line:nth-child(5) {
  left: 100%;
}

@media screen and (max-width: 760px) {

  .header-promo-lines__line:nth-child(4),
  .header-promo-lines__line:nth-child(5) {
    display: none;
  }

  .header-promo-lines__line:nth-child(1) {
    left: 10px;
  }

  .header-promo-lines__line:nth-child(2) {
    left: 50%;
  }

  .header-promo-lines__line:nth-child(3) {
    left: auto;
    right: 10px;
  }
}

/* HEADER PROMO PLUSES */
.header-promo-pluses__plus {
  position: absolute;
  width:  13px;
  height: 13px;
  margin: -6px 0 0 -6px;
  background: url("../images/plus.svg") no-repeat center;
  background-size: 100%;
}

.header-promo-pluses__plus:nth-child(1) {
  top: 100px;
  left: 0;
}

.header-promo-pluses__plus:nth-child(2) {
  top: 100px;
  left: 25%;
}

.header-promo-pluses__plus:nth-child(3) {
  top: 100px;
  left: 50%;
}

.header-promo-pluses__plus:nth-child(4) {
  top: 100px;
  left: 75%;
}

.header-promo-pluses__plus:nth-child(5) {
  top: 100px;
  left: 100%;
}

.header-promo-pluses__plus:nth-child(6) {
  top: 300px;
  left: 0;
}

.header-promo-pluses__plus:nth-child(7) {
  top: 300px;
  left: 100%;
}

.header-promo-pluses__plus:nth-child(8) {
  top: 500px;
  left: 0;
}

.header-promo-pluses__plus:nth-child(9) {
  top: 500px;
  left: 100%;
}

@media screen and (max-width: 760px) {
  .header-promo-pluses__plus {
    width: 7px;
    height: 7px;
    margin: -3px 0 0 -3px;
  }


  .header-promo-pluses__plus:nth-child(1) {
    top: 20px;
    left: 10px;
  }

  .header-promo-pluses__plus:nth-child(2) {
    top: 20px;
    left: 50%;
  }

  .header-promo-pluses__plus:nth-child(3) {
    top: 20px;
    left: auto;
    right: 7px;
  }

  .header-promo-pluses__plus:nth-child(4) {
    top: calc(50% - 3px);
    left: 10px;
  }

  .header-promo-pluses__plus:nth-child(5) {
    top: calc(50% - 3px);
    left: auto;
    right: 7px;
  }

  .header-promo-pluses__plus:nth-child(6) {
    top: auto;
    bottom: 10px;
    left: 10px;
  }

  .header-promo-pluses__plus:nth-child(7) {
    top: auto;
    bottom: 10px;
    left: 50%;
  }

  .header-promo-pluses__plus:nth-child(8) {
    top: auto;
    bottom: 10px;
    left: auto;
    right: 7px;
  }

  .header-promo-pluses__plus:nth-child(9) {
    display: none;
  }
}

/* HEADER PROMO SOLUTION */
.header-promo-solution {
  width: 66.66667%;
  margin: 0 auto 70px auto;
  text-align: center;
}

.header-promo-solution__title {
  font-weight: bold;
  font-size: 54px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.header-promo-solution__subtitle {
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.header-promo-solution .owl-nav {
  position: absolute;
  bottom: 85px;
  width: 100%;
}

.header-promo-solution .owl-nav button.owl-prev {
  left: -80px;
}

.header-promo-solution .owl-nav button.owl-next {
  right: -80px;
}

@media screen and (max-width: 1600px) {
  .header-promo-solution {
    margin-bottom: 40px;
  }

  .header-promo-solution__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
  }

  .header-promo-solution__subtitle {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1240px) {
  .header-promo-solution {
    width: 83.33333%;
  }

  .header-promo-solution {
    margin-bottom: 117px;
  }

  .header-promo-solution__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px;
  }

  .header-promo-solution__subtitle {
    font-size: 20px;
    line-height: 29px;
  }



  .header-promo-solution .owl-nav {
    position: absolute;
    bottom: 85px;
    width: 100%;
  }

  .header-promo-solution .owl-nav button.owl-prev {
    left: -80px;
  }

  .header-promo-solution .owl-nav button.owl-next {
    right: -80px;
  }
}


@media screen and (max-width: 760px) {
  .header-promo-solution {
    width: 100%;
    margin-bottom: 10px;
  }

  .header-promo-solution__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: -3px;
  }

  .header-promo-solution .owl-carousel {
    display: none;
  }
}

@media (min-width: 760px) and (max-width: 991px) {
  .header-promo-solution .owl-nav {
    bottom: -23px !important;
    width: 0;
    left: 50%;
  }
}


/* HEADER PROMO PRODUCTS */
.header-promo-products {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .header-promo-products {
    display: block;
    padding-bottom: 28px;
  }

  .header-promo-products__product {
    margin-bottom: 10px;
  }
}

/* HEADER PROMO PRODUCTS PRODUCT */
.header-promo-products-product {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  position: relative;
  overflow: hidden;
  width: calc(50% - 10px);
  padding: 40px 0 15px 130px;
  text-decoration: none;
  background: rgba(0, 46, 109, 0.6);
  backdrop-filter: blur(5px);
}

.header-promo-products-product:hover {
  text-decoration: none;
}

.header-promo-products-product__name {
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  color: #FFFFFF;
  margin-bottom: 10px;

  img {
    margin-right: 20px;
  }
}

.header-promo-products-product__description {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  max-width: 240px;
  margin-bottom: 30px;
}

.header-promo-products-product__list {
  margin-top: auto;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  list-style: none;
  padding: 0;

  li {
    margin: 10px 0;
    line-height: 1.2;
  }
}

.header-promo-products-product__image {
  position: absolute;
  bottom: -10px;
  right: 140px;
  max-width: 174px;
  transition: all .2s linear;
}

.header-promo-products-product__arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 60px solid rgba(255, 255, 255, 0.2);
  border-left: 25px solid transparent;
  border-right: 0;
  height: 0;
  width: 100px;

  text-align: center;

  font-size: 24px;
  line-height: 60px;
  color: #fff;

  padding-right: 10px;
}

.header-promo-products-product:last-child {
  background: rgba(193, 2, 48, 0.6);
  padding: 40px 0 15px 60px;
}

.header-promo-products-product:last-child .header-promo-products-product__image {
  bottom: -10px;
  right: 52px;
  max-width: 327px;
}

.header-promo-products-product:hover {
  background: rgba(0, 46, 109, 0.4);
}

.header-promo-products-product:hover .header-promo-products-product__image {
  max-width: 184px;
}

.header-promo-products-product:hover:last-child {
  background: rgba(193, 2, 48, 0.4);
}

.header-promo-products-product:hover:last-child .header-promo-products-product__image {
  max-width: 337px;
}

.header-promo-products-product:hover .header-promo-products-product__arrow img {
  left: calc(50% + 10px);
}

@media screen and (max-width: 1600px) {
  .header-promo-products-product {
    padding: 30px 0 25px 40px;
  }

  .header-promo-products-product__name {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 0;
  }

  .header-promo-products-product__name img {
    height: 17px;
    margin-right: 15px;
  }

  .header-promo-products-product__description {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 24px;
  }

  .header-promo-products-product__list {
    font-size: 16px;
    line-height: 24px;

    li {
      margin: 5px 0;
    }
  }

  .header-promo-products-product__image {
    right: 100px;
    max-width: 124px;
  }

  .header-promo-products-product:last-child {
    padding: 30px 0 30px 40px;
  }

  .header-promo-products-product:last-child .header-promo-products-product__image {
    right: 22px;
    max-width: 237px;
  }

  .header-promo-products-product:hover .header-promo-products-product__image {
    max-width: 134px;
  }

  .header-promo-products-product:hover:last-child .header-promo-products-product__image {
    max-width: 247px;
  }

  .header-promo-solution .owl-nav {
    bottom: 60px;
  }
}

@media screen and (max-width: 1240px) {
  .header-promo-products-product {
    display: block;
    padding: 40px 0 40px 40px;
  }

  .header-promo-products-product__name {
    font-size: 24px;
    line-height: 35px;
  }

  .header-promo-products-product__description {
    font-size: 14px;
    line-height: 26px;
    max-width: 250px;
    margin-bottom: 20px;
  }

  .header-promo-products-product__list {
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 108px;
  }

  .header-promo-products-product__image {
    right: auto;
    left: 40px;
    bottom: -40px;
    max-width: 100px;
  }

  .header-promo-products-product:last-child {
    padding: 40px 0 40px 40px;
  }

  .header-promo-products-product:last-child .header-promo-products-product__image {
    right: auto;
    left: 40px;
    bottom: -30px;
    max-width: 210px;
  }

  .header-promo-products-product:hover .header-promo-products-product__image {
    max-width: 100px;
  }

  .header-promo-products-product:hover:last-child .header-promo-products-product__image {
    max-width: 210px;
  }
}

@media screen and (max-width: 760px) {
  .header-promo-products-product {
    width: 100%;
    padding: 20px 30px 50px 30px;
  }

  .header-promo-products-product__name {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 5px;
  }

  .header-promo-products-product__name img {
    height: 14px;
    margin-right: 10px;
  }

  .header-promo-products-product__description {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 0;
    margin-right: 100px;
  }

  .header-promo-products-product__list {
    display: none;
  }

  .header-promo-products-product__image,
  .header-promo-products-product:hover .header-promo-products-product__image {
    left: auto;
    right: 30px;
    max-width: 80px;
  }

  .header-promo-products-product__arrow {
    left: 30px;
    right: auto;
    bottom: 13px;
    width: auto;
    height: auto;
    border: 0;
    line-height: 1;
    font-size: 18px;
  }

  .header-promo-products-product:last-child {
    padding: 21px 0 49px 30px;
  }

  .header-promo-products-product:last-child .header-promo-products-product__image,
  .header-promo-products-product:hover:last-child .header-promo-products-product__image {
    left: auto;
    right: 15px;
    max-width: 110px;
  }
}


/* HEADER SIDE BUTTONS */
.header__side-buttons {
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  display: flex;
}

.header-side-button {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 1 100%;

  color: #fff;
  background: #002E6D;;

  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 30px;

  &, &:hover {
    text-decoration: none;
  }
}
.header-side-button_red {
  background: #B10024;
}

.header-side-button__inner {
  display: block;
  white-space: nowrap;
}

.header-side-button__inner .icon {
  font-size: 1.1em;
  margin-top: -0.1em;
  margin-right: 1em;
  fill: #fff;
}

@media screen and (max-width: 760px) {
  .header_with-buttons {
    margin-bottom: 80px;
  }

  .header__side-buttons {
    bottom: -80px;
  }

}
@media screen and (min-width: 760px) {
  .header_with-buttons {
    margin-left: 80px;
  }

  .header__side-buttons {
    left: -80px;

    width: 80px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .header-side-button__inner {
    transform: rotate(-90deg);
  }
}
