
.menu-burger {
  width: 20px;
  cursor: pointer;
}

.menu-burger__item {
  height: 2px;
  background: #FFFFFF;
  margin-bottom: 5px;
  transition: all .5s ease;

  .menu-burger_dark & {
    background: #000;
  }
}

.menu-burger__item:last-child {
  margin-bottom: 0;
}

.menu-burger:hover .menu-burger__item:first-child {
  transform: translateY(-3px);
}

.menu-burger:hover .menu-burger__item:last-child {
  transform: translateY(3px);
}

.menu--open .menu-burger__item {
  transform: rotate(-45deg) !important;
}

.menu--open .menu-burger__item:first-child {
  transform: translateY(7px) rotate(45deg) !important;
}

.menu--open .menu-burger__item:last-child {
  transform: translateY(20px) !important;
  opacity: 0;
}
