.menu--open,
.menu--open body {
  overflow: hidden;
}

.menu {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 15px 15px 100px;
  background: #002E6D;
  color: #fff;
}


.menu .icon {
  display: inline-block;
  height: 0.75em;
}

.menu--open .menu {
  display: block;
}

.menu__list {
  list-style: none;
  padding: 0;
}

.menu__item {
  position: relative;
  margin: 0;
}

.menu__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu__item_primary {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.menu__item_primary:last-child {
  border-bottom: none;
}

.menu__item_sub:before,
.menu__item_open:before {
  display: none;
}

.menu__link {
  display: block;
  color: inherit;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
  padding: 8px 0;
  text-decoration: none;
}
.menu__link .icon {
  margin-top: -0.1em;
  font-size: 2.01em;
}

.menu__link_sub {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  padding: 10px 0;
}


@media screen and (max-width: 760px) {
  .menu__list_sub {
    display: none;
  }

  .menu__item_open .menu__list_sub {
    display: block;
  }

  .menu__link {
    font-size: 22px;

    &_sub {
      font-size: 16px;
    }
  }

  .menu__link_primary:after {
    content: '';
    position: relative;
    display: inline-block;
    margin-bottom: 0.1em;
    margin-left: 0.3em;
    width: 8px;
    height: 8px;
    background: url("../images/menu-arrow.svg") no-repeat 100%;
  }

  .menu__item_open .menu__link_primary:after {
    display: none;
  }

  .menu__item_sub:empty {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .menu {
    padding-top: 30px;
  }

  .menu__list_sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__item_sub {
    flex: 0 0 27%;
  }

  .menu__item:before {
    display: none;
  }

  .menu__item_primary {
    padding: 20px 0;
  }
}

@media screen and (min-width: 1241px) {
  .menu__list_sub {
    flex: 0 1 100%;
  }

  .menu__link_primary {
    flex: 0 0 400px;
  }

  .menu__item_primary {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}


@media screen and (min-width: 1600px) {
  .menu {
    padding-top: 120px;
  }
}
