
.model-card {
  display: block;
  background: #fff;
  padding: 30px 50px;
  text-align: center;

  &, &:hover {
    text-decoration: none;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;

    text-align: center;
    letter-spacing: -0.03em;
  }
  &__modeles {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    text-align: center;
    letter-spacing: -0.03em;

    color: #C10230;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;

      width:  0.8em;
      height: 0.8em;

      margin-left: 0.35em;

      background: url("../images/icon/arrow-right_red.svg") no-repeat center / 100%;
    }
  }

  &__image {
    margin: 40px auto 0;

    max-width: 300px;

    img {
      max-width: 100%;
      max-height: 200px;
    }
  }
}

