.model-page {
  padding: 50px 0;
  background: #FAFAFA;

  &__header {
    margin-bottom: 50px;

    h2 {
      margin-bottom: 20px;

      font-weight: bold;
      font-size: 24px;

      letter-spacing: -0.03em;

      color: #002E6D;
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: -0.03em;
      margin-bottom: 1em;
      color: #232833;
    }

    &-image {
      margin: 30px 0;

      text-align: center;
    }

    @media (min-width: 1600px) {
      h2 {
        font-size: 42px;
      }

      p {
        font-size: 24px;
      }
    }

    @media (min-width: 1240px)
    {
      display: flex;

      &-image {
        text-align: right;
        flex: 0 0 (4 / 12 * 100%);

        padding-left: 5%;
      }
    }

    @media (max-width: 1239.97px) {
      &-image img {
        padding: 10%;
      }
    }
  }

  &__lineup {
    margin: 50px 0;
    &-h {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 35px;

      letter-spacing: -0.03em;

      color: #C10230;
    }
  }

  &__lineup-items {}
}

.model-table {
  $self: &;

  display: block;

  background: #FFF;
  border: 1px solid #FAFAFA;
  padding: 20px;
  margin: 10px 0;

  transition: all 0.3s ease;

  &, &:hover {
    text-decoration: none;
  }

  &__row {
    margin: 7.5px 0;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    color: #8E959D;
  }

  &__value {
    display: flex;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #232833;

    .icon {
      width: 1.5em;
      height: 1em;
      object-fit: contain;
      margin-right: 10px;
    }

    span {
      display: inline-block;
      flex-basis: 120px;
    }
  }

  &__more {
    font-weight: bold;
    color: #C10230;
    white-space: nowrap;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;

      width:  0.8em;
      height: 0.8em;

      margin-left: 0.35em;

      background: url("../images/icon/arrow-right_red.svg") no-repeat center / 100%;
    }
  }

  &:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.001);
  }

  @media (min-width: 760px) {
    &__row {
      margin: 10px 0;
    }

    &__cell {
      padding: 0 10px;
    }
  }

  @media (min-width: 760px) and (max-width: 1240px)
  {
    &__cell {
      display: flex;
    }

    &__title {
      flex-basis: 40%;
    }
    &__value {
      flex-grow: 1;
    }
  }

  @media (min-width: 1240px) {
    display: flex;
    margin-top: 60px;

    &__row {
      flex: 1 1 20%;

      &:first-child {
        min-width: 25%;
      }
    }

    &__cell {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__title {
      margin-top: -90px;
      margin-bottom: 40px;
      display: flex;
      align-items: flex-end;
      height: 50px;
    }

    & + & {
      margin-top: 10px;

      & #{$self}__title {
        display: none;
      }
    }

    &__value {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;

      span {
        flex-basis: auto;
      }
    }
  }
}
