.model-table-card {
  display: inline-block;

  background: #FAFAFA;
  padding: 30px;

  transition: all 0.3s ease;

  cursor: pointer;

  &, &:hover {
    text-decoration: none;
  }

  &__header {
    margin-bottom: 20px;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #232833;
  }

  &__model {
    color: #C10230;
  }

  &__table {
    width: 100%;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: #8E959D;

    td {
      padding: 3px 0;
      vertical-align: bottom;
    }

    td:last-child {
      white-space:nowrap;
      padding-left: 1em;
      color: #232833;
    }

     @media (min-width: 760px) {
       font-size: 16px;
     }
  }

  &__more {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: -0.03em;

    color: #C10230;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;

      width:  0.7em;
      height: 0.7em;

      margin-left: 0.35em;

      background: url("../images/icon/arrow-right_red.svg") no-repeat center / 100%;
    }
  }

  &:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
  }

   @media (min-width: 1600px) {
     padding: 50px;
   }
}
