.nav-bar {
  $self: &;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px 15px 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  background: #0e2e69;


  &__logo img {
    height: 40px;
  }

  &__menu {
    position: absolute;
    left: 50%;
    margin-left: -10px;
  }

  &__language {
    margin-left: 25px;
  }

  &__language a {
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
  }

  &__language a:hover {
    color: #002E6D;
  }

  &__nav-list {
    display: flex;

    list-style: none;
    padding: 0;
  }

  &__nav-list a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;

    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
  }

  &__nav {
    width: calc(50% - 50px);
  }

  &_white {
    background: white;
    color: #232833;
  }

  @media screen and (max-width: 1240px) {
    padding: 20px 35px 18px 50px;
  }

  @media screen and (max-width: 1400px) {
    &__nav-list {
      display: none;
    }
  }

  @media screen and (max-width: 760px) {
    padding: 20px;

    &__logo img {
      height: 23px;
    }
  }

  @media screen and (min-width: 760px) {
    .header_with-buttons &__menu {
      margin-left: -50px;
    }
  }
}

