.nav {
  display: flex;
  justify-content: space-between;

  list-style: none;
  padding: 0;

  &__item {}
  &__separator {
    width: 100px;
  }

  &__link {
    display: inline-block;
    padding: 0 10px;

    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
  }

  &_dark &__link {
    color: #232833;
  }

  @media (min-width: 1920px) {
    &__link {
      padding: 0 25px;
    }
  }

  @media (max-width: 1400px)
  {
    &__link {
      font-size: 14px;
    }
  }
}

