/* ALL NEWS PAGE */
.all-news-page {
  padding: 60px 0;

  @media (min-width: 1240px) and (max-width: 1600px)
  {
    transform: scale(0.8);
    transform-origin: top center;
    margin-bottom: -20%;
  }
}

.all-news-page__h {
  font-weight: 400;
}

/* BTN MORE NEWS */
.btn-more-news {
  display: block;
  width: 100%;
  padding: 25px 10px;
  margin-top: 50px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.05em;
  text-align: center;
  color: #C4CFD2;
  background: transparent;
  border: none;
  border-top: 1px solid #E0E7E8;
}

.btn-more-news:focus {
  outline: none;
}

/* NEWS GRID CARDS */
.news-grid-cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto -10px;
}

.news-grid-cards>* {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

@media (max-width: 1240px) {
  .news-grid-cards>* {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 640px) {
  .news-grid-cards>* {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.news-card {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin: 20px 0;
  width: 500px;
}

.news-card__preview {
  margin: 10px auto;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  border: 1px solid #eee;
}

@media (max-width: 1600px) {
  .news-card__preview {
    height: 250px;
  }
}

.news-card__date {
  margin: 10px auto;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8E959D;
}

.news-card__title {
  text-decoration: underline;
  font-size: 16px;
  line-height: 26px;
  color: #232833;
}

.news-card__description {
  margin: 10px auto;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  /* Серый для текста */
  color: #8E959D;
}

.news-card__read {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #C10230;
}

.news-card__read:after {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: url("../images/news/read-arrow.svg") no-repeat center/100%;
}

.news-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.news-list {
  padding-bottom: 150px;
}

.news-list__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 35px;
}

.news-list__header-title {
  padding-left: 8.33333%;
  width: 50%;
}

.news-list__header-title h2 {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #002E6D;
}

.news-list__read-more {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}

.news-list__read-more-label {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #8E959D;
  margin-right: 20px;
}

.news-list__read-more-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width:  60px;
  height: 60px;

  font-size: 10px;
  color: #C10230;

  border: 1px solid #E0E7E8;
  border-radius: 50%;
  cursor: pointer;

  transition: all .2s linear;

  font-size: 0.8em;

  .icon {
    fill: #C10230;
  }
}

.news-list__read-more:hover {
  text-decoration: none;

  .news-list__read-more-icon {
    background-color: #C10230;
    border-color: #C10230;
    transform: scale(1.16, 1.16);
    color: #fff;
    .icon {
      fill: #fff;
    }
  }
}


.news-list__articles {
  display: flex;
  justify-content: space-between;
}

.news-list__articles-item {
  margin-right: 20px;
  flex: 0 0 (1 / 3 * 100%);
}

.news-list__articles-item:last-child {
  margin-right: 0;
}

.news-list__articles-image {
  margin-bottom: 10px;
  height: 250px;

  img {
    max-height: 100%;
  }
}

.news-list__articles-image:hover~.news-articles__name a {
  color: #C10230;
}

.news-list__articles-date {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #8E959D;
  margin-bottom: 4px;
}

.news-list__articles-name a {
  text-decoration: underline;
  font-size: 16px;
  line-height: 26px;
  color: #232833;
}

.news-list__articles-name a:hover {
  color: #C10230;
}

@media screen and (max-width: 1600px) {
  .news-list {
    padding-bottom: 120px;
  }

  .news-list__header {
    margin-bottom: 25px;
  }

  .news-list__header-title h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .news-list__articles-image {
    margin-bottom: 10px;
  }

  .news-list__articles-name a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1240px) {
  .news-list__articles-item {
    flex: 0 0 (1 / 2 * 100%);
  }

  .news-list__articles-item:nth-child(2) {
    margin-right: 0;
  }

  .news-list__articles-item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 760px) {

  .news-list {
    padding-bottom: 0;
  }

  .news-list__header {
    margin-bottom: 20px;
  }

  .news-list__header-title {
    padding-left: 0;
  }

  .news-list__header-title h2 {
    font-size: 22px;
    line-height: 32px;
  }

  .news-list__read-more-label {
    margin-right: 10px;
  }

  .news-list__read-more-icon {
    width:  30px;
    height: 30px;
    border: none;
    transition: none;
  }

  .news-list__articles {
    display: block;
  }

  .news-list__articles-item {
    margin: 40px auto !important;

    width: 420px;
    max-width: 100%;
  }

  .news-list__articles-image {
    height: auto;

    img {
      width: 100%;
    }
  }

  .news-list__articles-item:nth-child(3) {
    display: block;
  }

  .news-list__articles-date {
    margin-bottom: 0;
  }
}

/* NEWS GALLERY */
.news-gallery {
  background: #EEEEEE;
}

/* GO TO ALL NEWS */
.go-to-all-news {
  display: inline-block;
}

.go-to-all-news__icon {
  display: inline-block;
  width: 3.75em;
  height: 3.75em;
  line-height: 3.75em;
  text-align: center;
  border: 1px solid #E0E7E8;
  border-radius: 50%;
}

.go-to-all-news__icon img {
  width: 10px;
  height: 10px;
}

.go-to-all-news__text {
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #8E959D;
}


/* NEWS HEADER */
.news-header {
  display: flex;
  flex-direction: column-reverse;
}

.news-header__logo {
  text-align: center;
  padding: 2rem 1rem;
}

@media (min-width: 1240px) {
  .news-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px 8.33333% 10px;
  }

  .news-header__logo {
    padding: 2rem 1rem;
    flex: 0 0 33.33333%;
    text-align: right;
  }

  .news-header__logo img {
    width: 75%;
  }
}

.news-header__h {
  margin: 30px auto;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #002E6D;
}

@media (max-width: 760px) {
  .news-header__h {
    font-size: 30px;
  }
}

.news-header__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #232833;
}

@media (max-width: 760px) {
  .news-header__desc {
    font-size: 18px;
  }
}

.news-header__publication-date {
  color: #8E959D;
}

/* NEWS PAGE */
.news-page__go-to-all-news {
  margin-top: 60px;
}

@media (min-width: 1240px) {
  .news-page__go-to-all-news {
    margin-left: 8.33333%;
    margin-bottom: 30px;
  }
}

@media (min-width: 1240px) {
  .news-page__article {
    padding: 10px 33.33333% 100px 8.33333%;
  }
}

.news-page__next {
  border-top: 1px solid #E0E7E8;
  padding: 50px 0;
}

.news-page__next h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.03em;
  color: #002E6D;
}

.news-page__next h3 a {
  color: inherit;
  text-decoration: none;
}

.news-page__next h3 a:hover {
  text-decoration: underline;
}
