.parallax {
  position: relative;
  padding: 180px 0;
  overflow: hidden;
  text-align: center;
}

.parallax__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4e72a2 no-repeat center;
  background-size: cover;
  transition: transform 0.1s ease;

  &.visible {
    background-image:  url("../images/parallax/bg.jpg");
  }
}

.parallax svg {
  margin: auto;
  max-width: 100%;
  transition: transform 0.1s ease;
}

.parallax svg path {
  fill: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1600px) {
  .parallax {
    padding: 0;
  }
}

@media screen and (max-width: 1240px) {
  .parallax {
    padding: 70px 0;
  }

  .parallax svg
  {
    height: 290px;
  }
}

@media screen and (max-width: 760px) {
  .parallax {
    padding: 40px 10px;
  }

  .parallax svg {
    height: 200px;
  }
}
