.partners {
  padding: 50px 0 20px 0;
  background: #EEEEEE;
}

.partners .owl-theme .owl-nav {
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 1;
}

.partners .owl-theme .owl-nav button.owl-prev {
  right: 70px;
}

.partners .owl-theme .owl-nav button.owl-next {
  right: 0;
}


@media screen and (max-width: 1240px) {
  .partners .owl-theme .owl-nav {
    bottom: 40px;
  }
}

@media screen and (max-width: 760px) {
  .partners {
    padding: 50px 0 0 0;
  }

  .partners .owl-theme {
    display: none;
  }
}

/* PARTNERS HEADER */
.partners-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 35px;
}

.partners-header__title {
  padding-left: 8.33333%;
  width: 33.33333%;
}

.partners-header__title h2 {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.03em;
}

.partners-header__description {
  width: 66%;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.partners-header__description a {
  color: #C10230;
  text-decoration: none;
}

.partners-header__description a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1600px) {
  .partners-header {
    margin-bottom: 40px;
  }

  .partners-header__title h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .partners-header__description {
    font-size: 16px;
    line-height: 24px;
  }

  .partners-slider {
    margin-top: 40px;
  }

  .partners-slider__slide {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 1240px) {
  .partners-header {
    display: block;
  }

  .partners-header__title {
    padding-left: 8.33333%;
    width: 100%;
    margin-bottom: 20px;
  }

  .partners-header__description {
    padding-left: 8.33333%;
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .partners-header__title {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .partners-header__title h2 {
    font-size: 22px;
    line-height: 32px;
  }

  .partners-header__description {
    padding-left: 0;
    font-size: 14px;
    line-height: 24px;
  }
}


/* PARTNERS SLIDER */
.partners-slider {
  padding-bottom: 30px;
  margin-top: 30px;
  overflow: hidden;
}

.partners-slider .owl-carousel .owl-stage-outer {
  overflow: visible;
}

.partners-slider__slide {
  width: 270px;
  height: 270px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-slider__slide img {
  width: auto !important;
  max-width: 70%;
  max-height: 185px;
}

.partners-slider__after {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 35px;
}

@media screen and (max-width: 1240px) {
  .partners-slider {
    margin-top: 20px;
  }

  .partners-slider__slide {
    width: 160px;
    height: 160px;
  }

  .partners-slider__slide img {
    max-height: 120px;
  }
}


@media screen and (min-width: 767px) {
  .partners-slider__after {
    flex-direction: row-reverse;
  }

  .partners-slider__after .carousel-hint {
    opacity: 0;
  }
}

@media screen and (max-width: 760px) {
  .partners-slider__slide {
    width: 180px;
    height: 180px;
  }
}

.partners_dark {
  background: #002E6D;

  .partners-header * {
    color: #fff;
  }
}
