.production {
  padding: 150px 0 50px;
}

@media screen and (max-width: 1600px) {
  .production {
    padding: 100px 0 30px;
  }
}

@media screen and (max-width: 760px) {
  .production {
    padding: 50px 0 20px;
  }
}

/* PRODUCTION HEADER */
.production-header {
  display: flex;
  justify-content: flex-start;
}

.production-header__title {
  padding-left: 8.33333%;
  width: 33.33333%;
}

.production-header__title h2 {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #002E6D;
}

.production-header__description {
  width: 60%;
}

.production-header__description p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #232833;
  margin-bottom: 20px;
}

.production-header__download {
  display: flex;
  align-items: center;
}

.production-header__download,
.production-header__download:hover {
  text-decoration: none;
}

.production-header__download-icon {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #E0E7E8;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s linear;
  background: url(../images/download-icon-red.svg) no-repeat center;
}

.production-header__download-icon:focus {
  outline: none;
}

.production-header__download-icon:hover {
  background-color: #C10230;
  border-color: #C10230;
  transform: scale(1.16, 1.16);
}

.production-header__download-icon>span {
  position: relative;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  transform: translateX(60px);
}

.production-header__download-icon:hover {
  background-image: url(../images/download-icon.svg);
}

.production-header__download-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #C10230;
}

.production-header__download-description {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #8E959D;
}


@media screen and (max-width: 1600px) {
  .production-header__title h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .production-header__description p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1240px) {
  .production-header {
    display: block;
    padding-left: 8.33333%;
  }

  .production-header__title {
    padding-left: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .production-header__description {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 760px) {
  .production-header {
    padding-left: 0;
  }

  .production-header__title {
    margin-bottom: 10px;
  }

  .production-header__title h2 {
    font-size: 22px;
    line-height: 32px;
  }

  .production-header__description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .production-header__description {
    width: 52%;
  }
}
