.product-page
{
  margin-top: 50px;

  @media (min-width: 1240px) and (max-width: 1400px)
  {
    transform: scale(0.8);
    transform-origin: top center;
    margin-bottom: -20%;

     &__details {
       margin: 0 -12.5%;
     }

    + #contacts > .contacts > .container {
      margin-top: 2%;
      transform: scale(0.8);
    }
  }

  &__header {
    margin-bottom: 50px;
  }

  &__details {
    background: #FAFAFA;

    h5 {
      margin-top: 40px;

      font-weight: bold;
      font-size: 20px;
      line-height: 29px;
      /* identical to box height */

      letter-spacing: -0.03em;

      /* Основной синий */

      color: #002E6D;

      &:first-child {
        margin-top: 10px;
      }

      + ul {
        margin-top: 0;
      }
    }

    @media (min-width: 1240px)
    {
      .col > *:first-child {
        margin-top: 10px;
      }

      .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px;
        .col {
          flex-basis: 50%;
          padding: 0 30px;
        }
      }
    }
  }


  .tabs__header {
    background: #fff;
    border-bottom: 3px solid #E0E7E8;
  }

  .tabs__nav {
    display: flex;

    padding: 0;
    margin: 0;
    list-style: none;
    margin: 0 -20px;

    &-item {
      margin: 0 20px -3px;
      padding: 10px 0;

      &_active {
        border-bottom: 3px solid #C10230;

        .tabs__nav-link {
          color: #C10230;
        }
      }
    }

    &-link {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      text-decoration: none;

      color: #8E959D;

      @media (min-width: 760px)
      {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  .tabs__body {
    padding: 60px 0;

    @media (max-width: 760px) {
      padding: 30px 0;
    }
  }
}

.product-header {
  &__image {
    text-align: center;

    img {
      max-width: 80%;
      max-height: 450px;
    }
  }

  @media (max-width: 760px) {
    &__image img {
      max-height: 300px;
    }
  }

  @media (max-width: 1239.97px) {
    &__image {
      margin-bottom: 50px;
    }
  }

  &__text {
    h5 {
      margin-top: 20px;

      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.03em;

      color: #8E959D;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 1.25;

    letter-spacing: -0.05em;

    color: #002E6D;
  }

  &__spec {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    > * {
      margin: 5px;
    }
  }

  @media (min-width: 1240px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &__image {
      flex: 0 0 (5/12 * 100%);
    }

    &__text {
      flex: 0 0 (7/12 * 100%);
      padding-right: 1/12 * 100%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;


    margin: 0 -10px;

    > * {
      margin: 10px;
    }

    @media (min-width: 1240px) {
      max-width: 560px;
      justify-content: space-between;
    }
    @media (max-width: 760px)
    {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.distance-line {
  $self: &;

  position: relative;
  margin-top: 55px;
  margin-bottom: 30px;
  height: 10px;

  background: #F4F4F4;
  border-radius: 20px;

  &__label {
    position: absolute;
    top: -30px;
    right: 0;
    min-width: 2em;

    transform: translateX(100%);

    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.03em;

    .icon {
      padding-right: 0.3em;
    }
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 10px;

    background: gray;
    border-radius: 20px;

    &_car {
      background: #074AA0;
      color: #074AA0;
    }

    &_human {
      background: #C10230;
      color: #C10230;
    }
  }
}

.icons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05em;

  color: #232833;

  margin: 0 -10px;

  li {
    display: inline-flex;
    align-items: center;

    flex-basis: 250px;

    padding: 0 10px;

    .icon {
      font-size: 50px;
      padding-right: 20px;
    }
  }
}
