.product-card {
  display: flex;
  flex-direction: row-reverse;

  position: relative;
  background: white;
  height: 400px;

  transition: box-shadow 0.75s ease;

  &, &:hover {
    text-decoration: none;
  }

  &__image {
    position: relative;
    flex: 0 0 (3 / 6 * 100%);
    overflow: hidden;

    padding-top: 50px;
    padding-left: 50px;



    img {
      max-width:  120%;
      max-height: 120%;

      transform-origin: top left;
      transition: transform 0.75s ease;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    flex: 0 0 (3 / 6 * 100%);
    height: 100%;

    padding: 50px 0 50px 50px;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.05em;
    color: #232833;
    margin-bottom: 10px;
  }

  &__model {
    color: #C10230;
  }

  &__tegs {
    max-width: 305px;
    &-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 23px;
      color: #232833;
    }

    &-wrp {
      position: relative;
      margin: 10px -2.5px 0;
    }
  }

  &__teg {
    display: inline-block;

    background: #C4CFD2;
    padding: 5px 8px;
    margin: 2.5px -1px;

    border-radius: 40px;

    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 17px;
    color: #FFFFFF;
  }

  &__more {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;

    letter-spacing: -0.03em;

    color: #C10230;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;

      width:  0.8em;
      height: 0.8em;

      margin-left: 0.35em;

      background: url("../images/icon/arrow-right_red.svg") no-repeat center / 100%;
    }
  }

  &:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  }

  &:hover &__image img {
    transform: scale(1.1);
    z-index: 1;
  }

  @media (max-width: 1600px)
  {
    height: 320px;

    &__title {
      font-size: 20px;
    }

    &__data {
      padding: 40px 0 40px 40px;
    }

    &__image {
      img {
        max-height: 110%;
        max-width: 110%;
      }
    }

    &__tegs {
      margin-right: -50px;
    }
  }

  @media (max-width: 1240px) {
    display: block;

    min-height: 380px;
    height: auto;

    &__data {
      display: block;
      padding: 20px;
    }

    &__title {
      height: 120px;
    }

    &__image {
      position: absolute;
      top: 130px;
      left: 0;

      width: 100%;
      height: 240px;
      padding: 0;
      text-align: center;

      img {
        max-width:  90%;
        max-height: 100%;
        padding: 0;
      }
    }

    &__tegs, &__more {
      margin: 0;
      margin-top: 240px;
    }
  }
}
