
@media (max-width: 1279.97px) {
  .scatter {
    position: relative;
    padding-top: 600px;
  }

  .scatter__left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .scatter__fixed {
    position: relative;
    height: 100%;
  }

  .scatter__sequention {
    position: sticky;
    top: 0;

    width: 100%;
    overflow: hidden;

    padding: 10px 0;

    box-shadow: 0 30px 30px #ffffff;
    background: #fff;
    z-index: 1;
  }

  .scatter__sequention .sequention {
    margin: 0 -30px;
  }
  .scatter__right {}
  .scatter__benefits {}
}

@media (max-width: 760px) {
  .scatter
  {
    position: relative;

    .scatter__header {
      h2 {
        font-size: 20px;
      }
      p {
        display: none;
      }
    }
  }
}

@media (max-width: 568px) {
  .scatter
  {
    position: relative;
    padding-top: 300px;
  }
}

@media (min-width: 1280px) {
  .scatter {
    display: flex;
    position: relative;
  }

  .scatter__left {
    position: relative;
    flex:  0 0 66%;
    max-width: 66%;
  }

  .scatter__right {
    flex:  0 0 33%;
    max-width: 33%;
  }

  .scatter__fixed {
    position: sticky;
    top: 50px;
  }

  .scatter__benefits {}
}

