
.schemes {
  padding-bottom: 50px;
}

@media (min-width: 760px) {
  .schemes {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

/* SCHEME */
.scheme {
  position: relative;
  text-align: center;
}

.scheme__main {
  position: relative;
  display: inline-block;
}

.scheme__placeholder {
  visibility: hidden;
}

.scheme__image-stage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  opacity: 0;
  transition: all 1s ease;
}

.scheme__image-stage_active {
  opacity: 1;
}

.scheme__labels {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.scheme__label {
  cursor: pointer;
}

.scheme__label * {
  transition: all 0.3s ease;
}

.scheme__label text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.03em;
  text-decoration: underline;
}

.scheme__label path {
  stroke: #002E6D;
}

.scheme__label text,
.scheme__label rect,
.scheme__label circle {
  fill: #002E6D;
}

.scheme__label:hover path,
.scheme__label_active path {
  stroke: #c10230;
}

.scheme__label:hover text,
.scheme__label:hover rect,
.scheme__label:hover circle,
.scheme__label_active text,
.scheme__label_active rect,
.scheme__label_active circle {
  fill: #c10230;
}

@media (max-width: 760px) {
  .scheme__label text {
    font-size: 14px;
  }

  .scheme__description {
    text-align: left;
  }
}

@media (min-width: 760px) {
  .scheme__description {
    width: 66.66667%;
    margin: auto;
  }
}

/* SCHEME GAS */

.scheme-gas .scheme__main {
  width: 237.29px;
}

.scheme-gas .scheme__labels {
  margin-top: -5%;
}

.scheme-gas .scheme__description {
  margin-top: 30px;
}



@media (max-width: 760px) {
  .scheme-gas {
    margin-top: 100px;
  }

  .scheme-gas .scheme__description {
    margin-top: 100px;
  }
}


@media (min-width: 1600px) {
  .scheme-gas .scheme__main {
    width: 323.6px;
  }
}


/* SCHEME TEPLO */
.scheme-teplo {
  margin-top: 100px;
}

@media (max-width: 1240px) {
  .scheme-teplo {
    margin-top: 160px;
  }
}

@media (max-width: 760px) {
  .scheme-teplo {
    margin-top: 200px;
  }
}

.scheme-teplo .scheme__main {
  width: 792px;
}

@media (max-width: 1600px) {
  .scheme-teplo .scheme__main {
    width: 462.64px;
  }
}

@media (max-width: 1240px) {
  .scheme-teplo .scheme__main {
    width: 339.36px;
  }
}

@media (max-width: 760px) {
  .scheme-teplo .scheme__main {
    width: 280px;
  }
}

.scheme-teplo .scheme__description {
  margin-top: 50px;
}

@media (max-width: 1240px) {
  .scheme-teplo .scheme__description {
    margin-top: 160px;
  }
}

@media (max-width: 760px) {
  .scheme-teplo .scheme__description {
    margin-top: 200px;
  }
}

