.sequention {
  position: relative;
  display: block;
}

.sequention__frame {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: none;
}

.sequention__frame:first-child {
  position: relative;
}

.sequention__frame_active {
  opacity: 1;
  z-index: 1;
}
