.services-page {
  @media (min-width: 1240px) and (max-width: 1600px)
  {
    transform: scale(0.7);
    transform-origin: top center;
    margin-bottom: -25%;
    padding-bottom: 50px;
  }

  @media (min-width: 1600px) {
    padding-bottom: 100px;
  }

  &__header {
    @media (min-width: 1240px) {
      max-width: 940px;
      margin: auto;
    }
    @media (min-width: 1600px) {
      max-width: 1240px;
      padding-right: 16%;
    }
  }

  &__desc {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.46;

    letter-spacing: -0.03em;

    @media (max-width: 1240px)
    {
      font-size: 18px;
    }
  }

  &__h {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.6;

    letter-spacing: -0.03em;

    color: #002E6D;

    @media (min-width: 760px) {
      font-size: 42px;
    }
  }
}


.service-page {
  margin-bottom: 50px;

  @media (min-width: 1240px) and (max-width: 1400px)
  {
    transform: scale(0.8);
    transform-origin: top center;
    margin-bottom: -5%;
  }

  &__article {

    h2 {
      margin: 25px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 1;

      letter-spacing: -0.03em;

      color: #002E6D;

      @media (min-width: 760px)
      {
        font-size: 42px;
        line-height: 1.1;
      }
    }

    h4 {
      color: #232833;
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__btn {
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;

      height: 0.8em;
      width:  0.8em;

      margin-left: 0.8em;

      background: url("../images/icon/arrow-right_white.svg") no-repeat center / 100%;
    }
  }

  @media (min-width: 1240px)
  {
    display: flex;
    flex-direction: row-reverse;
  }

  &__article {
    padding-right: 1 / 12 * 100%;
  }
  &__image {
    flex: 0 0 (5 / 12 * 100%)
  }

  &__desc {
    font-size: 20px;
  }
}
