.services-cards {
  margin: 0 -10px;

  .service-card {
    margin: 10px;
  }

  @media (min-width: 560px)
  {
    display: flex;
    flex-wrap: wrap;

    .service-card {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }

  @media (min-width: 1240px)
  {
    transform: scale(0.8);
    transform-origin: top center;
    margin-bottom: -20%;
  }
}


.service-card {
  $self: &;

  display: block;
  position: relative;
  height: 640px;

  &, &:hover {
    text-decoration: none;
  }


  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  &__header {
    position: relative;
    padding: 60px;
    height: 100%;
  }

  &__title {
    font-size: 26px;
    line-height: 1;
    margin-bottom: 10px;

    letter-spacing: -0.03em;

    color: #FFFFFF;
  }

  &__more {
    display: block;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: -0.03em;

    color: #C10230;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;

      height: 0.8em;
      width: 0.8em;

      margin-left: 0.35em;

      background: url("../images/icon/arrow-right_red.svg") no-repeat center / 100%;
    }
  }

  &:hover {
    background: #C10230;

    #{$self}__header {
      background: rgba(12, 46, 104, 0.8);
    }

    #{$self}__more {
      color: #fff;

      &:after {
        background-image: url("../images/icon/arrow-right_white.svg");
      }
    }
  }

  &_red {
    &:hover #{$self}__header {
      background: rgba(255, 0, 61, 0.55);
    }
  }

  @media (max-width: 1600px) {
    height: 540px;

    &__header {
      padding: 48px;
    }
  }

  @media (max-width: 1240px) {
    height: 340px;

    &__header {
      padding: 30px;
    }

    &__title {
      font-size: 20px;
    }
  }

  @media (max-width: 760px) {
    height: 280px;

    &__header {
      padding: 30px;
    }
  }
}

