
.slider {
  position: relative;
  overflow: hidden;
  padding: 100px 0 100px 0;
  background: #EEEEEE;
}

.slider .container {
  width: 800px;
  max-width: 100%;
}

.slider .owl-theme .owl-nav {
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 1;
}

.slider .owl-theme .owl-nav button.owl-prev {
  right: 70px;
}

.slider .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.slider .owl-carousel .owl-stage-outer {
  overflow: visible;
}

.slider__slide {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__after {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 20px;
}


@media screen and (max-width: 1240px) {
  .slider .container {
    width: 640px;
  }

  .slider {
    padding: 50px 0 50px 0;
  }

  .slider .owl-theme .owl-nav {
    bottom: 40px;
  }

  .slider {
    margin-top: 20px;
  }
}


@media screen and (min-width: 767px) {
  .slider__after {
    flex-direction: row-reverse;
  }

  .slider__after .carousel-hint {
    opacity: 0;
  }
}

@media screen and (max-width: 760px) {
  .slider {
    padding: 50px 0 40px 0;
  }

  .slider .owl-theme {
    display: none;
  }
}
