.spec-card {
  display: inline-block;

  width: 220px;
  max-width: 45%;

  padding: 10px 20px;

  border: 1px solid #E0E7E8;

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    letter-spacing: -0.03em;

    color: #002E6D;
  }

  &__prase {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.03em;

    color: #8E959D;
  }
}
