
/**
 * STUB
 */

.stub {
  text-align: center;
}

.stub__h {
  width: 980px;
  max-width: 100%;
  margin: 1em auto;
}

.stub__h_1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  /* or 127% */
  text-align: center;
  letter-spacing: -0.03em;
  color: #98A5AF;
}

.stub__h_2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #002E6D;
}

.stub__h_3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 46px;
  /* or 192% */
  text-align: center;
  letter-spacing: -0.03em;
  color: #8E959D;
}

.stub__go-back {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 46px;
  /* or 192% */
  text-align: center;
  letter-spacing: -0.03em;
  color: #c10230;
}

.stub__image {
  margin-top: 150px;
}

.stub__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  color: #002E6D;
  line-height: 1.8;
  margin-bottom: 100px;
}

.stub__header a {
  color: #002E6D;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.stub__header a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  .stub__header {
    flex-direction: column;
    text-align: center;
  }

  .stub__header-logo {
    padding: 40px 0;
  }
}

@media screen and (min-width: 760px) {
  .stub__header-tel {
    text-align: left;
  }

  .stub__header-email {
    text-align: right;
  }
}
