.table-params {
  background: #fafafa;

  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;

  color: #232833;

  margin: 15px 0 50px;

  &, tbody {
    display: block;
  }

  tr {
    display: flex;

  }

  td, th {
    padding: 0;

    vertical-align: bottom;
    background: #fafafa;
  }

  th:only-child {
    flex: 1 0 auto;
  }

  td:first-child {
    color: #8E959D;
  }

  @media (max-width: 759.97px)
  {
    &, tr, td {
      display: block;
    }

    tr {
      padding: 10px 0;
    }
  }

  @media (min-width: 760px) {
    tr {
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px dashed #ccc;
      margin-bottom: 20px;
    }

    th, td {
      padding: 0 10px;
      margin-bottom: -7px;

      &:first-child {
        padding-left: 0;
        margin-right: 1em;
      }
      &:last-child  { padding-right: 0; }
    }

    td:last-child {
      text-align: right;
    }
  }
}
