.tabs__item {
  display: none;
}

.tabs__item_active {
  display: block;
}


.tabs_theme-schemes {
  text-align: center;

  .tabs__nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0;
    padding: 0 25px;
    border: 1px solid #E0E7E8;
    background: #FAFAFA;
    border-radius: 300px;
  }

  @media screen and (max-width: 760px) {
    .tabs__nav {
      padding: 0 10px;
    }
  }

  .tabs__nav-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 60px;
    margin: 0 -25px;
  }

  @media screen and (max-width: 760px) {
    .tabs__nav-item {
      height: 50px;
      margin: 0 -10px;
    }
  }

  .tabs__nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 25px;
    color: #8E959D;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.12;
    text-align: center;
    letter-spacing: -0.03em;
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
    border-radius: 300px;
    transition: all 0.75s;
  }

  .tabs__nav-item_active .tabs__nav-link {
    z-index: 1;
  }

  .tabs__nav-item_active .tabs__nav-link,
  .tabs__nav-link:hover {
    background: #002e6d;
    color: #fff;
  }

  .tabs__nav-item_active .tabs__nav-link_red,
  .tabs__nav-link_red:hover {
    background: #bf0433;
  }

  .tabs__body {
    text-align: left;
  }
}
