.temperature-zone {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  &:before {
    content: '';
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 10px;

    border-radius: 10px;
    background: linear-gradient(90deg, #007DD3 0%, #8BF1FF 21.88%, #B7EFDB 36.46%, #FFEB44 49.48%, #DF0000 100%);
  }

  &__min {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    letter-spacing: -0.03em;

    color: #002E6D;
  }
  &__max {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    text-align: right;
    letter-spacing: -0.03em;

    color: #C10230;
  }

  &_teplo:before { background: linear-gradient(90deg, #002E6D 49.93%, #C10230 50%) }
}
