.history__timline {
  overflow: hidden;
}

.history-slider {
  overflow: hidden;
  user-select: none;
}
.history-slider__wrp {
  display: flex;
}
.history-slider__item {
  padding: 10px;
  opacity: 0.15;
  transition: opacity 0.75s ease, transform 0.75s ease;
  cursor: pointer;
}
.history-slider__item:hover {
  opacity: 0.3;
}

.history-slider__item_active {
  opacity: 1;
}

.history-slider__item_active:hover {
  opacity: 1;
}

.history-slider__item_exact-active,
.history-slider__item_exact-active:hover {
  opacity: 1;
}

/* CONTROLS */
.history-controls {
  position: relative;
  margin-top: -80px;

  display: flex;

  @media (max-width: 760px)
  {
    justify-content: space-between;
  }
  @media (min-width: 1240px) {
    padding-left: 8.33333%;
  }
}

.history-controls__prev {
  margin-right: 5px;
}
.history-controls__next {
  margin-left: 5px;
}

/* TIMELINE */
.timeline {
  display: flex;
  margin: 50px 0 80px;
  transition: transform 0.5s ease;
}


.timeline:after {
  content: '';
}

.timeline__item,
.timeline:after {
  flex-grow: 1;
  background: url("../images/timline-bg.svg") no-repeat center/100%;
}

.timeline__item {
  position: relative;
  text-align: right;
  height: 40px;
  transition: left 0.5s;
}

.timeline__item-trigger {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -30px;
  z-index: 1;
  width: 60px;
  cursor: pointer;
}

.timeline__item-trigger:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #002E6D;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.timeline__item-label {
  position: relative;
  margin-top: 10px;

  text-align: center;

  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #FFFFFF;

  opacity: 0.5;
}

.timeline__item_active .timeline__item-label {
  font-weight: bold;
  opacity: 1;
}

.timeline__item-circle {
  position: relative;
  width: 37px;
  height: 37px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
}

.timeline__item-circle:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  background: #C10230;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.75s ease;
}

.timeline__item-circle:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px/2);
  left: calc(50% - 9px/2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  transform: scale(0.77);
  transition: transform 0.75s ease;
}

.timeline__item_active .timeline__item-trigger:before,
.timeline__item_active .timeline__item-trigger:after,
.timeline__item_active .timeline__item-circle:before,
.timeline__item_active .timeline__item-circle:after,
.timeline__item-trigger:hover:before,
.timeline__item-trigger:hover:after,
.timeline__item-trigger:hover .timeline__item-circle:before,
.timeline__item-trigger:hover .timeline__item-circle:after {
  transform: scale(1);
}


@media screen and (max-width: 1600px) {
  .timeline {
    margin: 50px 0 53px;
  }
}
@media screen and (max-width: 760px) {
  .timeline {
    margin: 15px 0 70px;
  }
}


/* ABOUT COMPANY TIMELINE DATE */
.history-card {
  display: inline-block;
  width: 500px;
  height: 100%;
  position: relative;
  background: #FFFFFF;
  padding: 50px 60px 20px 130px;
}

.history-card__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 35px;

  width: 50px;
  height: 60px;

  font-size: 1.6em;
  color: #fff;
  background: #C10230;
}

.history-card__icon .icon {
  fill: #fff;
}

.history-card__year {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #232833;
}

.history-card__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #232833;
  margin-bottom: 20px;
}

.history-card__description {
  font-size: 14px;
  line-height: 20px;
  color: #232833;
}

@media screen and (max-width: 1600px) {
  .history-card {
    padding: 20px 20px 20px 80px;
    width: 380px;
  }

  .history-card__icon {
    left: 20px;
    width: 40px;
    height: 50px;
  }

  .history-card__icon img {
    max-width: 30px;
  }

  .history-card__title {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 1240px) {
  .history-card {
    padding: 70px 20px 20px 20px;
    width: 230px;
  }

  .history-card__title {
    margin-bottom: 20px;
  }
}
