extends ../../layouts/news-page

block append vars
  - index = 0

block article
 p Учебно-методический сбор является площадкой для коммуникаций и обмена опытом в области систем безопасности. Компании-участники презентовали свои решения, новые технологии и разработки.
 p Компания ООО "НПО "АМБ" представила решения для охраны линейных объектов магистральных трубопроводов: стационарный комплекс контроля утечек нефтепродуктов на действующих объектах, мобильный комплекс контроля локальных зон разлива нефтепродуктов, стационарный взрывозащищенный тепловизиор и поворотный ОТК с зум-камерой и тепловизором. В ходе мероприятия, обсудили вопросы обеспечения охраны безопасности линейных объектов с представителями подразделений ПАО «Транснефть».
 p «НПО «АМБ» благодарит организаторов за возможность представить свои решения, полезное общение и ценный обмен опытом.
