extends ../../layouts/news-page

block append vars
  - index = 1

block article
  p Презентация оборудования состоялась в Лаборатории «Нанотехнологий и наноматериалов» в Военном инновационном технополисе ЭРА в Анапе. Мероприятие посетил президент Владимир Путин и министр обороны Сергей Шойгу. Концепция Соглашения между ООО «НПО «АМБ» и технополисом «Эра» предполагает сотрудничество в области разработок и внедрения новейших технологий в оборонной сфере. Системы газоанализа компании «АМБ» в рамках данного Соглашения являются перспективной разработкой и представляют особый интерес для повышения обороноспособности страны.
