extends ../../layouts/news-page

block append vars
  - index = 2

block article
  p На мероприятии обсуждались проблем и перспективы развития РХБ защиты Арктического региона в контексте необходимости совершенствования профподготовки специалистов войск РХБ защиты и поиска инновационных технологических разработок для решения задачи.
  p Для компании «АМБ» конференция представляла интерес, как для участника, обладающего перспективными техническими разработками в сфере эффективных систем РХБ защиты. В частности, в компании создана система радиационной химической безопасности «Щит», обладающая широким спектром назначения и способная оказать существенную помощь в решении задач по обеспечению РХБ защиты войск и населения в Арктическом регионе
