extends ../../layouts/news-page

block append vars
  - index = 4

block article
  p
   | Компания «АМБ» в рамках выставки продемонстрировала на своем стенде: сенсоры SS-Gas, ОЕМ-модуль, газоанализатор «Момент», «Электронный нос». Продукты были представлены, как газоаналитическое оборудование, не имеющее аналогов на мировом рынке: «АМБ» применяет при производстве уникальную технологию, позволяющую значительно повысить точность идентификации веществ и быстродействие. В основе технологии — использование высокочувствительных полупроводниковых сенсоров собственной разработки «SS-GAS» и уникального алгоритма математической обработки результатов измерений.
  p
   | Стенд «АМБ» вызвал активный отклик и интерес у иностранных партнеров, что способствовало достижению новых соглашений о сотрудничестве.

