extends ../../layouts/news-page

block append vars
  - index = 5

block article
  p.

    Владимиру Путину были представлены флагманские продукты компании «АМБ»: газосигнализатор «Молекула», газоанализаторы «Момент» и «АНТ-32». Данное оборудование эффективно при обнаружении опасных и ядовитых веществ и является надежным решением для экологического мониторинга и промышленной безопасности.

  p.

    Презентацию газоанализаторов на уровне главы государства Компания «АМБ» расценивает как импульс для дальнейшего развития бизнеса и возможность формирования новых партнерских отношений.

  h4 СМИ об этом событии:
  ul
    li
      a(href='https://www.dp.ru/a/2019/07/04/Gazoanalizatori_AMB_pre' target='_blank') Деловой Петербург
    li
      a(href='https://zvezdaweekly.ru/news/t/2019710951-tNK4T.html' target='_blank') Еженедельник "Звезда"
  br
  video(controls controlslist='nodownload' poster)
    source(src='/uploads/news/6/video_1.mp4' type='video/mp4')

