extends ../../layouts/news-page

block append vars
  - index = 6

block article
  p Новые тепловизоры «Ирбис» способны бесконтактным способом выполнять непрерывный мониторинг большого потока людей, выявляя даже самое минимальное повышение температуры тела одного или нескольких людей в потоке, тем самым указывая на то, что человек нездоров.
  p Данная мера позволяет оперативно обнаружить человека с первичными признаками того или иного заболевания, вызывающего повышение температуры тела и принять необходимые меры для более детального медицинского обследования.
  p Как отметил технический директор компании Виталий Меньшаков, в условиях развития мировых вирусных эпидемий,  данное оборудование имеет огромный потенциал, как товар первой необходимости. У компании «НПО «АМБ» есть все технические ресурсы, чтобы удовлетворить потребность рынка:
  p — Осознавая всю важность сложившейся эпидемиологической ситуации и, принимая во внимание рыночный запрос, мы сосредоточили все ресурсы компании на разработке новой линейки тепловизоров. Сегодня мы готовы предложить рынку современные и высокоэффективные тепловизионные системы для определения повышенной температуры тела человека, которые не только локально решают задачу выявления инфицированных людей в местах большого скопления, но и глобально помогают в борьбе с распространением эпидемий.
  p Стоит отметить, что при выборе тепловизора важно понимать, что не все они способны правильно анализировать инфракрасное излучение тела человека. Как правило, простые измерительные тепловизоры, даже самых именитых брендов, способны лишь измерять температуру с довольной большой погрешностью. Пользуясь такими приборами, можно совершить непоправимую ошибку. Тепловизор «Ирбис» умеет анализировать термограмму лица человека с высокой точностью и, в случае обнаружения в кадре лица с признаками повышенной температуры, незамедлительно подаст сигнал тревоги, в данном случае, вероятность ошибки минимальна.
  p При разработке наших тепловизионных систем дистанционного температурно- эпидемиологического контроля, мы руководствовались большим опытом производства тепловизионного оборудования, которое эксплуатируется на объектах транспортной инфраструктуры, аэропортах, режимных объектах.

  br
  p
    a(href="/thermal-imagers/catalog/categories/medical.html" target="_blank")
      b Перейти в каталог тепловизоров для контроля температуры

