extends ../../layouts/base

block append vars
  include ../../data/news
  include ../../mixins/news-card

block body
  include ../../blocks/nav-bar
  include ../../blocks/menu

  .all-news-page.article
    .container
      div
        //  GO TO ALL NEWS
        a.go-to-all-news(href='/')
          span.go-to-all-news__icon
            img(src='/images/go-to-all-news__icon.svg')
        span.go-to-all-news__text Вернуться на главную
        //  END: GO TO ALL NEWS
      br
      h2.all-news-page__h Новости
      .news-grid-cards
        - var newsListReversed = newsList.reverse();
        - for (let item of newsListReversed)
          - if (item.published)
            +news-card(item)
      button.btn-more-news Показать еще
  #contacts
    include ../../blocks/contacts
  #bottom
    include ../../blocks/footer
