
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-controls .owl-nav button.owl-prev,
.owl-controls .owl-nav button.owl-next {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s linear;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus,
.owl-controls .owl-nav button.owl-prev:focus,
.owl-controls .owl-nav button.owl-next:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover,
.owl-controls .owl-nav button.owl-prev:hover,
.owl-controls .owl-nav button.owl-next:hover {
  background-color: #C10230;
  border-color: #C10230;
}

.owl-carousel .owl-nav button.owl-prev>span,
.owl-carousel .owl-nav button.owl-next>span,
.owl-controls .owl-nav button.owl-prev>span,
.owl-controls .owl-nav button.owl-next>span {
  position: relative;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  transform: translateX(60px);
}

.owl-carousel .owl-nav button.owl-prev,
.owl-controls .owl-nav button.owl-prev {
  background: url("../images/arrow-left.svg") no-repeat center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-controls .owl-nav button.owl-next {
  background: url("../images/arrow-right.svg") no-repeat center;
}

.owl-carousel .owl-nav button.owl-next>span,
.owl-controls .owl-nav button.owl-next>span {
  text-align: right;
  transform: translateX(-65px);
}

.owl-carousel .owl-nav--gray button.owl-prev,
.owl-carousel .owl-nav--gray button.owl-next,
.owl-controls .owl-nav--gray button.owl-prev,
.owl-controls .owl-nav--gray button.owl-next {
  width: 60px;
  height: 60px;
  border: 1px solid #C4CFD2;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s linear;
}

.owl-carousel .owl-nav--gray button.owl-prev:focus,
.owl-carousel .owl-nav--gray button.owl-next:focus,
.owl-controls .owl-nav--gray button.owl-prev:focus,
.owl-controls .owl-nav--gray button.owl-next:focus {
  outline: none;
}

.owl-carousel .owl-nav--gray button.owl-prev:hover,
.owl-carousel .owl-nav--gray button.owl-next:hover,
.owl-controls .owl-nav--gray button.owl-prev:hover,
.owl-controls .owl-nav--gray button.owl-next:hover {
  background-color: #C10230;
  border-color: #C10230;
  transform: scale(1.16, 1.16);
}

.owl-carousel .owl-nav--gray button.owl-prev>span,
.owl-carousel .owl-nav--gray button.owl-next>span,
.owl-controls .owl-nav--gray button.owl-prev>span,
.owl-controls .owl-nav--gray button.owl-next>span {
  position: relative;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  transform: translateX(60px);
}

.owl-carousel .owl-nav--gray button.owl-prev,
.owl-controls .owl-nav--gray button.owl-prev {
  background: url("../images/arrow-left-blue.svg") no-repeat center;
}

.owl-carousel .owl-nav--gray button.owl-prev:hover,
.owl-controls .owl-nav--gray button.owl-prev:hover {
  background-image: url("../images/arrow-left.svg");
}

.owl-carousel .owl-nav--gray button.owl-next,
.owl-controls .owl-nav--gray button.owl-next {
  background: url("../images/arrow-right-blue.svg") no-repeat center;
}

.owl-carousel .owl-nav--gray button.owl-next:hover,
.owl-controls .owl-nav--gray button.owl-next:hover {
  background-image: url("../images/arrow-right.svg");
}

.carousel-pagination {
  display: inline-flex;
  align-items: center;
  height: 2em;
  font-style: normal;
  font-weight: bold;
  color: #C4CFD2;
}

.carousel-pagination__index {
  color: #C10230;
}

.carousel-pagination__progress-wrp {
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  width: 55px;
  height: 1px;
  overflow: hidden;
  background: #C4CFD2;
}

.carousel-pagination__progress {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #C10230;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.carousel-pagination__count {
  transition: color 0.5s ease;
}

.carousel-pagination_full .carousel-pagination__count {
  color: #C10230;
}

.carousel-hint {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-weight: bold;
  color: #8E959D;
}

.carousel-hint__icon {
  position: relative;
  top: -4px;
  display: inline-block;
  width: 14px;
  height: 24px;
}

.carousel-hint__label {
  margin-left: 10px;
  display: inline-block;
}
