extends ../../layouts/base
include ../../mixins/nav-bar

block append vars
  include ../../data/nav-items-teplo
  - logoHref = '/';

block body
  .direction-page.direction-page_teplo
    #top
      //  HEADER
      header.header.header_with-buttons.header_auto-height
        .header__controls
          +nav-bar({navItems})
        .header__menu
          include ../../blocks/menu
        .header__side-buttons

          //  HEADER SIDE BUTTON
          a.header-side-button.header-side-button_red(href="/thermal-imagers/catalog/")
            span.header-side-button__inner
              svg.icon
                use(xlink:href="/images/sprite.svg#catalog")
              span.header-side-button__label Каталог
          //  END: HEADER SIDE BUTTON
          //  HEADER SIDE BUTTON
          a.header-side-button(href="/thermal-imagers/services/")
            span.header-side-button__inner
              svg.icon
                use(xlink:href="/images/sprite.svg#services")
              span.header-side-button__label Услуги
          //  END: HEADER SIDE BUTTON

        .header__slider
          //  ACTIVITIES SLIDER
          .activities-slider.activities-slider_dark
            .activities-slider__slides
              .activities-slider__slide.activities-slider__slide_active
                .activities-slider__bg(style='background-image: url(/images/terminal-imager/slide-1.jpg);')
                .activities-slider__header Оптико-тепловизионные комплексы, тепловизоры, видеокамеры
                .activities-slider__text
                  .activities-slider__text-inner
                    h3.activities-slider__h Безопасная городская среда
                    p.activities-slider__desc
                      | Комплексные системы безопасности для городского пространства: мониторинг транспортной инфраструктуры и защита мест общественного пользования.
                      |
                      a(href="/thermal-imagers/catalog/") В&nbsp;каталог
              .activities-slider__slide
                .activities-slider__bg(style='background-image: url(/images/terminal-imager/slide-2.jpg);')
                .activities-slider__text
                  .activities-slider__text-inner
                    h3.activities-slider__h Контроль промышленных объектов
                    p.activities-slider__desc
                      | Системы непрерывного видеонаблюдения для промышленности: круглосуточный контроль технологических процессов и повышение эффективности производства.
                      |
                      a(href="/thermal-imagers/catalog/") В&nbsp;каталог
              .activities-slider__slide
                .activities-slider__bg(style='background-image: url(/images/terminal-imager/slide-3.jpg);')
                .activities-slider__text
                  .activities-slider__text-inner
                    h3.activities-slider__h Охрана спецобъектов
                    p.activities-slider__desc
                      | Решения для военных, секретных и режимных объектов: безопасность государственных границ и защита территорий стратегического значения.
                      |
                      a(href="/thermal-imagers/catalog/") В&nbsp;каталог
            .activities-slider__controls
              .activities-slider__arrows
                .circle-btn.activities-slider__prev
                  svg.icon.color-white
                    use(xlink:href="/images/sprite.svg#left_arrow")
                .circle-btn.activities-slider__next
                  svg.icon.color-white
                    use(xlink:href="/images/sprite.svg#right_arrow")
              .carousel-pagination
                span.carousel-pagination__index 4
                span.carousel-pagination__progress-wrp
                  span.carousel-pagination__progress(style='transform: translateX(-50%);')
                span.carousel-pagination__count 8
          //  END: ACTIVITIES SLIDER
      //  END: HEADER
    br
    br
    #advantages
      .container
        .scatter
          .scatter__left
            .scatter__fixed
              .scatter__header
                .container
                  h2
                    | Мы не обещаем безопасность.
                    br
                    | Мы ее гарантируем.
                  p.large Создаем безопасное и разумное пространство для работы и жизни
              .scatter__sequention
                //  SEQUENTION
                .sequention(data-path='/images/sequentions/thermal-imager/' data-prefix='1_' data-extension='jpg' data-digits-length='5' data-count='112')
              //  END: SEQUENTION
          .scatter__right
            .scatter__benefits
              //  BENEFITS-LIST
              ul.benefits-list
                li.benefits-list__item
                  .benefits-list__img
                    svg.icon
                      use(xlink:href="/images/sprite.svg#cctv")
                  h4 Собственное производство
                  p Разрабатываем, проектируем, выполняем сборку и лабораторные испытания тепловизионных комплексов на собственной производственной базе в Санкт-Петербурге.
                li.benefits-list__item
                  .benefits-list__img
                    svg.icon
                      use(xlink:href="/images/sprite.svg#development")
                  h4 Инновации и технологии
                  p Создаем системы безопасности любой сложности, постоянно внедряем в производство новые модели тепловизионных систем, улучшая показатели качества, надежности и долговечности.
                li.benefits-list__item
                  .benefits-list__img
                    svg.icon
                      use(xlink:href="/images/sprite.svg#aim")
                  h4 Полевые и лабораторные испытания
                  p Перед запуском в серийное производство проводим механические, климатические и электромагнитные испытания. Для полевых практических испытаний применяем собственный мобильный тепловизионный комплекс.
                li.benefits-list__item
                  .benefits-list__img
                    svg.icon
                      use(xlink:href="/images/sprite.svg#circuit")
                  h4 Парк комплектующих
                  p Оперативно оказываем сервисную поддержку, благодаря большому складскому запасу комплектующих и подменному фонду самых популярных моделей.
                li.benefits-list__item
                  .benefits-list__img
                    svg.icon
                      use(xlink:href="/images/sprite.svg#checklist")
                  h4 Индивидуальный заказ
                  p Разрабатываем уникальные тепловизионные решения и создаем специализированные модули, не имеющие аналогов на рынке, под индивидуальные задачи заказчика.
                li.benefits-list__item
                  .benefits-list__img
                    svg.icon
                      use(xlink:href="/images/sprite.svg#system-key")
                  h4 Надежность. Безопасность.
                  p Наши технические решения отвечают самым современным международным достижениям в области тепловизионного наблюдения и видеоанализа. Стратегическая задача компании - развиваться, постоянно повышая показатели надежности и безопасности.
              //  END: BENEFITS-LIST
    br
    br
    #applying
      .container
        h2.text-center Применение
        section.applying
          .applying__item
            .applying__img
              img(src='/images/terminal-imager/illustration-1.png' data-src-hover='/images/terminal-imager/illustration-1.gif' alt='Трубопроводная инфраструктура')
            .applying__text
              h5 Трубопроводная инфраструктура
              p Выявление утечек и дефектов, обеспечение безопасности (контроль врезок)
          .applying__item
            .applying__img
              img(src='/images/terminal-imager/illustration-2.png' data-src-hover='/images/terminal-imager/illustration-2.gif' alt='Промышленность')
            .applying__text
              h5 Промышленность
              p Круглосуточное наблюдение за технологическими процессами, предотвращение аварийных ситуаций
          .applying__item
            .applying__img
              img(src='/images/terminal-imager/illustration-3.png' data-src-hover='/images/terminal-imager/illustration-3.gif' alt='Аэропорты')
            .applying__text
              h5 Аэропорты
              p Мониторинг периметра, выявление заболевших пассажиров (медицинский контроль)
          .applying__item
            .applying__img
              img(src='/images/terminal-imager/illustration-4.png' data-src-hover='/images/terminal-imager/illustration-4.gif' alt='Морские порты')
            .applying__text
              h5 Морские порты
              p Охрана территорий морских терминалов от незаконных вторжений и загрязнения акваторий
          .applying__item
            .applying__img
              img(src='/images/terminal-imager/illustration-5.png' data-src-hover='/images/terminal-imager/illustration-5.gif' alt='Городская инфраструктура')
            .applying__text
              h5 Городская инфраструктура
              p Контроль общественных мест на наличие нарушений и угроз террористических актов
    br
    br
    //  BANNER
    section.banner.baner_teplo
      .banner__bg(style='background-image: url(/images/terminal-imager/banner.png)')
      .banner__content
        .container
          .banner__label
            img.banner__logo(data-src='/images/logo.svg')
            h3 Высокая безопасность для бизнеса, имеющего высокие цели
    //  END: BANNER
    br
    br
    #downloads
      .container
        h2 Центр загрузки
        br
        //  DOWNLOADS
        .downloads
          .downloads__tabs
            .downloads__tab
              .downloads__tab-header
                h5 Листовки
                p 3 документа
                svg.icon.downloads__tab-icon
                  use(xlink:href="/images/sprite.svg#plus")
              .downloads__items
                .downloads__item
                  .downloads__item-title ИРБИС | ОПОРНО-ПОВОРОТНОЕ УСТРОЙСТВО
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 9.7 Мб
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/irbis-opu.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title ИРБИС | МЕД T0101.12U
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 2.2 Мб
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/T00101.12U.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title ИРБИС | МЕД T0201.12U
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 2.3 Мб
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/TV0201.12U.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
            .downloads__tab
              .downloads__tab-header
                h5 Презентации
                p 3 документа
                svg.icon.downloads__tab-icon
                  use(xlink:href="/images/sprite.svg#plus")
              .downloads__items
                .a.downloads__item
                  .downloads__item-title Презентация 1
                  .downloads__item-meta
                    span.downloads__item-type Рекламный буклет
                    span.downloads__item-extension pdf, 4.1 Мб
                  .downloads__item-link(href='#')
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .a.downloads__item
                  .downloads__item-title Презентация 2
                  .downloads__item-meta
                    span.downloads__item-type Рекламный буклет
                    span.downloads__item-extension pdf, 4.1 Мб
                  .downloads__item-link(href='#')
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .a.downloads__item
                  .downloads__item-title Презентация 3
                  .downloads__item-meta
                    span.downloads__item-type Рекламный буклет
                    span.downloads__item-extension pdf, 4.1 Мб
                  .downloads__item-link(href='#')
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
        //  END: DOWNLOADS
    br
    br
    #contacts
      include  ../../blocks/contacts
    #bottom
      include ../../blocks/footer
