extends ../../../layouts/base
include ../../../mixins/nav-bar

block append vars
  include ../../../data/nav-items-gas

block body
  +nav-bar({ isWhite: true, navItems })

  include ../../../blocks/menu
  include ../../../blocks/category-carousel-gas

  .catalog-page
    .container
      br
      br
      h3.text-center Газоаналитическое <br> оборудование
      br
      .catalog-cards

        .catalog-cards__item
          a(href="/gas-analysis/catalog/categories/gas.html").catalog-card
            span.catalog-card__img
              img(src="/images/catalog/gas.png")
            span.catalog-card__title Газоанализаторы
            span.catalog-card__more Подробнее
        .catalog-cards__item
          a(href="/gas-analysis/catalog/categories/electronic-nose.html").catalog-card
            span.catalog-card__img
              img(src="/images/catalog/electronic-nose.png")
            span.catalog-card__title Электронный нос
            span.catalog-card__more Подробнее
        .catalog-cards__item
          a(href="/gas-analysis/catalog/categories/eco-monitoring-stations.html").catalog-card
            span.catalog-card__img
              img(src="/images/catalog/eco-monitoring-stations.png")
            span.catalog-card__title Станции экомониторинга
            span.catalog-card__more Подробнее
        .catalog-cards__item
          a(href="/gas-analysis/catalog/categories/Water-Quality-Control-Laboratory.html").catalog-card
            span.catalog-card__img
              img(src="/images/catalog/Water-Quality-Control-Laboratory.png")
            span.catalog-card__title Лаборатория контроля качества воды
            span.catalog-card__more Подробнее
        .catalog-cards__item
          a(href="/gas-analysis/catalog/categories/gas-detectors.html").catalog-card
            span.catalog-card__img
              img(src="/images/catalog/gas-detectors.png")
            span.catalog-card__title Газосигнализаторы
            span.catalog-card__more Подробнее
        .catalog-cards__item
          a(href="/gas-analysis/catalog/categories/oem-module.html").catalog-card
            span.catalog-card__img
              img(src="/images/catalog/oem-module.png")
            span.catalog-card__title ОЕМ-модуль
            span.catalog-card__more Подробнее
    br
    br
    br
  include ../../../blocks/contacts
  include ../../../blocks/footer
