html,
body {
  font-family: 'Istok Web', sans-serif;
  height: 100%;
}

body {
  min-width: 320px;
}

img,
svg {
  max-width: 100%;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
  min-height: 1em;
  min-width: 1em;
}

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  fill: #000;
  object-fit: contain;
}

.color-white {
  color: #fff;
  fill:  #fff;
}

.color-red {
  color: #C10230;
  fill: #C10230;
}

.color-blue {
  color: #002E6D;
  fill: #002E6D;
}




