.container {
  width: 1540px;
  margin: 0 auto;
  max-width: 100%;
}

.container--relative {
  position: relative;
}

.full-height {
  height: 100%;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 1180px;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    width: 700px;
  }

  .full-height {
    height: auto;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
