.text-center
{
  text-align: center;
}

.large {
  font-size: 1.2em;
}

.desktop,
.laptop,
.tablet,
.mobile {
  display: none;
}

.mb-0 {
  margin-bottom: 0;
}

@media (max-width: 759.97px) {
  .hidden-mobile { display: none }
  .mobile { display: block; }
}

@media (min-width: 760px) and (max-width: 1239.97px) {
  .hidden-tablet { display: none }
  .tablet { display: block; }
}

@media (min-width: 1240px) and (max-width: 1599.97px) {
  .hidden-laptop { display: none }
  .laptop { display: block; }
}

@media (min-width: 1600px) {
  .hidden-desktop { display: none }
  .desktop { display: block }
}
