h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: -0.03em;
  margin: 10px 0;
  /* Основной синий */
  color: #002E6D;
}

h1,
.h1 {
  font-weight: bold;
  font-size: 42px;
}

@media (max-width: 760px) {

  h1,
  .h1 {
    font-size: 30px;
  }
}

h2,
.h2 {
  font-size: 36px;
}

@media (max-width: 760px) {
  h2,
  .h2 {
    font-size: 25px;
  }
}

h3,
.h3 {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 760px) {
  h3,
  .h3 {
    font-size: 20px;
  }
}

@media (min-width: 1600px) {
  h3,
  .h3 {
    font-size: 30px;
  }
}

h4,
.h4 {
  font-size: 18px;
  font-weight: bold;
}

h5,
.h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.03em;

  color: #C10230;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.03em;
  color: #232833;
}

p {
  margin: 10px 0;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style: decimal;
  padding-left: 20px;
}

li {
  margin: 16px 0;
}

a {
  color: #002E6D;
}

a:hover {
  text-decoration: underline;
}


ul.list-parallelogram {
  list-style: none;

  margin: 20px 0;
  padding: 0;

  li {
    position: relative;
    margin: 10px 0;
    padding-left: 1.5em;

    &:before {
      content: '';

      position: absolute;
      top: 0.35em;
      left: 0;

      display: inline-block;
      width: 0.4em;
      height: 0.5em;
      vertical-align: middle;
      background: #C10230;
      transform: skewX(-20deg);
    }
  }
}

.a {
  filter: grayscale(100%) invert(10%);
  opacity: 0.5;
}

.h-separator {
  display: flex;
  align-items: center;

  &:after {
    display: inline-block;
    content: '';
    height: 1px;
    flex-grow: 1;
    margin-left: 1.5em;
    background: #C4CFD2;
  }
}

.small {
  font-size: 0.75em;
}
