extends ../../layouts/base
include ../../mixins/nav-bar

block append vars
  include ../../data/nav-items-gas
  - logoHref = '/';


block body
  .direction-page.direction-page_gas
    #top
      //  HEADER
      header.header.header_with-buttons.header_auto-height
        .header__controls
          +nav-bar({ navItems })
        .header__menu
          include ../../blocks/menu
        .header__side-buttons

          //  HEADER SIDE BUTTON
          a(href="/gas-analysis/catalog/").header-side-button.header-side-button_red
            span.header-side-button__inner
              svg.icon
                use(xlink:href="/images/sprite.svg#catalog")
              span.header-side-button__label Каталог
          //  END: HEADER SIDE BUTTON
          //  HEADER SIDE BUTTON
          a.header-side-button(href="/gas-analysis/services/")
            span.header-side-button__inner
              svg.icon
                use(xlink:href="/images/sprite.svg#services")
              span.header-side-button__label Услуги
          //  END: HEADER SIDE BUTTON

        .header__slider
          //  ACTIVITIES SLIDER
          .activities-slider
            .activities-slider__slides
              .activities-slider__slide.activities-slider__slide_active
                .activities-slider__bg(style='background-image: url(/images/gas-analysis/slide-1.jpg);')
                .activities-slider__header От уникального газового сенсора до инновационных систем газового анализа
                .activities-slider__text
                  .activities-slider__text-inner
                    h3.activities-slider__h Промышленная безопасность
                    p.activities-slider__desc
                      | Разрабатываем системы раннего обнаружения аварийных ситуаций и помогаем предотвратить их или минимизировать последствия от возникновения аварий.
                      |
                      a(href="/gas-analysis/catalog/") В&nbsp;каталог
              .activities-slider__slide
                .activities-slider__bg(style='background-image: url(/images/gas-analysis/slide-2.jpg);')
                .activities-slider__text
                  .activities-slider__text-inner
                    h3.activities-slider__h Экологический мониторинг
                    p.activities-slider__desc
                      | Создаем комплексы экомониторинга и контроля выбросов и даем точную информацию о качестве окружающей среды и прогноз изменения экологической ситуации.
                      |
                      a(href="/gas-analysis/catalog/") В&nbsp;каталог
              .activities-slider__slide
                .activities-slider__bg(style='background-image: url(/images/gas-analysis/slide-3.jpg);')
                .activities-slider__text
                  .activities-slider__text-inner
                    h3.activities-slider__h Транспортная безопасность
                    p.activities-slider__desc
                      | Производим системы обнаружения всех запрещенных к перевозке веществ и помогаем защитить пассажиров от террористических проявлений на транспорте.
                      |
                      a(href="/gas-analysis/catalog/") В&nbsp;каталог
            .activities-slider__controls
              .activities-slider__arrows
                .circle-btn.activities-slider__prev
                  svg.icon.color-blue
                    use(xlink:href="/images/sprite.svg#left_arrow")
                .circle-btn.activities-slider__next
                  svg.icon.color-blue
                    use(xlink:href="/images/sprite.svg#right_arrow")
              .carousel-pagination
                span.carousel-pagination__index 4
                span.carousel-pagination__progress-wrp
                  span.carousel-pagination__progress(style='transform: translateX(-50%);')
                span.carousel-pagination__count 8
          //  END: ACTIVITIES SLIDER
      //  END: HEADER
    br
    br
    #advantages
      .container
        .scatter
          .scatter__left
            .scatter__fixed
              .scatter__header
                h2 Чистая экология для чистого бизнеса
                p.large
                  | Создаем газоаналитическое оборудование для промышленности,
                  br
                  | городской инфраструктуры и надзорно-контрольных организаций
              .scatter__sequention
                //  SEQUENTION
                .sequention(data-path='/images/sequentions/gas-analysis/' data-prefix='Snif_' data-extension='jpg' data-digits-length='5' data-count='107')
                //  END: SEQUENTION
          .scatter__right
            .scatter__benefits
              //  BENEFITS-LIST
              ul.benefits-list
                li.benefits-list__item
                  .benefits-list__img
                    svg.icon
                      use(xlink:href="/images/sprite.svg#robot-arm")
                  h4 Полный производственный цикл
                  p Реализуем полный технологический цикл производства: от полупроводникового сенсора собственной конструкторской разработки – до готовой газоаналитической системы.
                li.benefits-list__item
                  .benefits-list__img
                    svg.icon
                      use(xlink:href="/images/sprite.svg#sensor-1")
                  h4 Наши сенсоры не имеют аналогов в мире
                  p У сенсоров нового поколения SS-GAS, разработанных компанией «АМБ» нет аналогов, благодаря инновационной технологии производства, которая позволяет синтезировать газочувствительный материал для пленки сенсора с максимальной точностью, по размерам поликристаллов.
                li.benefits-list__item
                  .benefits-list__img
                    svg.icon
                      use(xlink:href="/images/sprite.svg#gas_analys-1")
                  h4 Лучшие в сегменте приборы и системы газоанализа
                  p Используя сенсоры SS-GAS и уникальный алгоритм обработки результатов измерений, мы создаем лучшее на современном рынке газоаналитическое оборудование, которое характеризует высокая чувствительность и быстродействие, достаточная селективность и специфичность при обнаружении веществ в многокомпонентных средах.
                li.benefits-list__item
                  .benefits-list__img.benefits-list__img--3s
                    svg.icon
                      use(xlink:href="/images/sprite.svg#3s")
                  h4 Только наше оборудование эффективно решает задачу 3-S
                  p Модельный ряд продуктов «АМБ» обладает самыми высокими среди конкурентов показателями по чувствительности (Sensitivity), селективности (Selectivity), стабильности результатов измерений (Stability) и максимально приближен к природной чувствительности носа поисковой собаки.
                li.benefits-list__item
                  .benefits-list__img
                    svg.icon
                      use(xlink:href="/images/sprite.svg#sertif")
                  h4 Патенты на продукцию
                  p У наших флагманских продуктов есть патенты на изобретения, подтверждающие уникальность технологий, применяемых при производстве.
                li.benefits-list__item
                  .benefits-list__img
                    svg.icon
                      use(xlink:href="/images/sprite.svg#distributed")
                  h4 Индивидуальные решения
                  p Ориентируясь на задачу заказчика, мы можем менять и увеличивать перечень обнаруживаемых веществ в оборудовании. Наши решения легко встраиваются в любую инфраструктуру с помощью проводных и беспроводных интерфейсов.
              //  END: BENEFITS-LIST
    br
    br
    #applying
      .container
        h2.text-center Применение
        section.applying
          .applying__item
            .applying__img
              img(src='/images/gas-analysis/illustration-1.png' data-src-hover='/images/gas-analysis/illustration-1.gif' alt='Промышленность')
            .applying__text
              h5 Промышленность
              p Выявление аварийных ситуаций на ранних стадиях, контроль производственных процессов
          .applying__item
            .applying__img
              img(src='/images/gas-analysis/illustration-2.png' data-src-hover='/images/gas-analysis/illustration-2.gif' alt='Городская среда')
            .applying__text
              h5 Городская среда
              p Мониторинг окружающей среды на наличие в воздухе загрязняющих веществ и выбросов
          .applying__item
            .applying__img
              img(src='/images/gas-analysis/illustration-3.png' data-src-hover='/images/gas-analysis/illustration-3.gif' alt='Пункты досмотра')
            .applying__text
              h5 Пункты досмотра
              p Идентификация взрывоопасных и запрещённых веществ в пунктах досмотра
          .applying__item
            .applying__img
              img(src='/images/gas-analysis/illustration-4.png' data-src-hover='/images/gas-analysis/illustration-4.gif' alt='ЖД инфраструктура')
            .applying__text
              h5 Транспортная инфраструктура
              p Обнаружение запрещенных к перевозке на транспорте веществ во избежание терактов
          .applying__item
            .applying__img
              img(src='/images/gas-analysis/illustration-5.png' data-src-hover='/images/gas-analysis/illustration-5.gif' alt='Ликвидация последствий аварий')
            .applying__text
              h5 Ликвидация последствий аварий
              p Замеры уровня загрязнения почвы, воды и воздуха при ликвидации последствий аварий
    br
    br
    //  PARALLAX
    section.banner.banner_gas
      .banner__bg(style='background-image: url(/images/gas-analysis/banner.png)')
      .banner__content
        .container
          .banner__label
            img.banner__logo(data-src='/images/logo.svg')
            h3
              | Наше качество выше,
              br
              | чем наши цены
    //  END: PARALLAX
    br
    br
    #downloads
      .container
        h2 Центр загрузки
        br
        //  DOWNLOADS
        .downloads
          .downloads__tabs
            .downloads__tab
              .downloads__tab-header.downloads__tab-header_red
                h5 Презентации
                p 4 документа
                svg.icon.downloads__tab-icon
                  use(xlink:href="/images/sprite.svg#plus")
              .downloads__items
                .downloads__item
                  .downloads__item-title АСАККВ: автоматическая система аналитического контроля качества воды
                  .downloads__item-meta
                    span.downloads__item-type Рекламный буклет
                    span.downloads__item-extension pdf, 11.6 Мб
                  a.downloads__item-link(href='/uploads/catalog/downloads/presentations/asakkv.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title Озон: система непрерывного экологического мониторинга.
                  .downloads__item-meta
                    span.downloads__item-type Рекламный буклет
                    span.downloads__item-extension pdf, 3.5 Мб
                  a.downloads__item-link(href='/uploads/catalog/downloads/presentations/ozon.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title Щит: система РХБ защиты
                  .downloads__item-meta
                    span.downloads__item-type Рекламный буклет
                    span.downloads__item-extension pdf, 1.9 Мб
                  .a.downloads__item-link(href='#' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title Цифрон: IoT-решения в сельском хозяйстве
                  .downloads__item-meta
                    span.downloads__item-type Рекламный буклет
                    span.downloads__item-extension pdf, 1.9 Мб
                  .a.downloads__item-link(href='#' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
            .downloads__tab
              .downloads__tab-header.downloads__tab-header_red
                h5 Листовки
                p 10 документов
                svg.icon.downloads__tab-icon
                  use(xlink:href="/images/sprite.svg#plus")
              .downloads__items
                .downloads__item
                  .downloads__item-title АНТ - 8 / 16 / 32 / N электронный нос
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 144 КБ
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/ant-32-enose.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title АНТ - 8 / 16 / 32 / N переносной аналитический комплекс
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 126 КБ
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/ant-32.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title АНТ-БПЛА газоанализатор для беспилотников
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 345 КБ
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/ant-bpla.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title АНТ - 16 / П система контроля корреспонденции
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 103 КБ
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/ant-p.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title АНТ-У стационарный газоанализатор
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 100 КБ
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/ant-u.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title АНТ-ВОДА аналитический комплекс контроля качества воды
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 122 КБ
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/ant-voda.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title «Момент» портативный газоанализатор
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 120 КБ
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/moment.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title «ОЗон» система экологического мониторинга
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 188 КБ
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/ozon.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title Система непрерывного экологического мониторинга
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 147 КБ
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/sistema-ehkomonitoringa.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title TL - 0030 детектор (ОЕМ-модуль)
                  .downloads__item-meta
                    span.downloads__item-type Листовка
                    span.downloads__item-extension pdf, 111 КБ
                  a.downloads__item-link(href='/uploads/catalog/downloads/leaflets/tl-oem.pdf' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать


            .downloads__tab
              .downloads__tab-header.downloads__tab-header_red
                h5 Научные статьи
                p 3 документа
                svg.icon.downloads__tab-icon
                  use(xlink:href="/images/sprite.svg#plus")
              .downloads__items
                .downloads__item
                  .downloads__item-title Научная статья 1
                  .downloads__item-meta
                    span.downloads__item-type Рекламный буклет
                    span.downloads__item-extension pdf, 4.1 Мб
                  .a.downloads__item-link(href='#' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title Научная статья 2
                  .downloads__item-meta
                    span.downloads__item-type Рекламный буклет
                    span.downloads__item-extension pdf, 4.1 Мб
                  .a.downloads__item-link(href='#' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
                .downloads__item
                  .downloads__item-title Научная статья 3
                  .downloads__item-meta
                    span.downloads__item-type Рекламный буклет
                    span.downloads__item-extension pdf, 4.1 Мб
                  .a.downloads__item-link(href='#' target="_blank")
                    span.download-link__icon
                      svg.icon.color-red
                        use(xlink:href="/images/sprite.svg#download")
                    span.download-link__label Скачать
        //  END: DOWNLOADS
    br
    br
    #contacts
      include ../../blocks/contacts
    #bottom
      include ../../blocks/footer
