extends tpl

block page
  .enclosures-page
    .enclosures-page__header
      .container
        h3.enclosures-page__title Поворотные охлаждаемые ОТК
        p.enclosures-page__desc
          | Включают в себя охлаждаемый тепловизор с моторизированным трансфокатором 
          | и современную видеокамеру, установленные на интеллектуальное поворотное устройство.
          | Тепловизор оснащается охлаждаемой матрицей разрешением 640х512 пкс.
          | Высокое разрешение матрицы позволяет получить четкое изображение.

    .enclosures-page__products
      .container
        .enclosures-page__products-wrp

          // ENCLOSURES CARD
          .a.enclosures-card(href='/thermal-imagers/catalog/models/rotary-cooled-1.html')
            .enclosures-card__image
              img(src="/images/catalog/enclosures/rotary-cooled-otk-1_preview.png")
            .enclosures-card__data
              .enclosures-card__top
                .enclosures-card__title Предельная дальность обнаружения
                .enclosures-card__properties
                  .enclosures-card__property
                    span.enclosures-card__property-icon
                      img.icon(src="/images/icon/walk-1.svg")
                    | 8 000 м
                  .enclosures-card__property
                    span.enclosures-card__property-icon
                      img.icon(src="/images/icon/noun_car.svg")
                    | 24 500 м
              .enclosures-card__bottom
                .enclosures-card__link Посмотреть модельный ряд
          // END: ENCLOSURES CARD

          // ENCLOSURES CARD
          a.enclosures-card(href='/thermal-imagers/catalog/models/rotary-cooled-2.html')
            .enclosures-card__image
              img(src="/images/catalog/enclosures/rotary-cooled-otk-2_preview.png")
            .enclosures-card__data
              .enclosures-card__top
                .enclosures-card__title Предельная дальность обнаружения
                .enclosures-card__properties
                  .enclosures-card__property
                    span.enclosures-card__property-icon
                      img.icon(src="/images/icon/walk-1.svg")
                    | 20 000 м
                  .enclosures-card__property
                    span.enclosures-card__property-icon
                      img.icon(src="/images/icon/noun_car.svg")
                    | 61 300 м
              .enclosures-card__bottom
                .enclosures-card__link Посмотреть модельный ряд
          // END: ENCLOSURES CARD
