extends tpl

block page
  .enclosures-page
    .enclosures-page__header
      .container
        h3.enclosures-page__title Поворотные неохлаждаемые ОТК
        p.enclosures-page__desc
          | Эффективное решение для круглосуточного мониторинга, обнаружения, распознавания наземных, надводных,
          | неподвижных и движущихся объектов. Используется автономно,
          | в составе мобильных (транспортируемых), автоматизированных и стационарных комплексов мониторинга обстановки.
    .enclosures-page__products
      .container
        .enclosures-page__products-wrp
          .a.enclosures-card(href='/thermal-imagers/catalog/models/rotary-uncooled-otk-3.html')
            .enclosures-card__image
              img(src="/images/catalog/enclosures/rotary-uncooled-otk-3_preview.png")
            .enclosures-card__data
              .enclosures-card__top
                .enclosures-card__title Предельная дальность обнаружения
                .enclosures-card__properties
                  .enclosures-card__property
                    span.enclosures-card__property-icon
                      img.icon(src="/images/icon/walk-1.svg")
                    | 6 000 м
                  .enclosures-card__property
                    span.enclosures-card__property-icon
                      img.icon(src="/images/icon/noun_car.svg")
                    | 20 000 м
              .enclosures-card__bottom
                .enclosures-card__link Посмотреть модельный ряд

          .a.enclosures-card(href='/thermal-imagers/catalog/models/rotary-uncooled-otk-2.html')
            .enclosures-card__image
              img(src="/images/catalog/enclosures/rotary-uncooled-otk-2_preview.png")
            .enclosures-card__data
              .enclosures-card__top
                .enclosures-card__title Предельная дальность обнаружения
                .enclosures-card__properties
                  .enclosures-card__property
                    span.enclosures-card__property-icon
                      img.icon(src="/images/icon/walk-1.svg")
                    | 2 940 м
                  .enclosures-card__property
                    span.enclosures-card__property-icon
                      img.icon(src="/images/icon/noun_car.svg")
                    | 9 000 м
              .enclosures-card__bottom
                .enclosures-card__link Посмотреть модельный ряд

          .a.enclosures-card(href='/thermal-imagers/catalog/models/rotary-uncooled-otk-1.html')
            .enclosures-card__image
              img(src="/images/catalog/enclosures/rotary-uncooled-otk-1_preview.png")
            .enclosures-card__data
              .enclosures-card__top
                .enclosures-card__title Предельная дальность обнаружения
                .enclosures-card__properties
                  .enclosures-card__property
                    span.enclosures-card__property-icon
                      img.icon(src="/images/icon/walk-1.svg")
                    | 1 323 м
                  .enclosures-card__property
                    span.enclosures-card__property-icon
                      img.icon(src="/images/icon/noun_car.svg")
                    | 4 058 м
              .enclosures-card__bottom
                .enclosures-card__link Посмотреть модельный ряд
