extends ../../../../layouts/base
include ../../../../mixins/nav-bar

block append vars
  include ../../../../data/nav-items-teplo


block body
  +nav-bar({ isWhite: true, navItems })
  include ../../../../blocks/menu
  include ../../../../blocks/category-carousel-teplo

  block page
    .enclosures-page
      .enclosures-page__header
        .container
          h3.enclosures-page__title Поворотные неохлаждаемые ОТК
          p.enclosures-page__desc
            | Поворотный оптико-тепловизионный комплекс представляет собой скоростную поворотную платформу,
            | оснащенную тепловизором с трансфокатором и телевизионной камерой день/ночь с интегрированным трансфокатором.
            | Корпус изготовлен из алюминия, что позволяет использовать оборудование в сложных климатических условиях.

      .enclosures-page__products
        .container
          .enclosures-page__products-wrp
            a.enclosures-card(href='/thermal-imagers/catalog/models/tpl.html')
              .enclosures-card__image
                img(src="/images/catalog/enclosures/otk-1.png")
              .enclosures-card__data
                .enclosures-card__top
                  .enclosures-card__title Предельная дальность обнаружения
                  .enclosures-card__properties
                    .enclosures-card__property
                      span.enclosures-card__property-icon
                        img.icon(src="/images/icon/walk-1.svg")
                      | 1 323 м
                    .enclosures-card__property
                      span.enclosures-card__property-icon
                        img.icon(src="/images/icon/noun_car.svg")
                      | 4 058 м
                .enclosures-card__bottom
                  .enclosures-card__link Посмотреть модельный ряд
            a.enclosures-card(href='/thermal-imagers/catalog/models/tpl.html')
              .enclosures-card__image
                img(src="/images/catalog/enclosures/otk-2.png")
              .enclosures-card__data
                .enclosures-card__top
                  .enclosures-card__title Предельная дальность обнаружения
                  .enclosures-card__properties
                    .enclosures-card__property
                      span.enclosures-card__property-icon
                        img.icon(src="/images/icon/walk-1.svg")
                      | 1 323 м
                    .enclosures-card__property
                      span.enclosures-card__property-icon
                        img.icon(src="/images/icon/noun_car.svg")
                      | 4 058 м
                .enclosures-card__bottom
                  .enclosures-card__link Посмотреть модельный ряд
            a.enclosures-card(href='/thermal-imagers/catalog/models/tpl.html')
              .enclosures-card__image
                img(src="/images/catalog/enclosures/otk-3.png")
              .enclosures-card__data
                .enclosures-card__top
                  .enclosures-card__title Предельная дальность обнаружения
                  .enclosures-card__properties
                    .enclosures-card__property
                      span.enclosures-card__property-icon
                        img.icon(src="/images/icon/walk-1.svg")
                      | 1 323 м
                    .enclosures-card__property
                      span.enclosures-card__property-icon
                        img.icon(src="/images/icon/noun_car.svg")
                      | 4 058 м
                .enclosures-card__bottom
                  .enclosures-card__link Посмотреть модельный ряд

  include ../../../../blocks/contacts
  include ../../../../blocks/footer
