

mixin nav-bar(params)
  -
    if (typeof params === 'undefined') params = {};
    var isBlue =  params.hasOwnProperty('isBlue')  ? params.isBlue  : false;
    var isWhite = params.hasOwnProperty('isWhite') ? params.isWhite : false;
    var navItems = params.hasOwnProperty('navItems') ? params.navItems : false;

  //  NAV BAR
  .nav-bar(class={
    'nav-bar_blue' :  !!isBlue,
    'nav-bar_white' : !!isWhite,
  })
    .nav-bar__logo
      a(href=logoHref || '/')
       if isWhite
         img(data-src='/images/logo-dark.svg' alt)
       else
         img(data-src='/images/logo.svg' alt)
    .nav-bar__menu
      //  MENU BURGER
      .menu-burger(class={
        'menu-burger_dark' : !!isWhite,
      })
        .menu-burger__item
        .menu-burger__item
        .menu-burger__item
      //  END: MENU BURGER
    - if(!!navItems)
      .nav-bar__nav.laptop.desktop
        ul.nav(
          class={
            'nav_dark': !!isWhite,
          }
        )
          - for (let item of navItems)
            li.nav__item
              a.nav__link(href=item.href)=item.title
          //li.nav__separator.desktop
          //li.nav__item
          //  a.nav__link(href='?lang=en') eng
    //.nav-bar__language
      a(href) eng
  //  END: NAV BAR
