-
  function kitcut(text, limit) {
    text = text.trim();
    if( text.length <= limit) return text;

    text = text.slice(0, limit);

    return text.trim() + "...";
  }

mixin news-card(params)
  - let { preview, date, title, description, href } = params;
  //  NEWS CARD
  .news-card
    .news-card__preview(style=`background-image: url(${ preview })`)
    .news-card__date=date
    .news-card__title=title
    .news-card__description=kitcut(description, 160)
    a.news-card__link(href=href)
  //  END: NEWS CARD
