extends ../../../layouts/base
include ../../../mixins/nav-bar

block append vars
  include ../../../data/nav-items-teplo

block body
  +nav-bar({ isWhite: true, navItems })
  include ../../../blocks/menu
  include ../../../blocks/category-carousel-teplo

  .catalog-page
    .container
      br
      br
      h3.text-center Тепловизионное <br> оборудование
      br
      .catalog-cards
        .catalog-cards__item
          a(href="/thermal-imagers/catalog/categories/otc.html").catalog-card.catalog-card_red
            span.catalog-card__img
              img(src="/images/catalog/otc.png")
            span.catalog-card__title Оптико-тепловизионные комплексы
            span.catalog-card__more Подробнее
        .catalog-cards__item
          a(href="/thermal-imagers/catalog/categories/thermal-imagers.html").catalog-card.catalog-card_red
            span.catalog-card__img
              img(src="/images/catalog/thermal-imagers.png")
            span.catalog-card__title Тепловизоры
            span.catalog-card__more Подробнее
        .catalog-cards__item
          a(href="/thermal-imagers/catalog/categories/camcorders.html").catalog-card.catalog-card_red
            span.catalog-card__img
              img(src="/images/catalog/camcorders.png")
            span.catalog-card__title Видеокамеры
            span.catalog-card__more Подробнее
        .catalog-cards__item
          a(href="/thermal-imagers/catalog/categories/rotary-devices.html").catalog-card.catalog-card_red
            span.catalog-card__img
              img(src="/images/catalog/rotary-devices.png")
            span.catalog-card__title Поворотные устройства
            span.catalog-card__more Подробнее
        .catalog-cards__item
          a(href="/thermal-imagers/catalog/categories/medical.html").catalog-card.catalog-card_red
            span.catalog-card__img
              img(src="/images/catalog/medical.png" alt="")
            span.catalog-card__title Медицинские тепловизоры
            span.catalog-card__more Подробнее

    br
    br
    br

  include ../../../blocks/contacts
  include ../../../blocks/footer
