//  ABOUT COMPANY
-  var showtimeline = true
section.about-company
  .container
    .about-company__inner
      .about-company__left
        .about-company__left-outer
          h2 Компания
          - if (showtimeline)
            .owl-theme
              .owl-controls
                .owl-nav
      .about-company__information
        h3
          | «АМБ» разрабатывает и производит газоаналитические системы и оптико-тепловизионные комплексы, эффективные в сфере промышленной и транспортной безопасности, экологического мониторинга
        p
          | Наше оборудование, благодаря собственным уникальным технологиям, не имеет аналогов среди конкурентов и обладает стратегическими преимуществами перед ведущими игроками рынка.
        p
          | У нас большой опыт реализации проектов для крупных промышленных предприятий, транспортной и социальной инфраструктуры, аэропортов, морских портов, нефтегазовой отрасли, атомной энергетики,&nbsp;ВПК.

  - if (showtimeline)
    include timeline
//  END: ABOUT COMPANY
