//  ADVANTAGES
section.advantages.lazy-background
  .container.container--relative
    .advantages__lines.advantages-lines
      .advantages-lines__line
      .advantages-lines__line
      .advantages-lines__line
      .advantages-lines__line
      .advantages-lines__line
    .advantages__pluses.advantages-pluses
      .advantages-pluses__plus
      .advantages-pluses__plus
      .advantages-pluses__plus
      .advantages-pluses__plus
      .advantages-pluses__plus
      .advantages-pluses__plus
      .advantages-pluses__plus
      .advantages-pluses__plus
      .advantages-pluses__plus
      .advantages-pluses__plus
      .advantages-pluses__plus
      .advantages-pluses__plus
      .advantages-pluses__plus
    .columns
      .column
        //  ADVANTAGES ITEMS
        .advantages-items
          .advantages-items__item
            .advantages-items__icon
              svg.icon
                use(xlink:href="/images/sprite.svg#factory")
            .advantages-items__body
              .advantages-items__name Контролируем
              .advantages-items__description.
                Объекты промышленности, транспортной, военной, городской инфраструктуры на наличие опасных факторов и угроз.

          .advantages-items__item
            .advantages-items__icon
              svg.icon
                use(xlink:href="/images/sprite.svg#worker")
            .advantages-items__body
              .advantages-items__name Решаем
              .advantages-items__description.
                Задачу эффективного мониторинга, сбора и обработки информации о текущей ситуации на контролируемом объекте.

          .advantages-items__item
            .advantages-items__icon
              svg.icon
                use(xlink:href="/images/sprite.svg#fire")
            .advantages-items__body
              .advantages-items__name Обеспечиваем
              .advantages-items__description Раннее обнаружение аварийных ситуаций и возможность предотвратить аварии или минимизировать последствия от них.
        //  END: ADVANTAGES ITEMS
      .column
        //  ADVANTAGES VIDEO
        .advantages-video
          a.advantages-video__play(data-fancybox data-width='1280' data-height='720' href='/uploads/video-amb.mp4')
            .advantages-video__play-outer
              .advantages-video__play-inner
                .advantages-video__play-wrapper
                  svg.icon
                    use(xlink:href="/images/sprite.svg#play-button")
            .advantages-video__play-subtitle
              | видео о направлении
              br
              | Газоанализ
          .advantages-video__downloads
            a.advantages-video__downloads-item(href='/uploads/documents/Korporativnyi_buklet_AMB.pdf' target='_blank')
              span.advantages-video__downloads-icon
                svg.icon
                  use(xlink:href="/images/sprite.svg#download")
              span.advantages-video__downloads-name Корпоративный буклет
              .advantages-video__downloads-description (Скачать pdf, 1,3 Мб)
        //  END: ADVANTAGES VIDEO
// END: ADVANTAGES
