.category-carousel
  .category-carousel__wrp
    a(href="/thermal-imagers/catalog/categories/otc.html").category-carousel__item
      img.category-carousel__img(src="/images/catalog/otc.svg")
      span.category-carousel__title Оптико-тепловизионные комплексы
    a(href="/thermal-imagers/catalog/categories/thermal-imagers.html").category-carousel__item
      img.category-carousel__img(src="/images/catalog/thermal-imagers.svg")
      span.category-carousel__title Тепловизоры
    a(href="/thermal-imagers/catalog/categories/camcorders.html").category-carousel__item
      img.category-carousel__img(src="/images/catalog/camcorders.svg")
      span.category-carousel__title Видеокамеры
    a(href="/thermal-imagers/catalog/categories/rotary-devices.html").category-carousel__item
      img.category-carousel__img(src="/images/catalog/rotary-devices.svg")
      span.category-carousel__title Поворотные устройства
    a(href="/thermal-imagers/catalog/categories/medical.html").category-carousel__item
      img.category-carousel__img(src="/images/catalog/medical.svg")
      span.category-carousel__title Медицинские тепловизоры
