.category-carousel
  .category-carousel__wrp
    a(href="/gas-analysis/catalog/categories/gas.html").category-carousel__item
      img.category-carousel__img(src="/images/catalog/gas.svg")
      span.category-carousel__title Газоанализаторы
    a(href="/gas-analysis/catalog/categories/electronic-nose.html").category-carousel__item
      img.category-carousel__img(src="/images/catalog/electronic-nose.svg")
      span.category-carousel__title Электронный нос
    a(href="/gas-analysis/catalog/categories/eco-monitoring-stations.html").category-carousel__item
      img.category-carousel__img(src="/images/catalog/eco-monitoring-stations.svg")
      span.category-carousel__title Станции экомониторинга
    a(href="/gas-analysis/catalog/categories/Water-Quality-Control-Laboratory.html").category-carousel__item
      img.category-carousel__img(src="/images/catalog/Water-Quality-Control-Laboratory.svg")
      span.category-carousel__title Лаборатория контроля качества воды
    a(href="/gas-analysis/catalog/categories/gas-detectors.html").category-carousel__item
      img.category-carousel__img(src="/images/catalog/gas-detectors.svg")
      span.category-carousel__title Газосигнализаторы
    a(href="/gas-analysis/catalog/categories/oem-module.html").category-carousel__item
      img.category-carousel__img(src="/images/catalog/oem-module.svg")
      span.category-carousel__title OEM - модуль
