//  CONTACTS
section.contacts.lazy-background
  .container
    h3.contacts__header Контакты

    .contacts__row
      .contacts__col
        h5 Телефон
        p
          a(href='tel:+78122439298') +7 (812) 243 92 98
      .contacts__col
        h5 Адрес
        p
          a(href='https://yandex.ru/maps/-/CKuDqX-6' target='__blank') г. Москва, ул. Гиляровского, д. 57, стр. 1

    form.contacts-form
      // Hidden Required Fields
      input(type="hidden" name="project_name" value="Сайт АМБ")
      input(type="hidden" name="admin_email" value="companyamb@yandex.ru")
      input(type="hidden" name="form_subject" value="Заявка с формы обратной связи")

      .contacts-form__items
        .contacts-form__item
          input(type='text' name='Name' placeholder='Напишите как к Вам обращаться' required)
        .contacts-form__item
          input.input-phone(type='tel' name='Phone' placeholder='Контактный телефон' required)
        .contacts-form__item
          input(type='email' name='E-mail' placeholder='Контактный адрес электронной почты' required)
        .contacts-form__item
          button(type='submit') Написать нам
      p
        label.checkbox
          input(type='checkbox' name="check")
          span
            | Отправляя форму, Вы принимаете
            |
            a(href="/uploads/privacy_policy.pdf" target="_blank") положение об обработке персональных данных
//  END: CONTACTS
