//  CUSTOMERS
section.partners
  .container
    .partners-header
      .partners-header__title
        h2 Заказчики
      .partners-header__description
        p Мы руководствуемся в работе принципами взаимной выгоды, строгой конфиденциальности и гарантируем заказчикам индивидуальный подход.
        p Обсудим с вами детали любого технически сложного проекта и поможем найти оптимальное решение для его реализации.
        p
          | Пожалуйста,
          |
          a(href='#contacts') свяжитесь с нами
          |
          | по любым вопросам о сотрудничестве.

  //  CUSTOMERS SLIDER
  .partners-slider
    .container
      .partners-slider__inner
        .owl-carousel
          .partners-slider__slide
            img(data-src='/images/customers/KTK.jpg' alt)
          .partners-slider__slide
            img(data-src='/images/customers/rzd.png' alt)
          .partners-slider__slide
            img(data-src='/images/customers/rosavtodor.png' alt)
          .partners-slider__slide
            img(data-src='/images/customers/transneft.png' alt)
          .partners-slider__slide
            img(data-src='/images/customers/rosmorport.png' alt)
          .partners-slider__slide
            img(data-src='/images/customers/mil.png' alt)
    .container.container--relative
      .owl-theme
        .owl-controls
          .owl-nav.owl-nav--gray
      .partners-slider__after
        .carousel-hint
          img.carousel-hint__icon(data-src='/images/swipe-right.svg')
          span.carousel-hint__label Прокрутите
        .carousel-pagination
          span.carousel-pagination__index
          span.carousel-pagination__progress-wrp
            span.carousel-pagination__progress
          span.carousel-pagination__count
  //  END: CUSTOMERS SLIDER
//  END: CUSTOMERS

