//  DOCUMENTS
section.documents
  .container
    //  DOCUMENTS HEADER
    .documents-header
      .documents-header__title
        h2 Лицензии и сертификаты
      .documents-header__description
        | Компания «АМБ» имеет все необходимые допуски и разрешения для работ в сфере обеспечения безопасности объектов и осуществления разработок, производства и поставок оборудования.
        br
        br
        | Входим в состав «Союза машиностроителей России», сертифицированы по системе «Специальный Регистр» на соответствие внутренней системы менеджмента компании национальным стандартам качества РФ.
        br
        br
        | Обладаем лицензией на осуществление работ с использованием сведений, составляющих государственную тайну.

    //  END: DOCUMENTS HEADER
    //  DOCUMENTS ACCORDEON
    .documents-accordeon
      .documents-accordeon__item(data-js-documents-slider data-slider-index='1')
        //  DOCUMENTS ACCORDEON HEADER
        .documents-accordeon-header
          .documents-accordeon-header__name Лицензии и сертификаты
          .documents-accordeon-header__count 13 документов
          .documents-accordeon-header__trigger
            svg(width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M10 0H9V9H0V10H9V19H10V10H19V9H10V0Z')
        //  END: DOCUMENTS ACCORDEON HEADER
        .documents-accordeon__content
          //  DOCUMENTS ACCORDEON SLIDER
          .documents-accordeon-slider
            .owl-carousel
              .documents-accordeon-slider__slide

                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Лицензия
                    .documents-document__description
                      | Лицензия на проведение работ, связанных с использований сведений, составляющих государственную тайну
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                // END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Лицензия
                    .documents-document__description
                      | Лицензия на осуществление мероприятий и (или) оказание услуг в области защиты государственной тайны
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Лицензия
                    .documents-document__description
                      | Лицензия на осуществление разработки, производства, испытания, установки, монтажа, технического обслуживания, ремонта, утилизации и реализации вооружения и военной техники
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Сертификат
                    .documents-document__description
                      | Сертификат соответствия системы менеджмента качества на закупку, хранение, поставку продукции требованиям ГОСТ РВ 0015-002-2012 и ГОСТ Р ИСО 9001-2015
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Сертификат
                    .documents-document__description
                      | Сертификат соответствия системы менеджмента качества на разработку, производство, обслуживание, ремонт, поставку продукции требованиям ГОСТ РВ 0015-002-2012 и ГОСТ Р ИСО 9001-2015
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Сертификат
                    .documents-document__description
                      | Сертификат соответствия технических средств обеспечения транспортной безопасности требованиям к их функциональным свойствам
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Сертификат
                    .documents-document__description
                      | Сертификат соответствия продукции «Шкаф монтажный климатический ШМК.Х1Х2Х3Х4Х5-Х6» требованиям ТР ТС 004/2011 «О безопасности низковольтного оборудования» и ТР ТС 020/2011 «Электромагнитная совместимость технических средств»
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Сертификат
                    .documents-document__description
                      | Сертификат соответствия продукции «Сервер для хранения и обработки данных Х1 Х2 Х3Х4-Х5» требованиям ТР ТС 004/2011 «О безопасности низковольтного оборудования» и ТР ТС 020/2011 «Электромагнитная совместимость технических средств»
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Сертификат
                    .documents-document__description
                      | Сертификат соответствия продукции «Гермобоксы взрывозащищенные ГКВ 320Ех для технических средств (систем) видеонаблюдения» требованиям Технического регламента Таможенного союза ТР ТС 012/2011 «О безопасности оборудования для работы во взрывоопасных средах»
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Сертификат
                    .documents-document__description
                      | Сертификат соответствия продукции «Комплекс оптический ИРБИС Х1Х2FХ3.Х4Х5» требованиям ТР ТС 004/2011 «О безопасности низковольтного оборудования» и ТР ТС 020/2011 «Электромагнитная совместимость технических средств»
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Аттестат
                    .documents-document__description
                      | Аттестат соответствия продукции «Камера тепла, холода, влаги и соляного тумана КТХВС-1400-01» требованиям ГОСТ Р 8.568-2017 и ГОСТ РВ 0008-002-2013
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Разрешение
                    .documents-document__description
                      | Разрешение на право применения Знака соответствия Системы добровольной сертификации «Специальный регистр»
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Свидетельство
                    .documents-document__description
                      | Свидетельство члена Общероссийского отраслевого объединения работодателей «Союз машиностроителей России»
                  .documents-document__footer
                    a
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                //  END: DOCUMENTS DOCUMENT


            .owl-theme
              .owl-controls
                .owl-nav.owl-nav--gray
          //  END: DOCUMENTS ACCORDEON SLIDER
      .documents-accordeon__item(data-js-documents-slider data-slider-index='2')
        //  DOCUMENTS ACCORDEON HEADER
        .documents-accordeon-header
          .documents-accordeon-header__name Патенты
          .documents-accordeon-header__count 1 документ
          .documents-accordeon-header__trigger
            svg(width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M10 0H9V9H0V10H9V19H10V10H19V9H10V0Z')
        //  END: DOCUMENTS ACCORDEON HEADER
        .documents-accordeon__content
          //  DOCUMENTS ACCORDEON SLIDER
          .documents-accordeon-slider
            .owl-carousel
              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type PDF
                    .documents-document__name Патент на изобретение
                    .documents-document__description Компактное устройство типа "электронный нос"
                  .documents-document__footer
                    a(href='/uploads/documents/Patenty/Patent_na_izobretenie.pdf' data-fancybox='images')
                      img.icon(data-src='/images/documents/icon-search.svg')
                      | Посмотреть
                    a(href='/uploads/documents/Patenty/Patent_na_izobretenie.pdf' target='_blank')
                      img.icon(data-src='/images/documents/icon-download.svg')
                      | Скачать (856 Кб)
                //  END: DOCUMENTS DOCUMENT
            .owl-theme
              .owl-controls
                .owl-nav.owl-nav--gray
          //  END: DOCUMENTS ACCORDEON SLIDER
      .documents-accordeon__item(data-js-documents-slider data-slider-index='3')
        //  DOCUMENTS ACCORDEON HEADER
        .documents-accordeon-header
          .documents-accordeon-header__name Отзывы
          .documents-accordeon-header__count 4 документа
          .documents-accordeon-header__trigger
            svg(width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M10 0H9V9H0V10H9V19H10V10H19V9H10V0Z')
        //  END: DOCUMENTS ACCORDEON HEADER
        .documents-accordeon__content
          //  DOCUMENTS ACCORDEON SLIDER
          .documents-accordeon-slider
            .owl-carousel
              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type
                      | PDF
                    .documents-document__name
                      | Диплом
                    .documents-document__description
                      | за активное участие и помощь в подготовке экспозиции Военного инновационного технополиса «ЭРА» на международном военно-техническом форуме «Армия-2019»
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type
                      | PDF
                    .documents-document__name
                      | Грамота
                    .documents-document__description
                      | за активное участие и содействие в подготовке секции «Перспективы развития робототехнических комплексов военного назначения и учебно-тренировочных средств ракетных войск и артиллерии»
                //  END: DOCUMENTS DOCUMENT

              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type
                      | PDF
                    .documents-document__name
                      | Благодарственное письмо
                    .documents-document__description
                      | за активное участие в ХХII Всероссийской научно-практической конференции «Актуальные проблемы защиты и безопасности»
                //  END: DOCUMENTS DOCUMENT


              .documents-accordeon-slider__slide
                //  DOCUMENTS DOCUMENT
                .documents-document
                  .documents-document__header
                    .documents-document__type
                      | PDF
                    .documents-document__name
                      | Благодарственное письмо
                    .documents-document__description
                      | за участие в выставке, посвященной 100-летию образования военной разведки и демонстрацию высоких возможностей комплексов безопасности
                //  END: DOCUMENTS DOCUMENT

            .owl-theme
              .owl-controls
                .owl-nav.owl-nav--gray
          //  END: DOCUMENTS ACCORDEON SLIDER
    //  END: DOCUMENTS ACCORDEON
//  END: DOCUMENTS
