//  FOOTER
footer.footer
  .container
    .footer__outer
      .footer__copy
        script document.write(new Date().getFullYear())
        | , "НПО "АМБ"
      .footer__links
        a(href='/uploads/privacy_policy.pdf' target="_blank") Политика конфиденциальности
      .footer__todo
        a(href='https://todoagency.ru/' target='_blank')
          | Разработано в
          img(data-src='/images/footer/todo.svg' alt)
//  END: FOOTER
