//  HEADER PROMO SOLUTION
.header-promo-solution
  .header-promo-solution__title.
    Решения для масштабируемых систем мониторинга и безопасности
  .owl-carousel.owl-carousel--right-arrow-fixed
    .header-promo-solution__slide
      .header-promo-solution__subtitle.
        Создаем оборудование на базе собственных уникальных технологий и интегрируем в жизненное пространство решения для эффективного контроля и безопасности
    .header-promo-solution__slide
      .header-promo-solution__subtitle.
        Наши системы одинаково надёжны и адаптированы для всех отраслей промышленности. Они легко встраиваются в любую инфраструктуру, делая ее разумнее и безопаснее.
//  END: HEADER PROMO SOLUTION
