//  HEADER
header.header.header_home
  .header__controls
    include nav-bar
  .header__menu
    include menu
  .header__video-wrp
    .header__video
      video.lazy(muted playsinline autoplay loop poster='/uploads/header-bg-video-poster.jpg')
        source(data-src='/uploads/header-bg-video.mp4' type='video/mp4')
        source(data-src='/uploads/header-bg-video.webm' type='video/webm')
  //  HEADER PROMO
  .header__promo.header-promo
    .container.container--relative
      //  HEADER PROMO LINES
      .header-promo__lines.header-promo-lines
        .header-promo-lines__line
        .header-promo-lines__line
        .header-promo-lines__line
        .header-promo-lines__line
        .header-promo-lines__line
      //  END: HEADER PROMO LINES
      //  HEADER PROMO PLUSES
      .header-promo__pluses.header-promo-pluses
        .header-promo-pluses__plus.icon-plus
        .header-promo-pluses__plus.icon-plus
        .header-promo-pluses__plus.icon-plus
        .header-promo-pluses__plus.icon-plus
        .header-promo-pluses__plus.icon-plus
        .header-promo-pluses__plus.icon-plus
        .header-promo-pluses__plus.icon-plus
        .header-promo-pluses__plus.icon-plus
        .header-promo-pluses__plus.icon-plus
      //  END: HEADER PROMO PLUSES
      .header-promo__outer
        .header-promo__inner
          include header-promo-solution
          include header-promo-products

  //  END: HEADER PROMO
  .header__scroll
    .scroll-btn
      .scroll-btn__lebel ДАЛЕЕ
      .scroll-btn__icon
        svg.icon
          use(xlink:href="/images/sprite.svg#scroll_down")

//  END: HEADER
