//  HEADER SIDE BUTTON
a.header-side-button.header-side-button_red
  span.header-side-button__inner
    svg.icon(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M5 0H0V5H5V0ZM15 0H10V5H15V0ZM0 10H5V15H0V10ZM15 10H10V15H15V10Z' fill='white')
    span.header-side-button__label Каталог
//  END: HEADER SIDE BUTTON
//  HEADER SIDE BUTTON
a.header-side-button
  span.header-side-button__inner
    svg.icon(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M0 0H3V3H0V0ZM6 0H9V3H6V0ZM15 0H12V3H15V0ZM0 6H3V9H0V6ZM9 6H6V9H9V6ZM12 6H15V9H12V6ZM3 12H0V15H3V12ZM6 12H9V15H6V12ZM15 12H12V15H15V12Z' fill='white')
    span.header-side-button__label Услуги
//  END: HEADER SIDE BUTTON
