//  HEADER PROMO PRODUCTS
.header-promo-products
  a.header-promo-products__product.header-promo-products-product(href='/gas-analysis/')
    .header-promo-products-product__header
      .header-promo-products-product__name
        img(data-src='/images/logo-small.svg' alt)
        | Газоанализаторы
      .header-promo-products-product__description Разработка и производство газоаналитического оборудования
    ul.header-promo-products-product__list
      li ОЕМ-модули
      li Газоанализаторы
      li Электронный нос
      li Станции экомониторинга
    .header-promo-products-product__image
      img(src='/images/header/gas-analyzer.png' alt)
    .header-promo-products-product__arrow
      svg.icon.color-white
        use(xlink:href="/images/sprite.svg#long_right_arrow")

  a.header-promo-products-product__product.header-promo-products-product(href='/thermal-imagers/')
    .header-promo-products-product__header
      .header-promo-products-product__name
        img(src='/images/logo-small.svg' alt)
        | Тепловизоры
      .header-promo-products-product__description Разработка и производство оптико-тепловизионного оборудования
    ul.header-promo-products-product__list
      li Оптико-тепловизионные комплексы
      li Тепловизоры
      li Видеокамеры
    .header-promo-products-product__image
      img(src='/images/header/thermal-imager.png' alt)
    .header-promo-products-product__arrow
      svg.icon.color-white
        use(xlink:href="/images/sprite.svg#long_right_arrow")
//  END: HEADER PROMO PRODUCTS
