//  MENU
menu.menu
  .container
    ul.menu__list
      li.menu__item.menu__item_primary.menu__item_open
        a.menu__link.menu__link_primary(href='/') Главная
        ul.menu__list.menu__list_sub
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/#about-company') О компании
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/#production') Технологии и производство
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/#news') Новости
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/#documents') Лицензии и сертификаты
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/#customers') Заказчики
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/#partners') Партнеры
      li.menu__item.menu__item_primary
        a.menu__link.menu__link_primary(href='/gas-analysis/')
          img.icon(data-src='/images/amb.svg' alt='АМБ')
          |
          | Газоанализаторы
        ul.menu__list.menu__list_sub
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/gas-analysis/catalog/categories/gas.html') Газоанализаторы
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/gas-analysis/catalog/categories/electronic-nose.html') Электронный нос
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/gas-analysis/#applying') Применение
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/gas-analysis/catalog/categories/eco-monitoring-stations.html') Экостанции
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/gas-analysis/catalog/categories/oem-module.html') ОЕМ-модули
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/gas-analysis/services/') Услуги
      li.menu__item.menu__item_primary
        a.menu__link.menu__link_primary(href='/thermal-imagers/')
          img.icon(data-src='/images/amb.svg' alt='АМБ')
          |
          | Тепловизоры
        ul.menu__list.menu__list_sub
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/thermal-imagers/catalog/categories/camcorders.html') Видеокамеры
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/thermal-imagers/catalog/categories/otc.html') Оптико-тепловизионные комплексы
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/thermal-imagers/#applying') Применение
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/thermal-imagers/catalog/categories/thermal-imagers.html') Тепловизоры
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/thermal-imagers/catalog/categories/medical.html') Медицинские тепловизоры
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='/thermal-imagers/services/') Услуги
          li.menu__item.menu__item_sub
      li.menu__item.menu__item_primary
        a.menu__link.menu__link_primary(href='/#contacts') Контакты
        ul.menu__list.menu__list_sub
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='tel:+78122439298') +7 (812) 243 92 98
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='mailto:info@ambcompany.ru') info@ambcompany.ru
          li.menu__item.menu__item_sub
          li.menu__item.menu__item_sub
            a.menu__link.menu__link_sub(href='https://yandex.ru/maps/-/CKuDqX-6' target="_blank") г. Москва, ул. Гиляровского, д. 57, стр. 1
          li.menu__item.menu__item_sub
          li.menu__item.menu__item_sub
//  END: MENU
