// NEWS LIST
section.news-list
  .container
    .news-list__header
      .news-list__header-title
        h2 Новости
      a.news-list__read-more(href='/news/')
        span.news-list__read-more-label Все новости
        span.news-list__read-more-icon
          svg.icon
            use(xlink:href="/images/sprite.svg#bold_right_arrow")
    .news-list__articles
      .news-list__articles-item
        .news-list__articles-image
          a(href='/news/7.html')
            img(data-src='/uploads/news/7/preview.jpg' alt)
        .news-list__articles-date 11 марта 2020
        .news-list__articles-name
          a(href='/news/7.html') «АМБ» поможет в борьбе с эпидемией
      .news-list__articles-item
        .news-list__articles-image
          a(href='/news/6.html')
            img(data-src='/uploads/news/6/preview.jpg' alt)
        .news-list__articles-date 1 июля 2019
        .news-list__articles-name
          a(href='/news/6.html') Газоанализаторы «АМБ» презентовали Путину
      .news-list__articles-item
        .news-list__articles-image
          a(href='/news/2.html')
            img(data-src='/uploads/news/2/preview.jpg' alt)
        .news-list__articles-date 15 января 2019
        .news-list__articles-name
          a(href='/news/2.html') Компания «АМБ» - резидент ВИТ «Эра»
// END: NEWS LIST
