//  PARALLAX
section.parallax
  .parallax__bg.lazy-background
  svg(width='1920' height='726' viewBox='0 0 1920 726' fill='none' xmlns='http://www.w3.org/2000/svg')
    g
      path(fill-rule='evenodd' clip-rule='evenodd' d='M437.182 0L361.049 0.846031L284.916 0L203.876 221.66C203.876 221.66 221.133 178.513 283.9 175.805C349.544 172.929 379.659 251.948 379.659 251.948L592.493 725.557H742.729L437.182 0ZM956.638 362.78L1142.19 0H1282.62V725.56H1141.17L1142.7 307.998L1028.81 521.867H872.545L632.523 0H785.729L956.638 362.78ZM1556.94 606.499H1655.66C1763.53 606.499 1777.42 553.922 1777.42 508.299C1777.42 460.641 1762.85 428.416 1733.05 409.59C1706.8 393.308 1664.98 384.998 1608.93 384.998H1556.94V606.499ZM1633.48 265.937C1714.08 265.937 1780.97 285.441 1832.28 324.11C1890.54 368.207 1920 431.299 1920 511.691C1920 603.107 1885.29 666.538 1817.04 700.458C1784.02 717.249 1730.68 725.56 1654.31 725.56H1417.91V0H1873.43V126.015H1557.11V265.937H1633.48ZM0 725.559L78.84 540.278H233.475L150.236 725.559H0Z' fill='white' fill-opacity='0.6')
//  END: PARALLAX
