//  PARTNERS
section.partners.partners_dark
  .container
    //  PARTNERS HEADER
    .partners-header
      .partners-header__title
        h2 Партнеры
      .partners-header__description
        p.

          Компания реализует проекты в сотрудничестве с ведущими российскими и международными научными институтами.

        p.

          Мы всегда открыты к диалогу, рады новым партнерам и взаимовыгодным деловым предложениям.

        p.

          В каждый проект мы вкладываем все наши силы и знания, чтобы результат стал образцом исполнения взятых на себя партнерских обязательств.

    //  END: PARTNERS HEADER
  //  PARTNERS SLIDER
  .partners-slider
    .container
      .partners-slider__inner
        .owl-carousel
          .partners-slider__slide
            img(data-src='/images/partners/1.png' alt)
          .partners-slider__slide
            img(data-src='/images/partners/3.png' alt)
          .partners-slider__slide
            img(data-src='/images/partners/6.png' alt)
          .partners-slider__slide
            img(data-src='/images/partners/7.png' alt)
          .partners-slider__slide
            img(data-src='/images/partners/8.png' alt)
          .partners-slider__slide
            img(data-src='/images/partners/9.png' alt)
    .container.container--relative
      .owl-theme
        .owl-controls
          .owl-nav
      .partners-slider__after
        .carousel-hint
          img.carousel-hint__icon(data-src='/images/swipe-right.svg')
          span.carousel-hint__label Прокрутите
        .carousel-pagination
          span.carousel-pagination__index
          span.carousel-pagination__progress-wrp
            span.carousel-pagination__progress
          span.carousel-pagination__count
  //  END: PARTNERS SLIDER
//  END: PARTNERS
