//  PRODUCTION
section.production
  .container
    //  PRODUCTION HEADER
    .production-header
      .production-header__title
        h2
          | Технологии
          br
          | и производство
      .production-header__description
        p Мы ориентированы на новейшие тенденции рынка и меняемся в соответствии с его запросами.
        p Команда разработчиков «АМБ» постоянно совершенствует техническую составляющую и дизайн оборудования, повышая показатели надежности и безопасности.
        //- a.production-header__download(href='/uploads/documents/AMB_Proizvodstvo.rar' download)
          .production-header__download-icon
          .production-header__download-file
            .production-header__download-name Наше производство
            .production-header__download-description (Скачать RAR, 3.4 Мб)
    //  END: PRODUCTION HEADER
//  END: PRODUCTION
