section.schemes
  .container
    //  TABS
    .tabs.tabs_theme-schemes
      ul.tabs__nav
        li.tabs__nav-item.tabs__nav-item_active
          a.tabs__nav-link(href='#scheme-gas') Газоанализ
        li.tabs__nav-item
          a.tabs__nav-link.tabs__nav-link_red(href='#scheme-teplo') Тепловидение
      .tabs__body
        .tabs__item.tabs__item_active#scheme-gas
          .tabs__content
            //  SCHEME, SCHEME GAS
            .scheme.scheme-gas
            //  END: SCHEME, SCHEME GAS
        .tabs__item#scheme-teplo
          .tabs__content
            //  SCHEME, SCHEME TEPLO
            .scheme.scheme-teplo
            //  END: SCHEME, SCHEME TEPLO
    //  END: TABS
//  SECTION SCHEMES
