.history
  .container
    .history-controls
      .history-controls__prev
        .circle-btn
          svg.icon.color-white
            use(xlink:href="/images/sprite.svg#left_arrow")
      .history-controls__next
        .circle-btn
          svg.icon.color-white
            use(xlink:href="/images/sprite.svg#right_arrow")
  .history__timline
    .timeline

  .history-slider
    .container
      .history-slider__wrp
        .history-slider__item.history-slider__item_active
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#thermal_cabinet")
            .history-card__year 2009
            .history-card__title Производство термошкафов
            .history-card__description Запуск серийного производства линейки термошкафов на собственной производственной базе

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#amb_creat")
            .history-card__year 2013
            .history-card__title Производство оптико-тепловизионных комплексов
            .history-card__description Запуск серийного производства оптико-тепловизионного оборудования, разработка и расширение собственной линейки тепловизоров «Ирбис»

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#federal")
            .history-card__year 2014
            .history-card__title Выход на федеральный уровень
            .history-card__description Комплекс проектов, реализованных в рамках госзаказа для ФГУП «Росморпорт», ФАВТ «Росавиация», ФДА «Росавтодор», «Росэнергоатом», ОАО «РЖД», ПАО «Ленэнерго»

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#laser")
            .history-card__year 2014
            .history-card__title Производство систем лазерной центровки валов
            .history-card__description Запуск серийного производства и внесение в Государственный реестр СИ системы лазерной центровки валов и валопроводов

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#geography")
            .history-card__year 2015
            .history-card__title Расширение географии работ
            .history-card__description Оснащение системами безопасности морских портов Дальневосточного, Черноморского, Каспийского, Северного, Тихоокеанского бассейнов

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#pulley")
            .history-card__year 2015
            .history-card__title Производство устройств для выверки шкивов
            .history-card__description Запуск серийного производства изделий для выверки шкивов по ручейкам клиноременных передач и дополнительных приспособлений для настройки промышленного оборудования

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#prof_increase")
            .history-card__year 2015
            .history-card__title Увеличение портфеля проектов
            .history-card__description Комплекс проектов по оснащению системами безопасности региональных и международных аэропортов РФ

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#service")
            .history-card__year 2016
            .history-card__title Сертификация сервисного центра
            .history-card__description Создание сертифицированного сервисного центра по обслуживанию и замене криогенных систем охлаждения тепловизионного оборудования

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#copter")
            .history-card__year 2016
            .history-card__title Производство элементов питания для БПЛА
            .history-card__description Разработка и производство линейки DC-DC преобразователей сверхмалого размера для применения на БПЛА

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#solar")
            .history-card__year 2017
            .history-card__title Производство солнечных электростанций
            .history-card__description Запуск серийного производства портативной солнечной электростанции

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#thermal_copter")
            .history-card__year 2017
            .history-card__title Производство оптико-тепловизионных комплексов для БПЛА
            .history-card__description Закончена разработка и запущено серийное производство оптико-тепловизионного оборудования для беспилотников

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#union_rus")
            .history-card__year 2018
            .history-card__title Вступление в «Союз машиностроителей России»
            .history-card__description Внесение ООО «НПО «АМБ» в реестр участников российского машиностроительного комплекса, включающего более двадцати отраслей промышленности

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#turn_device-1")
            .history-card__year 2018
            .history-card__title Производство опорно-поворотных устройств
            .history-card__description Запуск серийного производства линейки опорно-поворотных устройств; СВЧ и МШУ усилителей; компонентов силовой автоматики

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#sensor-1")
            .history-card__year 2018
            .history-card__title Разработка и производство газовых сенсоров
            .history-card__description Разработаны и запущены в производство более 32 типов сенсоров, отлажен полный технологический цикл производства

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#gas_analys-1")
            .history-card__year 2019
            .history-card__title Производство и испытания газоаналитического оборудования
            .history-card__description Изготовлены и испытаны 7 газоаналитических приборов для различных применений. Испытания проведены в МО РФ, МВД, ПАО «Газпром», получены положительные заключения.

        .history-slider__item
          .history-card
            .history-card__icon
              svg.icon
                use(xlink:href="images/sprite.svg#medical")
            .history-card__year 2019
            .history-card__title Разработка оборудования для эпидемиологического контроля
            .history-card__description Серийное производство тепловизоров для дистанционного температурного и эпидемиологического контроля
