extends ../layouts/base

block body
  #top
    include ../blocks/header-home
  #about-company
    include ../blocks/about-company
  #advantages
    include ../blocks/advantages
  #production
    include ../blocks/production
  #schemes
    include ../blocks/schemes
  #news
    include ../blocks/news-list
  #parallax
    include ../blocks/parallax
  #documents
    include ../blocks/documents
  #customers
    include ../blocks/customers
  #partners
    include ../blocks/partners
  #contacts
    include ../blocks/contacts
  #bottom
    include ../blocks/footer
