extends tpl

block image
  img(src="/images/services/teplo/climate-tests.png")

block article
  h2 Климатические испытания
  h4 Предлагаем заказчику собственные услуги по проверке оборудования:
  ul.list-parallelogram
    li испытание на воздействие повышенной температуры внешней среды;
    li испытание на воздействие пониженной температуры внешней среды;
    li испытание на воздействие атмосферных конденсированных осадков.
  br
  p
    | С помощью климатических испытаний, мы создаем оборудование для эксплуатации на объектах с самыми разными
    | погодными и ландшафтными условиями: при низких температурах; на морских объектах при воздействии соленой воды; в условиях сильных ветров; на военных и стратегических объектах.
