extends tpl

block image
  img(src="/images/services/teplo/design.png")

block article
  h2 Проектирование
  p Проектируем системы безопасности любого уровня сложности и в различных конфигурациях, под индивидуальные задачи заказчика. Учитываем отраслевую специфику объекта, планировку, ландшафт, погодно-климатические условия эксплуатации.
  p Проводим предпроектное обследование объекта и на его основе разрабатываем эффективное, экономически выгодное решение, оптимальное для каждого отдельного случая.
