extends ../../../layouts/base
include ../../../mixins/nav-bar

block append vars
  include ../../../data/nav-items-teplo

block body
  +nav-bar({ isWhite: true, navItems })

  include ../../../blocks/menu
  include ../../../blocks/category-carousel-teplo

  br
  br

  // SERVICES PAGE
  .services-page
    .container
      .services-page__header
        h3.services-page__h Услуги
        p.services-page__desc Реализуем полный комплекс услуг по проектированию, установке, пусконаладочным работам и сервисному обслуживанию тепловизионных систем.
        br

      // SERVICES CARDS
      .services-cards

        // SERVICE CARD
        a.service-card.service-card_red(href="/thermal-imagers/services/design.html")
          img.service-card__img(src="/images/services/teplo/design.png")
          .service-card__header
            .service-card__title Проектирование
            .service-card__more Подробнее
        // END: SERVICE CARD

        // SERVICE CARD
        a.service-card.service-card_red(href="/thermal-imagers/services/mounting.html")
          img.service-card__img(src="/images/services/teplo/mounting.png")
          .service-card__header
            .service-card__title Монтаж
            .service-card__more Подробнее
        // END: SERVICE CARD

        // SERVICE CARD
        a.service-card.service-card_red(href="/thermal-imagers/services/service.html")
          img.service-card__img(src="/images/services/teplo/service.png")
          .service-card__header
            .service-card__title Сервис
            .service-card__more Подробнее
        // END: SERVICE CARD

        // SERVICE CARD
        a.service-card.service-card_red(href="/thermal-imagers/services/climate-tests.html")
          img.service-card__img(src="/images/services/teplo/climate-tests.png")
          .service-card__header
            .service-card__title Климатические испытания
            .service-card__more Подробнее
        // END: SERVICE CARD

      // END: SERVICES CARDS
  // END: SERVICES PAGE


  br
  br


  include ../../../blocks/contacts
  include ../../../blocks/footer
