extends tpl

block image
  img(src="/images/services/teplo/mounting.png")

block article
  h2 Монтаж
  p Производим установку и пусконаладочные работы, настраиваем и интегрируем тепловизоры в существующую систему безопасности.
  p Проводим инструктаж персонала и предотвращаем некорректную работу сложного оборудования, связанную с неправильной установкой или эксплуатацией необученным персоналом.
