extends tpl

block image
  img(src="/images/services/teplo/service.png")

block article
  h2 Сервис
  p Предоставляем услуги гарантийного и послегарантийного ремонта.
  p Оперативно выезжаем на объект заказчика, проводим диагностику оборудования и устраняем неполадки на месте или в собственном сертифицированном сервисном центре, в Санкт-Петербурге. На период ремонта предоставляем заказчику временную замену оборудования.
