extends ../../../layouts/base
include ../../../mixins/nav-bar

block append vars
  include ../../../data/nav-items-teplo

block body
  +nav-bar({ isWhite: true, navItems })

  include ../../../blocks/menu
  include ../../../blocks/category-carousel-teplo


  br
  br

  .container
    // SERVICES PAGE
    .service-page
      .service-page__image
        block image
          img(src='/images/services/teplo/climate-tests.png')

      .service-page__article
        block article
          h3 Климатические испытания
          h4 Предлагаем заказчику собственные услуги по проверке оборудования:
          ul.list-parallelogram
            li испытание на воздействие повышенной температуры внешней среды;
            li испытание на воздействие пониженной температуры внешней среды;
            li испытание на воздействие атмосферных конденсированных осадков.
          br
          p
            | С помощью климатических испытаний, мы создаем оборудование для эксплуатации на объектах с самыми разными
            | погодными и ландшафтными условиями: при низких температурах; на морских объектах при воздействии соленой воды; в условиях сильных ветров; на военных и стратегических объектах.

        br
        br
        a.service-page__btn.btn(href="#contacts")
          | Заказать услугу
    // END: SERVICES PAGE


  br
  br


  #contacts
    include ../../../blocks/contacts
  include ../../../blocks/footer
