-
  var navItems = [
    { title: 'Преимущества',   href: '/thermal-imagers/#advantages' },
    { title: 'Применение',     href: '/thermal-imagers/#applying' },
    { title: 'Центр загрузки', href: '/thermal-imagers/#downloads' },
    { title: 'Контакты',       href: '/thermal-imagers/#contacts' }
  ];
