-
  var navItems = [
    { title: 'Преимущества',   href: '/gas-analysis/#advantages' },
    { title: 'Применение',     href: '/gas-analysis/#applying' },
    { title: 'Центр загрузки', href: '/gas-analysis/#downloads' },
    { title: 'Контакты',       href: '/gas-analysis/#contacts' }
  ];
