-
  var newsList = [
    {
      "published": true,
      "preview": "/uploads/news/1/preview.jpg",
      "date": "18 сентября 2018",
      "title": "«НПО «АМБ» участник учебно-методического сбора «Траснефть-Балтика-2018»",
      "description": "13 сентября 2018 года на базе ООО «Транснефть-Балтика» в Углово, Ленинградской области прошел учебно-методический сбор сотрудников подразделений безопасности. Организатором ежегодного мероприятия выступило ООО «Транснефть-Балтика»",
      "href": "/news/1.html",
      "gallery": [
        "/uploads/news/1/1.jpg",
        "/uploads/news/1/2.jpg"
      ]
    },
    {
      "published": true,
      "preview": "/uploads/news/2/preview.jpg",
      "date": "15 января 2019",
      "title": "Компания «АМБ» - резидент ВИТ «Эра»",
      "description": "В рамках подписанного ранее Соглашения о научно-техническом сотрудничестве, компания «АМБ» совместно с ВИТ «Эра» провели демонстрацию своих новейших технических разработок в сфере газоанализа.",
      "href": "/news/2.html",
      "gallery": [
        "/uploads/news/2/1.jpg",
        "/uploads/news/2/2.jpg",
        "/uploads/news/2/3.jpg",
        "/uploads/news/2/4.jpg",
        "/uploads/news/2/5.jpg"
      ]
    },
    {
      "published": true,
      "preview": "/uploads/news/3/preview.jpg",
      "date": "25 апреля 2019",
      "title": "Участие в конференции «РХБ защита Арктики»",
      "description": "Научно-практическая конференция «РХБ защита войск и населения в Арктическом регионе. Проблемные вопросы и пути их решения» прошла в «33 Центральном научно-исследовательском испытательном институте» Минобороны РФ в Вольске.",
      "href": "/news/3.html",
      "logo": "/uploads/news/3/logo.png",
      "gallery": [ "/uploads/news/3/2.jpg" ]
    },
    {
      "published": true,
      "preview": "/uploads/news/4/preview.jpg",
      "date": "12 июня 2019",
      "title": "Поздравляем коллег и партнеров с Днем России!",
      "description": "Уважаемые коллеги и партнеры! Компания «АМБ» поздравляет вас с государственным праздником - Днем России! Желаем перспективных проектов, интересных идей и успешного развития! Мира, добра и благополучия вам и вашим близким!",
      "href": "/news/4.html",
      "logo": "/uploads/news/4/preview.jpg"
    },
    {
      "published": false,
      "preview": "/uploads/news/5/preview.jpg",
      "date": "30 июня 2019",
      "title": "«АМБ» участник «Sensor + Test-2019»",
      "description": "25-27 июня Компания «АМБ» приняла участие в выставке «Sensor + Test-2019», которая ежегодно проходит в Германии и является крупнейшим мировым форумом по сенсорным технологиям. На мероприятии встретились ведущие международные бренды - лидеры в производстве измерительного, испытательного оборудования, умных сенсоров и систем.",
      "href": "/news/5.html",
      "logo": "/uploads/news/5/sensor_test_logo.jpg",
      "gallery": [
        "/uploads/news/5/1.jpg",
        "/uploads/news/5/2.jpg",
        "/uploads/news/5/3.jpg",
      ]
    },
    {
      "published": true,
      "preview": "/uploads/news/6/preview.jpg",
      "date": "1 июля 2019",
      "title": "Газоанализаторы «АМБ» презентовали Путину",
      "description": "В рамках Международного военно-технического форума «Армия-2019» Компания «АМБ», разработчик и производитель масштабируемых систем мониторинга и безопасности, совместно с ВИТ «ЭРА» продемонстрировали Президенту РФ свои новейшие разработки.",
      "href": "/news/6.html",
      "logo": "/uploads/news/6/army_logo.png",
      "gallery": [
        "/uploads/news/6/1.jpg",
        "/uploads/news/6/2.jpg",
        "/uploads/news/6/3.jpg",
      ]
    },
    {
      "published": true,
      "preview": "/uploads/news/7/preview.jpg",
      "logo": "/uploads/news/7/logo.png",
      "date": "11 марта 2020",
      "title": "«АМБ» поможет в борьбе с эпидемией",
      "description": "В компании «НПО «АМБ» разработана новая линейка тепловизоров для дистанционного температурно-эпидемиологического контроля.",
      "href": "/news/7.html",
      // "gallery": [
      //   "/uploads/news/7/1.jpg",
      //   "/uploads/news/7/2.jpg",
      // ]
    }
  ]
