extends tpl

block page
  .container
    .category
      h3.category__title Видеокамеры
      p.category__desc
        | Высокочувствительные видеокамеры с ИК подсветкой позволяют формировать детализированное изображение высокого качества и оснащены детектором движения. IP-камера с функцией стабилизации выполнена в герметичном всепогодном корпусе.
      p.text-center
        button.category__btn
          .category__btn-icon
            img.icon(src="/images/arrow-down.svg")
          .category__btn-label Посмотреть продукцию
      p
        .category__image
          img(src="/images/catalog/categories/camcorders.png")

  .category-products
    .container
      .category-products__wrp

        // MODEL CARD
        a.model-card(href="/thermal-imagers/catalog/models/stationary-camcorders.html")
          .model-card__title Стационарные
          .model-card__modeles 12 моделей
          .model-card__image
            img(src="/images/catalog/models/stationary-camcorders.png")
        // END: MODEL CARD

        // MODEL CARD
        a.model-card(href="/thermal-imagers/catalog/models/swivel-camcorders.html")
          .model-card__title Поворотные
          .model-card__modeles 5 моделей
          .model-card__image
            img(src="/images/catalog/models/swivel-camcorders.png")
        // END: MODEL CARD
