extends tpl

block page

  .container
    .category
      h3.category__title
        | Медицинские тепловизоры и ОТК
      p.category__desc
        | Предназначены для непрерывного мониторинга и выявления людей с повышенной температурой тела. Эффективны для эпидемиологического контроля и предотвращения распространения инфекционных заболеваний.
      p.text-center
        button.category__btn
          .category__btn-icon
            img.icon(src="/images/arrow-down.svg")
          .category__btn-label Посмотреть продукцию
      p
        .category__image
          img(src="/images/catalog/categories/medical.png")

  .category-products
    .container
      .category-products__wrp
        a.product-card(href="/thermal-imagers/catalog/products/TV0201.12U.html")
          .product-card__image
            img(src="/images/catalog/products/TV0201.12U_preview.png")
          .product-card__data
            .product-card__title
              .product-card__model ИРБИС | МЕД T0201.12U
              .product-card__name ОТК для температурного эпидемиологического контроля
            .product-card__more Подробнее

        a.product-card(href="/thermal-imagers/catalog/products/T00101.12U.html")
          .product-card__image
            img(src="/images/catalog/products/T00101.12U_preview.png")
          .product-card__data
            .product-card__title
              .product-card__model ИРБИС | МЕД T0101.12U
              .product-card__name тепловизор для температурного эпидемиологического контроля
            .product-card__more Подробнее
