extends tpl

block page

  .container
    .category
      h3.category__title
        | Оптико-тепловизионные комплексы
      p.category__desc
        | Представляют собой скоростную поворотную платформу, оснащенную тепловизором с трансфокатором и тепловизионной камерой день/ночь с интегрированным трансфокатором. Корпус изготовлен из алюминия, что позволяет использовать оборудование в сложных климатических условиях.
      p.text-center
        button.category__btn
          .category__btn-icon
            img.icon(src="/images/arrow-down.svg")
          .category__btn-label Посмотреть продукцию
      p
        .category__image
          img(src="/images/catalog/categories/otc.png")

  .category-products
    .container
      .category-products__wrp
        // MODEL CARD
        .a.model-card(href="/thermal-imagers/catalog/models/stationary-uncooled.html")
          .model-card__title Стационарные неохлаждаемые
          .model-card__modeles 12 моделей
          .model-card__image
            img(src="/images/catalog/models/stationary-uncooled-otc.png")
        // END: MODEL CARD

        // MODEL CARD
        a.model-card(href="/thermal-imagers/catalog/enclosures/rotary-uncooled.html")
          .model-card__title Поворотные неохлаждаемые
          .model-card__modeles 5 моделей
          .model-card__image
            img(src="/images/catalog/models/rotary-uncooled-otc.png")
        // END: MODEL CARD

        // MODEL CARD
        a.model-card(href="/thermal-imagers/catalog/enclosures/rotary-cooled.html")
          .model-card__title Поворотные охлаждаемые
          .model-card__modeles 12 моделей
          .model-card__image
            img(src="/images/catalog/models/rotary-cooled-otc.png")
        // END: MODEL CARD

        // MODEL CARD
        .a.model-card(href="/thermal-imagers/catalog/models/explosion-proof-stationary.html")
          .model-card__title Стационарные взрывозащищенные
          .model-card__modeles 7 моделей
          .model-card__image
            img(src="/images/catalog/models/explosion-proof-stationary-otc.png")
        // END: MODEL CARD

        // MODEL CARD
        .a.model-card(href="/thermal-imagers/catalog/models/explosion-proof-rotary.html")
          .model-card__title Поворотные взрывозащищенные
          .model-card__modeles 7 моделей
          .model-card__image
            img(src="/images/catalog/models/explosion-proof-rotary-otc.png")
        // END: MODEL CARD

        // MODEL CARD
        .a.model-card(href="/thermal-imagers/catalog/models/multispectral.html")
          .model-card__title Мультиспектральные
          .model-card__modeles 12 моделей
          .model-card__image
            img(src="/images/catalog/models/multispectral-otc.png")
        // END: MODEL CARD
