extends tpl

block page
  .container
    .category
      h3.category__title Поворотные устройства
      p.category__desc
        | Предназначены для перемещения установленного на них оборудования
        | в заданных пределах с регулируемыми скоростями.
        | Обеспечивает широкий диапазон углов наклона и высокую поворотную скорость,
        | что значительно увеличивает ракурсы наблюдения.
      p.text-center
        button.category__btn
          .category__btn-icon
            img.icon(src="/images/arrow-down.svg")
          .category__btn-label Посмотреть продукцию
      p
        .category__image
          img(src="/images/catalog/categories/rotary-devices.png")

  .category-products
    .container
      .category-products__wrp
        a.product-card(href="/thermal-imagers/catalog/products/irbis-opu.html")
          .product-card__image
            img(src="/images/catalog/models/slewing-ring-rotary-devices.png")
          .product-card__data
            .product-card__title
              .product-card__model ИРБИС | ОПУ
              .product-card__name ОПОРНО-ПОВОРОТНОЕ УСТРОЙСТВО
            .product-card__more Подробнее
