extends tpl

block page
  .container
    .category
      h3.category__title Тепловизоры
      p.category__desc
        | Разработаны на основе самых передовых достижений в области тепловизионного наблюдения и видеоанализа,
        | с учетом практического опыта эксплуатации на масштабных объектах.
        | Обеспечивают максимальную степень защиты.
      p.text-center
        button.category__btn
          .category__btn-icon
            img.icon(src="/images/arrow-down.svg")
          .category__btn-label Посмотреть продукцию
      p
        .category__image
          img(src="/images/catalog/categories/thermal-imagers.png")

  .category-products
    .container
      .category-products__wrp

        // MODEL CARD
        .a.model-card(href="/thermal-imagers/catalog/models/stationary-thermal-imagers.html")
          .model-card__title Стационарные
          .model-card__modeles 12 моделей
          .model-card__image
            img(src="/images/catalog/models/stationary-thermal-imagers.png")
        // END: MODEL CARD

        // MODEL CARD
        .a.model-card(href="/thermal-imagers/catalog/models/swivel-thermal-imagers.html")
          .model-card__title Поворотные
          .model-card__modeles 5 моделей
          .model-card__image
            img(src="/images/catalog/models/swivel-thermal-imagers.png")
        // END: MODEL CARD

        // MODEL CARD
        .a.model-card(href="/thermal-imagers/catalog/models/explosion-proof-stationary-thermal-imagers.html")
          .model-card__title Взрывозащищенные стационарные
          .model-card__modeles 12 моделей
          .model-card__image
            img(src="/images/catalog/models/explosion-proof-stationary-thermal-imagers.png")
        // END: MODEL CARD

        // MODEL CARD
        .a.model-card(href="/thermal-imagers/catalog/models/tpl.html")
          .model-card__title Взрывозащищенные поворотные
          .model-card__modeles 7 моделей
          .model-card__image
            img(src="/images/catalog/models/explosion-proof-rotary-thermal-imagers.png")
        // END: MODEL CARD
