extends ../../../../layouts/base
include ../../../../mixins/nav-bar

block append vars
  include ../../../../data/nav-items-teplo

block body
  +nav-bar({ isWhite: true, navItems })
  include ../../../../blocks/menu
  include ../../../../blocks/category-carousel-teplo

  block page
    .container
      .category
        h3.category__title Тепловизоры
        p.category__desc
         | Неохлаждаемые стационарные тепловизоры разработаны на базе надежной неохлаждаемой матрицы с разрешением 640х512 или 384х288 пикселей с атермальным объективом от 19 до 100 мм, имеет монофокальный объектив из монокристаллического германия. Оснащено высоконадежным корпусом со степенью защиты IP66.
        p.text-center
          button.category__btn
            .category__btn-icon
              img.icon(src="/images/arrow-down.svg")
            .category__btn-label Посмотреть продукцию
        p
          .category__image
            img(src="/images/catalog/products/thermal-imagers.png")

    .category-products
      .container
        .category-products__wrp

          a.model-card(href="/thermal-imagers/catalog/enclosures/tpl.html")
            .model-card__title Стационарные
            .model-card__modeles 12 моделей
            .model-card__image
              img(src="/images/catalog/products/stationary_preview.png")

  include ../../../../blocks/contacts
  include ../../../../blocks/footer
