extends tpl

block page
  .model-page
    .container
      .model-page__header
        .model-page__header-text
          h2 Поворотные видеокамеры
          p Скоростные купольные высокочувствительные видеокамеры с варифокальной лазерной подсветкой. Позволяют формировать детализированное изображение высокого качества. IP- камера выполнена в герметичном, всепогодном корпусе с функцией стабилизации изображения. Видеокамера оснащена детектором движения, что обеспечивает быстрое реагирование.
        .model-page__header-image
          img(src="/images/catalog/enclosures/swivel-camcorders.png")
      .model-page__lineup
        h3.model-page__lineup-h Модельный ряд
        .model-page__lineup-items
          // MODEL TABLE
          a.model-table(href="/thermal-imagers/catalog/products/swivel-camcorder-1.html")
            .model-table__row
              .model-table__cell
                .model-table__title Наименование
                .model-table__value
                  b
                    | ИРБИС TCI
                    br
                    | VC2MpF4,7-103, 4.LS500.12N
            .model-table__row
              .model-table__cell
                .model-table__title Тип подсветки
                .model-table__value Лазерная
            .model-table__row
              .model-table__cell
                .model-table__title Фокус
                .model-table__value 3,4-122,4 мм
            .model-table__row
              .model-table__cell
                .model-table__title Разрешение
                .model-table__value 2 Мпикс
            .model-table__row
              .model-table__cell
                .model-table__value
                  span.model-table__more Смотреть
          // END: MODEL TABLE

          // MODEL TABLE
          a.model-table(href="/thermal-imagers/catalog/products/swivel-camcorder-2.html")
            .model-table__row
              .model-table__cell
                .model-table__title Наименование
                .model-table__value
                  b
                    | ИРБИС TCI
                    br
                    | VC1300F4,7-103, 4.LS500.12N
            .model-table__row
              .model-table__cell
                .model-table__title Тип подсветки
                .model-table__value Лазерная
            .model-table__row
              .model-table__cell
                .model-table__title Фокус
                .model-table__value 4,7 -103,4 мм
            .model-table__row
              .model-table__cell
                .model-table__title Разрешение
                .model-table__value 1.3 Мпикс
            .model-table__row
              .model-table__cell
                .model-table__value
                  span.model-table__more Смотреть
          // END: MODEL TABLE



          // MODEL TABLE
          a.model-table(href="/thermal-imagers/catalog/products/swivel-camcorder-3.html")
            .model-table__row
              .model-table__cell
                .model-table__title ИРБИС ТСI VC1300F4,7-103, 4.IR100.12N
                .model-table__value
                  b
                    | ИРБИС TCI
                    br
                    | VC1300F4,7-103, 4.LS500.12N
            .model-table__row
              .model-table__cell
                .model-table__title Тип подсветки
                .model-table__value ИК
            .model-table__row
              .model-table__cell
                .model-table__title Фокус
                .model-table__value 4,7 -103,4 мм
            .model-table__row
              .model-table__cell
                .model-table__title Разрешение
                .model-table__value 1.3 Мпикс
            .model-table__row
              .model-table__cell
                .model-table__value
                  span.model-table__more Смотреть
          // END: MODEL TABLE

          // MODEL TABLE
          a.model-table(href="/thermal-imagers/catalog/products/swivel-camcorder-3.html")
            .model-table__row
              .model-table__cell
                .model-table__title Наименование
                .model-table__value
                  b
                    | ИРБИС TCI
                    br
                    | VC2MpF4,7-103, 4.IR500.12N
            .model-table__row
              .model-table__cell
                .model-table__title Тип подсветки
                .model-table__value ИК
            .model-table__row
              .model-table__cell
                .model-table__title Фокус
                .model-table__value 4,7 -103,4 мм
            .model-table__row
              .model-table__cell
                .model-table__title Разрешение
                .model-table__value 2 Мпикс
            .model-table__row
              .model-table__cell
                .model-table__value
                  span.model-table__more Смотреть
          // END: MODEL TABLE
