extends ../../../../layouts/base
include ../../../../mixins/nav-bar

block append vars
  include ../../../../data/nav-items-teplo

block body
  +nav-bar({ isWhite: true, navItems })
  include ../../../../blocks/menu
  include ../../../../blocks/category-carousel-teplo

  block page
    .model-page
      .container
        .model-page__header
          .model-page__header-text
            h2 Поворотные охлаждаемые ОТК
            p Оптимально подходят для обнаружения и слежения за объектом на больших расстояниях (авто – 60 км, человека – до 20 км). Используется на особо протяженных объектах для идентификации удаленных целей. Эффективно для сканирования в любых погодных условиях.
            p
              span.small Для параметров обнаружения и идентификации указаны предельно максимальные дальности обнаружения и идентификации цели на основе расчета по критерию Джонсона. Реальная дальность обнаружения и идентификации цели может отличаться от указанной и зависит от фактических значений ряда параметров, относящихся к контролируемой области (в том числе внешние воздействующие факторы окружающей среды), самой цели и наблюдателю.
          .model-page__header-image
            img(src="/images/catalog/models/rotary-cooled-otc.png")
        .model-page__lineup
          h3.model-page__lineup-h Модельный ряд 384 х 288 пикселей
          .model-page__lineup-items
            // MODEL TABLE
            a.model-table
              .model-table__row
                .model-table__cell
                  .model-table__title Наименование
                  .model-table__value
                    b
                      | ИРБИС TCII
                      br
                      | VC1920F12-360.ТМ320F60/240.12U
              .model-table__row
                .model-table__cell
                  .model-table__title Фокус
                  .model-table__value 60/240 мм
              .model-table__row
                .model-table__cell
                  .model-table__title Угол обзора по горизонтали
                  .model-table__value 0.5°/1°
              .model-table__row
                .model-table__cell
                  .model-table__title Обнаружение
                  .model-table__value
                    span
                      img.icon(src="/images/icon/walk-1.svg")
                      | 8000 м
                    span
                      img.icon(src="/images/icon/car1.svg")
                      | 24500 м
              .model-table__row
                .model-table__cell
                  .model-table__title Идентификация
                  .model-table__value
                    span
                      img.icon(src="/images/icon/person1.svg")
                      | 2000 м
                    span
                      img.icon(src="/images/icon/noun_car.svg")
                      | 6100 м
              .model-table__row
                .model-table__cell
                  .model-table__title Угол обзора по горизонтали
                  .model-table__value
                    span.model-table__more Смотреть
            // END: MODEL TABLE

            // MODEL TABLE
            .model-table
              .model-table__row
                .model-table__cell
                  .model-table__title Наименование
                  .model-table__value
                    b
                      | ИРБИС TCII
                      br
                      | VC1920F12-360.ТМ320F600/250/50.12U
              .model-table__row
                .model-table__cell
                  .model-table__title Фокус
                  .model-table__value 600/250/50 мм
              .model-table__row
                .model-table__cell
                  .model-table__title Угол обзора по горизонтали
                  .model-table__value 0,5°/1°/5°
              .model-table__row
                .model-table__cell
                  .model-table__title Обнаружение
                  .model-table__value
                    span
                      img.icon(src="/images/icon/walk-1.svg")
                      | 20000 м
                    span
                      img.icon(src="/images/icon/car1.svg")
                      | 61300 м
              .model-table__row
                .model-table__cell
                  .model-table__title Идентификация
                  .model-table__value
                    span
                      img.icon(src="/images/icon/person1.svg")
                      | 5000 м
                    span
                      img.icon(src="/images/icon/noun_car.svg")
                      | 15300 м
              .model-table__row
                .model-table__cell
                  .model-table__title Угол обзора по горизонтали
                  .model-table__value
                    span.model-table__more Смотреть
            // END: MODEL TABLE

        .model-page__lineup
          h3.model-page__lineup-h Модельный ряд 640 х 512 пикселей
          .model-page__lineup-items
            // MODEL TABLE
            a.model-table
              .model-table__row
                .model-table__cell
                  .model-table__title Наименование
                  .model-table__value
                    b
                      | ИРБИС TCII
                      br
                      | VC1920F12-360.ТМ320F600/250/50.12U
              .model-table__row
                .model-table__cell
                  .model-table__title Фокус
                  .model-table__value 600/250/50 мм
              .model-table__row
                .model-table__cell
                  .model-table__title Угол обзора по горизонтали
                  .model-table__value 1°/2°/11°
              .model-table__row
                .model-table__cell
                  .model-table__title Обнаружение
                  .model-table__value
                    span
                      img.icon(src="/images/icon/walk-1.svg")
                      | 20000 м
                    span
                      img.icon(src="/images/icon/car1.svg")
                      | 61300 м
              .model-table__row
                .model-table__cell
                  .model-table__title Идентификация
                  .model-table__value
                    span
                      img.icon(src="/images/icon/person1.svg")
                      | 5000 м
                    span
                      img.icon(src="/images/icon/noun_car.svg")
                      | 15300 м
              .model-table__row
                .model-table__cell
                  .model-table__title Угол обзора по горизонтали
                  .model-table__value
                    span.model-table__more Смотреть
            // END: MODEL TABLE


  include ../../../../blocks/contacts
  include ../../../../blocks/footer
